/* @import url(../imports/base.css); */


/* mobile css */
*{
	font-family: "DejaVu Sans", Verdana,Tahoma,Arial,sans-serif;
    font-size: 18px;
	margin:0;
	padding:0;
	border: none;
}
#espace_stats_pub {display:none;}
#pub {display:none;}
div#logo {display:none;}
div#stats {display:none;}
div#espace_menu_centre {display:none;}
div#skyscraper {display:none;}
.cleaner {display:none;}


/*
 * #actbar et #menu sont la navigation du site
 */

div#actbar {
	position:fixed;
	padding-left:35px;
	margin:1;
	border: 1px solid #222;
	background-color:#EEE;
	width:92%;
}

div#actbar li{
	list-style: none;
	display: inline;
}
div#actbar li > img{
	display: none;
}
/* masquer les icones au dela de 8 */
div#actbar li:nth-child(n+8){
	display:none;
}

/* 1er niveau de menu */
div#menu {
	width: 80%;
	background-image:url(../../img/acts/gen.png);
	background-repeat:no-repeat;
	background-position:1px 1px;
	border: none;
	padding-top:38px;
	position:fixed;
	max-height:0px;
	max-width:36px;
	overflow: hidden;
	transition: 1s max-height 0.3s;
	transition: 1s max-width 0.3s;
}

div#menu:hover, div#menu:focus{
	max-height:480px;
	max-width:80%;
}

div#menu ul{
	margin:0;
	padding:2px;
}
div#menu li{
	list-style: none;
}

.menu_gauche {
	max-height:36px;
	overflow: hidden;
	transition: 1s max-height 0.3s;
	background: #1ABC9C;
}

.menu_gauche a{
  text-decoration: none;
  color: #666;
}

.menu_gauche h2{
  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}
/* styles changeants au survol et focus */
.menu_gauche h2:hover,
.menu_gauche h2:focus {
  background: #1ABC9C;
  color: #FFF;
  padding-left: 30px; /* décalage du contenu de 10px vers la droite (30-20 = 10) */
}

/* ici on change la valeur de max-height au :hover */
.menu_gauche:hover {
	/* à adapter, le minimum est le meilleur mais voyez large 😉 */
	max-height: 380px;
}


/* Titres */
h2
{ 
  color: #222; 
  font-size: 20px;
  padding:5px;
  margin:0;
  border: 1px solid #222;
  background-color:#EEE;
  
}

div.haut, div.bas{
	display:none;
}

div#module {
	padding-top:95px;
}

div#contenu{
	margin:2px;
	width:100%;
	border:none;
}

div.block_forum{
	border: 1px solid #222;
	padding:2px;
}
div.block_forum p:last-child, div.block_forum p:last-child *{
	font-size: 12px;
	font-style: italic;
}



div#footer ul{
	display: none;
}
div#footer *{
	font-size: 8px;
}

/* debug zone */
div.block{
	max-width:100%;
	border:none;
}
div.block dd,div.block dt,div.block ul{
	overflow-x:scroll;
	border: 1px solid #222;
	font-size: 8px;
}
div.block *,div.block *{
	overflow-x:scroll;
	font-size: 8px;
}
