/****************************************************************/
/* 1. background and text colours */
/****************************************************************/

/* 1.1 default background colour and text colour */

body {background-image: url("../img/last_hope/fond.png");background-color: #b8c5d7; filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7;}

.pun {color: #000000}

div.box, .pun blockquote, div.codebox, #adminconsole fieldset th, .rowodd, .roweven {background-color: #b8c5d7; border-color: #555555 }

.pun blockquote { color: #fff; -moz-border-radius: 1%; width:90%; text-align:left; background-color: #212120; border:none;  padding: 5px;  margin:10px; }
div.codebox {  color: #fff; width:95%; text-align:left; background-color: #212120;    border: none;   padding: 5px;  margin:10px; overflow:auto; }

#adminconsole td, #adminconsole th {border-color: #000000}


/* 1. 2 darker background colours */

td.tc2, td.tc3, td.tcmod, #postpreview, #viewprofile dd, div.forminfo,
#adminconsole fieldset td, div.blockmenu div.box, #adstats dd {background-color: #ffffff}

/* 1.3 main headers and navigation bar background and text colour */

.pun h2, #brdmenu {background-color: #060d2b; background-image: url("../img/last_hope/menu.png"); background-repeat: repeat-x ; border-color: #555555 ; color: #fff; font-style: italic;}

/* 1.4 table header rows */

.pun th { color:#000000; font-style: blod;}

/* 1.5 fieldset legend text colour */

.pun legend {color: #000000}

/* 1.6 highlighted text for various items */

.pun div.blockmenu li.isactive a, #posterror li strong {color: #000000}

div .linkst { color: #ffffff }
div .postlinksb { color: #ffffff }
div .linksb { color: #ffffff }
div#brdheader.block { color : #000000;}

/****************************************************************/
/* 2. post backgrounds and text */
/****************************************************************/

/* 2.1 this is the setup for posts. */


div.blockpost div.box {background-color: #EAE9EF}
div.postright, div.postfootright {border-left-color: #b8c5d7;}
div.postleft, div.postfootleft, div.blockpost label {background-color: #b8c5d7}
textarea {background-color: #EAE9EF; color: #000000; }

/* 2.2 background for post headers and text colour for post numbers in viewtopic */

div.blockpost h2 {background-color: #060d2b}


/* 2.3 this is the line above the signature in posts. colour and background should be the same */

.pun hr {background-color: #EAE9EF; color:#000000;}

/****************************************************************/
/* 3. border colours */
/****************************************************************/

/* 3.1 all external borders */

div.box {border-color:#9e9e9e}

/* 3.2 makes the top border of posts match the colour used for post headers */

div.blockpost div.box {border-color: #9e9e9e #9e9e9e #9e9e9e}

/* 3.3 table internal borders. by default th is same as background so border is invisible */

.pun td {border-color: #9e9e9e}
.pun th {border-color: #9e9e9e}

/* 3.4 creates the inset border for quote boxes, code boxes and form info boxes */

div.forminfo, div.blockpost label {border-color: #9e9e9e #fff #fff #9e9e9e}

/* 3.5 gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with ie's rather nice default */

.pun div>fieldset {border-color: #9e9e9e}

textarea {border-color: #9e9e9e}

/****************************************************************/
/* 4. link colours */
/****************************************************************/

/* 4.1 this is the default for all links */

.pun a:link, .pun a:visited {color: #394164}
.pun a:hover {color: #7b9cc5}

/* 4.2 this is the colour for links in header rows and the navigation bar */

.pun h2 a:link, .pun h2 a:visited, #brdmenu a:link, #brdmenu a:visited {color: #fff}
.pun h2 a:hover, #brdmenu a:hover {color: #fff}

/* 4.3 this is for closed topics and "hot" links */

li.postreport a:link, li.postreport a:visited, tr.iclosed td.tcl a:link, tr.iclosed td.tcl a:visited {color: #ffffff}
li.postreport a:hover {color: silver;} 
li.maintenancelink a:link, li.maintenancelink a:visited {color: #4C5C7B}
li.maintenancelink a:hover {color: #4C5C7B}

tr.iclosed td.tcl a:visited,tr.iclosed td.tcl a, tr.iclosed td.tcl a:link {
color: #fff ;
} 
tr.iclosed td.tcl a:hover{ 
color: #999999 ;
}
.pun div.linkst  a:link { color: #ffffff;}
.pun div.linkst  a:visited { color: #ffffff;}
.pun div.linkst  a:hover { color: #8b9dc0;}
.pun div.linksb div.inbox a:link { color: #ffffff;}
.pun div.linksb div.inbox a:visited { color: #ffffff;}
.pun div.linksb div.inbox a:hover { color: #8b9dc0;}
.postlinksb a:link, .postlinksb a:visited {color:#ffffff}
.postlinksb a:hover{ color: #8b9dc0;}

/****************************************************************/
/* 5. post status indicators */
/****************************************************************/

/* these are the post status indicators which appear at the left of some tables. 
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. the default is "icon". by default only .inew is different.*/

div.icon { background: url("../img/last_hope/icons/icon.png")  }

tr.iredirect div.icon {background: url("../img/last_hope/icons/icon.png"); }
tr.inew div.icon { background: url("../img/last_hope/icons/new.png"); }
tr.iclosed div.icon { background: url("../img/last_hope/icons/closed.png"); }
tr.isticky div.icon { background: url("../img/last_hope/icons/sticky.png"); }