{res[2][alt][1]} = ##Or##
{res[2][alt][2]} = ##Bois##
{res[2][alt][3]} = ##Pierres##
{res[2][alt][4]} = ##Viande##
{res[2][alt][5]} = ##Fer##
{res[2][alt][6]} = ##Charbon##
{res[2][alt][7]} = ##Loups géants##
{res[2][alt][8]} = ##Acier##
{res[2][alt][9]} = ##Mithril##
{res[2][alt][10]} = ##Armure en cuir##
{res[2][alt][11]} = ##Armure cloutée##
{res[2][alt][12]} = ##Epée##
{res[2][alt][13]} = ##Hache##
{res[2][alt][14]} = ##Arc##
{res[2][alt][15]} = ##Lance##
{res[2][alt][16]} = ##Armure en acier##
{res[2][alt][17]} = ##Cotte de mithril##
{res[2][alt][18]} = ##Forêt##
{res[2][alt][19]} = ##Gisement de Fer##
{res[2][alt][20]} = ##Gisement de Charbon##
{res[2][alt][21]} = ##Filon d'Or##
{res[2][alt][22]} = ##Population##
{res[2][alt][23]} = ##Montagne##

{btc[2][alt][1]} = ##Repaire##
{btc[2][alt][2]} = ##Carrière##
{btc[2][alt][3]} = ##Scierie##
{btc[2][alt][4]} = ##Hutte##
{btc[2][alt][5]} = ##Cabane de chasseur##
{btc[2][alt][6]} = ##Aire d'entrainement##
{btc[2][alt][7]} = ##Mine d’or##
{btc[2][alt][8]} = ##Marché##
{btc[2][alt][9]} = ##Forge##
{btc[2][alt][10]} = ##Mine de Charbon##
{btc[2][alt][11]} = ##Mine de fer##
{btc[2][alt][12]} = ##Fonderie##
{btc[2][alt][13]} = ##Atelier##
{btc[2][alt][14]} = ##Tannière des loups##
{btc[2][alt][15]} = ##Tours##
{btc[2][alt][16]} = ##Temple##
{btc[2][alt][17]} = ##Portail##
{btc[2][alt][18]} = ##Fortin##

{btcact[2][title][1][unt]} = ##Former##
{btcact[2][title][1][src]} = ##Recherches##
{btcact[2][title][6][unt]} = ##Entraîner##
{btcact[2][title][8][ach]} = ##Commerce##
{btcact[2][title][9][res]} = ##Armures##
{btcact[2][title][13][unt]} = ##Atelier##
{btcact[2][title][14][res]} = ##Dressage##
{btcact[2][title][16][unt]} = ##Magie##
{btcact[2][title][17][unt]} = ##Portail##

{unt[2][alt][1]} = ##Gobelin##
{unt[2][alt][2]} = ##Gobelin Chasseur##
{unt[2][alt][3]} = ##Gobelin Forgeron##
{unt[2][alt][4]} = ##Gobelin Bûcheron##
{unt[2][alt][5]} = ##Gobelin Creuseur##
{unt[2][alt][6]} = ##Orc##
{unt[2][alt][7]} = ##Soldat Orc##
{unt[2][alt][8]} = ##Soldat épée##
{unt[2][alt][9]} = ##Guerrier épée##
{unt[2][alt][10]} = ##Grand Guerrier épée##
{unt[2][alt][11]} = ##Soldat arc##
{unt[2][alt][12]} = ##Guerrier arc##
{unt[2][alt][13]} = ##Grand Guerrier arc##
{unt[2][alt][14]} = ##Soldat lance##
{unt[2][alt][15]} = ##Guerrier lance##
{unt[2][alt][16]} = ##Grand Guerrier lance##
{unt[2][alt][17]} = ##Soldat hache##
{unt[2][alt][18]} = ##Guerrier hache##
{unt[2][alt][19]} = ##Grand Guerrier hache##
{unt[2][alt][20]} = ##Dresseur de loup##
{unt[2][alt][21]} = ##Chevaucheur de loup##
{unt[2][alt][22]} = ##Grand chevaucheur de loup##
{unt[2][alt][23]} = ##Catapulte##
{unt[2][alt][24]} = ##Baliste##
{unt[2][alt][25]} = ##Belier##
{unt[2][alt][26]} = ##Gros Belier##
{unt[2][alt][27]} = ##Guerisseur##
{unt[2][alt][28]} = ##Shaman##
{unt[2][alt][29]} = ##Troll##
{unt[2][alt][30]} = ##Berseker##


{src[2][alt][1]} = ##Epées##
{src[2][alt][2]} = ##Haches##
{src[2][alt][3]} = ##Arcs##
{src[2][alt][4]} = ##Lances##
{src[2][alt][5]} = ##Défense Niveau 1##
{src[2][alt][6]} = ##Défense Niveau 2##
{src[2][alt][7]} = ##Défense Niveau 3##
{src[2][alt][8]} = ##Acier##
{src[2][alt][9]} = ##Elevage##
{src[2][alt][10]} = ##Commerce Niveau 1##
{src[2][alt][11]} = ##Commerce Niveau 2##
{src[2][alt][12]} = ##Armée Niveau 1##
{src[2][alt][13]} = ##Armée Niveau 2##
{src[2][alt][14]} = ##Armée Niveau 3##
{src[2][alt][15]} = ##Mine Niveau 1##
{src[2][alt][16]} = ##Mine Niveau 2##
{src[2][alt][17]} = ##Guerisseurs##
{src[2][alt][18]} = ##Shamans##
{src[2][alt][19]} = ##Trolls##
{src[2][alt][20]} = ##Berserker##
{src[2][alt][21]} = ##Machines##