{res[2][descr][1]} = ##L'Or est la ressource principale du jeu.##
{res[2][descr][2]} = ##Le Bois permet de frabriquer des bâtiments ou des armes.##
{res[2][descr][3]} = ##Les Pierre sont utilisée dans la construction des bâtiments et part les catapultes.##
{res[2][descr][4]} = ##La Viande est nécessaire à vos unités pour survivre.##
{res[2][descr][5]} = ##Le Fer permet de produire des armes.##
{res[2][descr][6]} = ##Le Charbon permet de faire de l'acier si on l'utilise dans une fonderie.##
{res[2][descr][7]} = ##Les Loups Géans permettent de former des Chevaucheur de loups.##
{res[2][descr][8]} = ##L'Acier est la base de toute bonne épée.##
{res[2][descr][9]} = ##Le mithril est plus précieux que l'or et plus résistant que l'acier.##
{res[2][descr][10]} = ##L'Armure en cuir est faite à partir de peau d'animaux, ou de celles des ennemis tués …##
{res[2][descr][11]} = ##L'Armure cloutée est une Armure en cuir améliorée.##
{res[2][descr][12]} = ##L'Epée est une arme relativement peu puissante.##
{res[2][descr][13]} = ##La Hache permet de faire beaucoup plus de dégats que l'épée.##
{res[2][descr][14]} = ##L'Arc permet de lancer des attaques a distance.##
{res[2][descr][15]} = ##La lance peut être projetée, ou utilisée de manière défensive ...##
{res[2][descr][16]} = ##L'Armure en acier protègera beaucoup mieux vos soldats.##
{res[2][descr][17]} = ##La cotte de mithril est extrêment légère et résistante.##
{res[2][descr][18]} = ##La Forêt permet de produire du Bois.##
{res[2][descr][19]} = ##Le Fer est extrait des Gisements de Fer à l'aide de Mines de Fer.##
{res[2][descr][20]} = ##Le Charbon est extrait des Gisements de Charbon à l'aide de Mines de Charbon.##
{res[2][descr][21]} = ##L'Or est extrait des Filons d'Or à l'aide de Mines d'Or.##
{res[2][descr][22]} = ##La place disponible pour vos unités.##
{res[2][descr][23]} = ##Les Montagnes permettent de produire des blocs de pierre.##

{btc[2][descr][1]} = ##Bâtiment Principal, permet d'effectuer des recherches et de former des Gobelins.##
{btc[2][descr][2]} = ##Produit des blocs de Pierre.##
{btc[2][descr][3]} = ##Produit du Bois.##
{btc[2][descr][4]} = ##Les Huttes servent a héberger les unités.##
{btc[2][descr][5]} = ##Produit la Viande nécessaire à vos unités.##
{btc[2][descr][6]} = ##L'Aire d'entrainement est le lieu de formation de vos soldats.##
{btc[2][descr][7]} = ##Produit de L'Or.##
{btc[2][descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs.##
{btc[2][descr][9]} = ##La Forge permet de fabriquer des armes pour votre armée.##
{btc[2][descr][10]} = ##Produit du charbon.##
{btc[2][descr][11]} = ##Produit du fer.##
{btc[2][descr][12]} = ##Mélange le Charbon et le Fer pour Produire de L'Acier. A besoin de la recherche « Acier » pour fonctionner.##
{btc[2][descr][13]} = ##Permet de fabriquer des machines de guerre.##
{btc[2][descr][14]} = ##Capture et dressage des Grand Loups sauvages.##
{btc[2][descr][15]} = ##Les Tours protègent votre village.##
{btc[2][descr][16]} = ##Le Temple permet de former des Guerisseurs ou des Shamans##
{btc[2][descr][17]} = ##Le Portail permet d'amener des Trolls ou des Berseker.##
{btc[2][descr][18]} = ##La Forteresse est la défense ultime pour votre village.##

{btcact[2][descr][1][unt]} = ##Former des nouveaux gobelins.##
{btcact[2][descr][1][src]} = ##Acquérir de nouvelles technologies ..##
{btcact[2][descr][6][unt]} = ##Entraîner des nouveaux orcs..##
{btcact[2][descr][8][ach]} = ##Acheter, Vendre, ...##
{btcact[2][descr][9][res]} = ##Construction d'armes pour les soldats.##
{btcact[2][descr][13][unt]} = ##Constructions d'engins de guerre.##
{btcact[2][descr][14][res]} = ##Dressage de Loups.##
{btcact[2][descr][16][unt]} = ##Former des unités religieuses.##
{btcact[2][descr][17][unt]} = ##Former des unités magiques.##

{unt[2][descr][1]} = ##Le Gobelin construit et répare les bâtiments.##
{unt[2][descr][2]} = ##Le Gobelin Chasseur passe son temps a chasser pour la nourriture. ##
{unt[2][descr][3]} = ##Le Gobelin Forgeron produit l'acier et fait les armes pour votre armée.##
{unt[2][descr][4]} = ##Le Gobelin Bûcheron coupe le bois dont vous avez besoin.##
{unt[2][descr][5]} = ##Le Gobelin Creuseur travaille dans les différentes mines ou dans la carrière.##
{unt[2][descr][6]} = ##L'Orc ne demande qu'a être entrainé pour tuer ses énemis.##
{unt[2][descr][7]} = ##Le Soldat Orc est l'unité militaire de base.##
{unt[2][descr][8]} = ##Le Soldat épée est résistant.##
{unt[2][descr][9]} = ##Le Guerrier épée est résistant.##
{unt[2][descr][10]} = ##Le Grand Guerrier épée est résistant.##
{unt[2][descr][11]} = ##Le Soldat arc est rapide.##
{unt[2][descr][12]} = ##Le Guerrier arc est rapide.##
{unt[2][descr][13]} = ##Le Grand Guerrier arc est rapide.##
{unt[2][descr][14]} = ##Le Soldat lance est une bonne unité défensive.##
{unt[2][descr][15]} = ##Le Guerrier lance est une bonne unité défensive.##
{unt[2][descr][16]} = ##Le Grand Guerrier lance est une bonne unité défensive.##
{unt[2][descr][17]} = ##Le Soldat hache est une unité offensive.##
{unt[2][descr][18]} = ##Le Guerrier hache est une unité offensive.##
{unt[2][descr][19]} = ##Le Grand Guerrier hache est une unité offensive.##
{unt[2][descr][20]} = ##Le Dresseur de loup est une unité offensive et rapide.##
{unt[2][descr][21]} = ##Le Chevaucheur de loup est une unité offensive et rapide.##
{unt[2][descr][22]} = ##Grand chevaucheur de loup est une unité offensive et rapide.##
{unt[2][descr][23]} = ##La Catapulte sert à catapulter des trucs.##
{unt[2][descr][24]} = ##La Baliste sert à lancer des grosses fleches.##
{unt[2][descr][25]} = ##Le Belier il pète tout les murs qu'il voit !##
{unt[2][descr][26]} = ##Le Gros Belier il pète encore plus tout les murs qu'il voit !##
{unt[2][descr][27]} = ##Le Guerisseur donne un bonus de défense à vos unités.##
{unt[2][descr][28]} = ##Le Shaman donne un bonus d'attaque à vos unités.##
{unt[2][descr][29]} = ##Le Troll est fort, mais completement stupide.##
{unt[2][descr][30]} = ##Le Berseker, guerrier nordique completement allumé :D.##

{src[2][descr][1]} = ##Donne accès aux épées.##
{src[2][descr][2]} = ##Donne accès aux haches.##
{src[2][descr][3]} = ##Donne accès aux arcs##
{src[2][descr][4]} = ##Donne accès aux lances.##
{src[2][descr][5]} = ##Permet de construire des Armures en cuir.##
{src[2][descr][6]} = ##Permet de construire des Armures cloutées.##
{src[2][descr][7]} = ##Permet de construire des Armures en Acier et des tours de défense pour votre village.##
{src[2][descr][8]} = ##Le savoir nécessaire à la réalisation de l'acier.##
{src[2][descr][9]} = ##Permet de dresser des Grands Loups sauvages.##
{src[2][descr][10]} = ##Permet de vendre/acheter 50 ressources maximum au marché.##
{src[2][descr][11]} = ##Permet de vendre/acheter 500 ressources maximum au marché.##
{src[2][descr][12]} = ##Permet de construire une Aire d'entrainement et des unités de base pour votre armée.##
{src[2][descr][13]} = ##Donne accès a l'armurerie et aux unités plus puissantes.##
{src[2][descr][14]} = ##Donne accès aux meilleurs unités de guerre.##
{src[2][descr][15]} = ##Permet de construire les mines de base.##
{src[2][descr][16]} = ##Donne accès aux mines de charbon et de fer (permet la fabrication de l'acier).##
{src[2][descr][17]} = ##Permet d'entrainer des Guerisseurs.##
{src[2][descr][18]} = ##Permet d'entrainer des Shamans.##
{src[2][descr][19]} = ##Permet d'invoquer des Trolls.##
{src[2][descr][20]} = ##Permet d'invoquer des Berserker.##
{src[2][descr][21]} = ##Machines de Guerre.##
