{res[3][alt][1]} = ##Or##
{res[3][alt][2]} = ##Bois##
{res[3][alt][3]} = ##Pierres##
{res[3][alt][4]} = ##Champignons##
{res[3][alt][5]} = ##Fer##
{res[3][alt][6]} = ##Charbon##
{res[3][alt][7]} = ##Chevaux##
{res[3][alt][8]} = ##Acier##
{res[3][alt][9]} = ##Mithril##
{res[3][alt][10]} = ##Massue##
{res[3][alt][11]} = ##Marteau de combat##
{res[3][alt][12]} = ##Hache##
{res[3][alt][13]} = ##Hache de guerre##
{res[3][alt][14]} = ##Hache de combat##
{res[3][alt][15]} = ##Marteau de guerre##
{res[3][alt][16]} = ##Cotte de maille##
{res[3][alt][17]} = ##Cotte de mithril##
{res[3][alt][18]} = ##Forêt##
{res[3][alt][19]} = ##Gisement de Fer##
{res[3][alt][20]} = ##Gisement de Charbon##
{res[3][alt][21]} = ##Filon d'Or##
{res[3][alt][22]} = ##Population##
{res[3][alt][23]} = ##Montagne##

{btc[3][alt][1]} = ##Bastion##
{btc[3][alt][2]} = ##Caverne##
{btc[3][alt][3]} = ##Champignonnière##
{btc[3][alt][4]} = ##Mine de pierre##
{btc[3][alt][5]} = ##Mine de charbon##
{btc[3][alt][6]} = ##Mine de fer##
{btc[3][alt][7]} = ##Mine d’or##
{btc[3][alt][8]} = ##Echoppe##
{btc[3][alt][9]} = ##Fonderie##
{btc[3][alt][10]} = ##Caserne##
{btc[3][alt][11]} = ##Ecole militaire##
{btc[3][alt][12]} = ##Haut-fourneau##
{btc[3][alt][13]} = ##Fonderie de mithril##
{btc[3][alt][14]} = ##Forge##
{btc[3][alt][15]} = ##Atelier##
{btc[3][alt][16]} = ##Manufacture naine##
{btc[3][alt][17]} = ##Tour##
{btc[3][alt][18]} = ##Temple##
{btc[3][alt][19]} = ##Ecole runique##
{btc[3][alt][20]} = ##Citadelle##


{btcact[3][title][1][unt]} = ##Former##
{btcact[3][title][1][src]} = ##Rechercher##
{btcact[3][title][8][ach]} = ##Commercer##
{btcact[3][title][10][unt]} = ##Entraîner##
{btcact[3][title][11][unt]} = ##Ecole militaire##
{btcact[3][title][14][res]} = ##Forger##
{btcact[3][title][15][unt]} = ##Atelier##
{btcact[3][title][16][unt]} = ##Fabrique##
{btcact[3][title][18][unt]} = ##Religion##
{btcact[3][title][19][unt]} = ##Rûnes##


{unt[3][alt][1]} = ##Bâtisseur##
{unt[3][alt][2]} = ##Cueilleur##
{unt[3][alt][3]} = ##Mineur##
{unt[3][alt][4]} = ##Maître forgeron##
{unt[3][alt][5]} = ##Maître artisan##
{unt[3][alt][6]} = ##Ingénieur##
{unt[3][alt][7]} = ##Recrue##
{unt[3][alt][8]} = ##Vétéran##
{unt[3][alt][9]} = ##Héros##
{unt[3][alt][10]} = ##Eclaireur##
{unt[3][alt][11]} = ##Milicien##
{unt[3][alt][12]} = ##Combattant nain##
{unt[3][alt][13]} = ##Défenseur nain##
{unt[3][alt][14]} = ##Guerrier nain##
{unt[3][alt][15]} = ##Protecteur nain##
{unt[3][alt][16]} = ##Prêtre de Dumathoin##
{unt[3][alt][17]} = ##Prêtre de Moradin##
{unt[3][alt][18]} = ##Graveur de runes##
{unt[3][alt][19]} = ##Lanceur de runes##
{unt[3][alt][20]} = ##Catapulte attelée##
{unt[3][alt][21]} = ##Bélier attelé##
{unt[3][alt][22]} = ##Bélier Tête-de-mort##
{unt[3][alt][23]} = ##Baliste##
{unt[3][alt][24]} = ##Transport de troupes##

{src[3][alt][1]} = ##Mine Niveau 1##
{src[3][alt][2]} = ##Mine Niveau 2##
{src[3][alt][3]} = ##Commerce Niveau 1##
{src[3][alt][4]} = ##Commerce Niveau 2##
{src[3][alt][5]} = ##Commerce Niveau 3##
{src[3][alt][6]} = ##Fonte de l'acier##
{src[3][alt][7]} = ##Travail de l'acier##
{src[3][alt][8]} = ##Fonte du mithril##
{src[3][alt][9]} = ##Mécanismes simples##
{src[3][alt][10]} = ##Mécanismes complexes##
{src[3][alt][11]} = ##Fortifications##
{src[3][alt][12]} = ##Ecriture runique##
{src[3][alt][13]} = ##Gravure runique##
{src[3][alt][14]} = ##Chasseurs nains##
{src[3][alt][15]} = ##Combattants nains##
{src[3][alt][16]} = ##Guerriers nains##
{src[3][alt][17]} = ##Armes Niveau 1##
{src[3][alt][18]} = ##Armes Niveau 2##
{src[3][alt][19]} = ##Armures Niveau 1##
{src[3][alt][20]} = ##Armures Niveau 2##
{src[3][alt][21]} = ##Machines de guerre Niveau 1##
{src[3][alt][22]} = ##Machines de guerre Niveau 2##
{src[3][alt][23]} = ##Machines de guerre Niveau 3##
{src[3][alt][24]} = ##Fidélité à Moradin##
{src[3][alt][25]} = ##Fidélité à Dumathoïn##