{res[4][alt][1]} = ##Or##
{res[4][alt][2]} = ##Bois##
{res[4][alt][3]} = ##Pierre##
{res[4][alt][4]} = ##Nourriture##
{res[4][alt][5]} = ##Fer##
{res[4][alt][6]} = ##Charbon##
{res[4][alt][7]} = ##Worgs##
{res[4][alt][8]} = ##Acier##
{res[4][alt][9]} = ##Mithril##
{res[4][alt][10]} = ##Bouclier##
{res[4][alt][11]} = ##Massue##
{res[4][alt][12]} = ##Hache##
{res[4][alt][13]} = ##Hallebarde##
{res[4][alt][14]} = ##Arc##
{res[4][alt][15]} = ##Arbalète##
{res[4][alt][16]} = ##Cotte noire##
{res[4][alt][17]} = ##Cotte de mithril##
{res[4][alt][18]} = ##Forêt##
{res[4][alt][19]} = ##Gisement de Fer##
{res[4][alt][20]} = ##Gisement de Charbon##
{res[4][alt][21]} = ##Filon d'Or##
{res[4][alt][22]} = ##Population##
{res[4][alt][23]} = ##Montagne##

{btc[4][alt][1]} = ##Nid##
{btc[4][alt][2]} = ##Carrière##
{btc[4][alt][3]} = ##Scierie##
{btc[4][alt][4]} = ##Habitation##
{btc[4][alt][5]} = ##Aire de Chasse##
{btc[4][alt][6]} = ##Serre de Combat##
{btc[4][alt][7]} = ##Galerie d’or##
{btc[4][alt][8]} = ##Marché##
{btc[4][alt][9]} = ##Maison des Lames##
{btc[4][alt][10]} = ##Fonderie##
{btc[4][alt][11]} = ##Aire de Dressage##
{btc[4][alt][12]} = ##Galerie de Charbon##
{btc[4][alt][13]} = ##Galerie de Fer##
{btc[4][alt][14]} = ##Forge##
{btc[4][alt][15]} = ##Guilde des Chasseurs##
{btc[4][alt][16]} = ##Avant-poste##
{btc[4][alt][17]} = ##Guilde des Lames##
{btc[4][alt][18]} = ##Guilde des Dresseurs##
{btc[4][alt][19]} = ##Demeure##
{btc[4][alt][20]} = ##Temple##
{btc[4][alt][21]} = ##Autel##
{btc[4][alt][22]} = ##Guilde des Forgerons##
{btc[4][alt][23]} = ##Autel des Matrones##
{btc[4][alt][24]} = ##Cité Noire##

{btcact[4][title][1][unt]} = ##Formation##
{btcact[4][title][1][src]} = ##Recherches##
{btcact[4][title][6][unt]} = ##Serre##
{btcact[4][title][9][unt]} = ##Maison des Lames##
{btcact[4][title][17][unt]} = ##Guilde des Lames##
{btcact[4][title][8][ach]} = ##Commerce##
{btcact[4][title][11][unt]} = ##Dressage##
{btcact[4][title][18][unt]} = ##Guilde de Dress.##
{btcact[4][title][14][res]} = ##Forge##
{btcact[4][title][22][unt]} = ##Guilde de Forge##
{btcact[4][title][20][unt]} = ##Temple##
{btcact[4][title][21][unt]} = ##Autel##
{btcact[4][title][23][unt]} = ##Autel des Matrones##

{unt[4][alt][1]} = ##Esclave Serviteur##
{unt[4][alt][2]} = ##Chasseur##
{unt[4][alt][3]} = ##Dresseur##
{unt[4][alt][4]} = ##Forgeron##
{unt[4][alt][5]} = ##Esclave mineur##
{unt[4][alt][6]} = ##Esclave bûcheron##
{unt[4][alt][7]} = ##Convoqué##
{unt[4][alt][8]} = ##Combattant##
{unt[4][alt][9]} = ##Assassin##
{unt[4][alt][10]} = ##Ombre##
{unt[4][alt][11]} = ##Brigand##
{unt[4][alt][12]} = ##Capuche noire##
{unt[4][alt][13]} = ##Hallebardier noir##
{unt[4][alt][14]} = ##Arbalètrier noir##
{unt[4][alt][15]} = ##Géant des Roches##
{unt[4][alt][16]} = ##Ailes nocturnes##
{unt[4][alt][17]} = ##Arachnide Tisseuse##
{unt[4][alt][18]} = ##Worg Guerrier##
{unt[4][alt][19]} = ##Arachnide Guerrière##
{unt[4][alt][20]} = ##Basilic##
{unt[4][alt][21]} = ##Prêtresse de la Nuit##
{unt[4][alt][22]} = ##Clerc de la Nuit##
{unt[4][alt][23]} = ##Maître-lame##
{unt[4][alt][24]} = ##Gardienne##
{unt[4][alt][25]} = ##Envoyée de Lolth##
{unt[4][alt][26]} = ##Envoyée d'Eilistraée##

{src[4][alt][1]} = ##Armes Niveau 1##
{src[4][alt][2]} = ##Armes Niveau 2##
{src[4][alt][3]} = ##Défense Niveau 1##
{src[4][alt][4]} = ##Défense Niveau 2##
{src[4][alt][5]} = ##Fortifications##
{src[4][alt][6]} = ##Fonte de l'acier##
{src[4][alt][7]} = ##Dressage Niveau 1##
{src[4][alt][8]} = ##Dressage Niveau 2##
{src[4][alt][9]} = ##Dressage Niveau 3##
{src[4][alt][10]} = ##Attelage##
{src[4][alt][11]} = ##Commerce Niveau 1##
{src[4][alt][12]} = ##Commerce Niveau 2##
{src[4][alt][13]} = ##Commerce Niveau 3##
{src[4][alt][14]} = ##Armée Niveau 1##
{src[4][alt][15]} = ##Armée Niveau 2##
{src[4][alt][16]} = ##Armée Niveau 3##
{src[4][alt][17]} = ##Galeries Niveau 1##
{src[4][alt][18]} = ##Galeries Niveau 2##
{src[4][alt][19]} = ##Don de la Nuit##
{src[4][alt][20]} = ##Prêtresse de la Nuit##
{src[4][alt][21]} = ##Clerc de la Nuit##
{src[4][alt][22]} = ##Don de Lolth##
{src[4][alt][23]} = ##Don d'Eilistraée##