{res[4][descr][1]} = ##L'or est la ressource principale du marché, produite dans les Galeries d'Or, et importante chez les drows.##
{res[4][descr][2]} = ##Le bois est un matériel de construction récolté grâce à la Scierie.##
{res[4][descr][3]} = ##La Pierre est une ressource produite en grande quantité chez les drows, et qui a plusieurs fonctions.##
{res[4][descr][4]} = ##Fruit de la Chasse, la nourriture sert à alimenter les unités.##
{res[4][descr][5]} = ##Le fer permet, entre autres, la production de l'acier lorsqu'il est fondu avec le Charbon.##
{res[4][descr][6]} = ##Le Charbon permet, entre autres, la production de l'acier lorsqu'il est fondu avec le Fer.##
{res[4][descr][7]} = ##Les worgs attelés sont montés par certaines unités de combat, ce qui accroit leur rapidité et leur puissance.##
{res[4][descr][8]} = ##L'acier est un alliage résistant entre le Charbon et le Fer très utilisé par les drows.##
{res[4][descr][9]} = ##Le mithril est plus précieux que l'or et plus résistant que l'acier, seuls les Nains le produisent.##
{res[4][descr][10]} = ##Le bouclier accroit la protection des unités de combat qui s'en servent.##
{res[4][descr][11]} = ##La massue est forgée sur mesure pour les Géants des Roches.##
{res[4][descr][12]} = ##La hache est utilisée par diverses unités de combat drows.##
{res[4][descr][13]} = ##La Hallebarde est forgée pour les Hallebardiers noirs, et est une arme de qualité.##
{res[4][descr][14]} = ##L'Arc est utilisé par le Brigand et la Capuche Noire.##
{res[4][descr][15]} = ##L'Arbalète est une arme plus puissante que l'Arc.##
{res[4][descr][16]} = ##La cotte noire est la base de la défense corporelle drow.##
{res[4][descr][17]} = ##La cotte de mithril est extrêment légère et résistante.##
{res[4][descr][18]} = ##Les drows ne sortent habituellement à la surface que pour chasser le gibier dans ces forêts.##
{res[4][descr][19]} = ##Le fer est extrait des gisements de fer à l'aide de Galeries de fer.##
{res[4][descr][20]} = ##Le charbon est extrait des gisements de charbon à l'aide de Galeries de charbon.##
{res[4][descr][21]} = ##L'or est extrait des filons d'or à l'aide de Galeries d'Or.##
{res[4][descr][22]} = ##La place disponible pour vos unités.##
{res[4][descr][23]} = ##Les Montagnes forment la source principale de pierre, et sont exploitées grâce à la Carrière.##


{btc[4][descr][1]} = ##Bâtiment principal, il permet d'effectuer des recherches et de former des unités civiles.##
{btc[4][descr][2]} = ##Permet d'extraire la Pierre des Montagnes.##
{btc[4][descr][3]} = ##Permet d'extraire le Bois des Forêts.##
{btc[4][descr][4]} = ##Bâtiment servant à héberger 10 drows.##
{btc[4][descr][5]} = ##Rare bâtiment situé en Forêt à la surface, il permet aux chasseurs de récolter de la nourriture.##
{btc[4][descr][6]} = ##Lieu où les drows peuvent pratiquer leur activité favorite : se battre en duel dans l'Arène.##
{btc[4][descr][7]} = ##Cette mine est sous bonne garde : on y trouve de l'or.##
{btc[4][descr][8]} = ##Le marché permet de faire du commerce.##
{btc[4][descr][9]} = ##Maison des guerriers drows, où peuvent être entraînés des unités plus puissantes.##
{btc[4][descr][10]} = ##C'est ici que sont fondus ensemble le Charbon et le Fer pour produire l'Acier.##
{btc[4][descr][11]} = ##Zone où sont chassées puis dressées les créatures communes des profondeurs.##
{btc[4][descr][12]} = ##Galerie où l'on extrait le Charbon.##
{btc[4][descr][13]} = ##Galerie où l'on extrait le Fer.##
{btc[4][descr][14]} = ##Le Forgeron sue devant son fourneau pour fabriquer les armes drows.##
{btc[4][descr][15]} = ##Cette Guilde située à la surface est le lieu de travail des plus grands Chasseurs drows.##
{btc[4][descr][16]} = ##Les Avant-Postes servent à protéger et à veiller sur la cité.##
{btc[4][descr][17]} = ##La Guilde des Lames est un quartier réservé aux meilleurs guerriers drows.##
{btc[4][descr][18]} = ##Cette Guilde sert à dresser les créatures les plus rares et les plus féroces des profondeurs.##
{btc[4][descr][19]} = ##Le demeure peut héberger jusqu'a 15 drows.##
{btc[4][descr][20]} = ##Le Temple est le lieu d'adoration aux déesses drows.##
{btc[4][descr][21]} = ##L'Autel n'est accessible que grâce à la recherche "Clerc de la Nuit", et sert à invoquer la Gardienne.##
{btc[4][descr][22]} = ##La Guilde des Forgerons n'est accessible que grâce à la recherche "Prêtresse de la Nuit", et sert à former le Maître-lame.##
{btc[4][descr][23]} = ##Cet Autel sert à invoquer une Matrone de votre choix, incompatibles entre elles et uniques.##
{btc[4][descr][24]} = ##Fortifications, défenses et organisation permettant d'évoluer le Nid en Cité Noire drow.##


{btcact[4][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[4][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[4][descr][6][unt]} = ##Entraîner des nouveaux soldats.##
{btcact[4][descr][9][unt]} = ##Entraîner des soldats expérimentés.##
{btcact[4][descr][17][unt]} = ##Entraîner des soldats d'élite.##
{btcact[4][descr][8][ach]} = ##Commercer pour obtenir de nouvelles denrées ou matériaux.##
{btcact[4][descr][11][unt]} = ##Dresser les créatures des profondeurs.##
{btcact[4][descr][18][unt]} = ##Dresser les créatures les plus puissantes.##
{btcact[4][descr][14][res]} = ##Forger les armes drows.##
{btcact[4][descr][22][unt]} = ####
{btcact[4][descr][20][unt]} = ##Lieu de formation des Prêtresses ou Clercs.##
{btcact[4][descr][21][unt]} = ##Lieu de formation des Gardiennes ou Maîtres-Lammes.##
{btcact[4][descr][23][unt]} = ##Invoquer la Matrone de la Cité.##


{unt[4][descr][1]} = ##L'Esclave Serviteur goblin réalise les tâches ingrates nécessaires à la Cité.##
{unt[4][descr][2]} = ##Le Chasseur traque le gibier et récolte la nourriture.##
{unt[4][descr][3]} = ##Le Dresseur maîtrise les plus féroces créatures des profondeurs.##
{unt[4][descr][4]} = ##Le Forgeron travaille l'Acier et quelques fois le Mithril pour fabriquer les armes.##
{unt[4][descr][5]} = ##L'Esclave Mineur nain extrait les matières premières dans les Galeries.##
{unt[4][descr][6]} = ##L'Esclave Bûcheron humain récolte le bois en forêt.##
{unt[4][descr][7]} = ##Le Convoqué est appelé à devenir un guerrier.##
{unt[4][descr][8]} = ##Le Combattant veille à la sécurité de la Cité.##
{unt[4][descr][9]} = ##L'Assassin monte en surface dans la nuit, et rôde de chaumière en chaumière. ##
{unt[4][descr][10]} = ##L'Ombre sait glisser sa lame sous la gorge des plus influants.##
{unt[4][descr][11]} = ##Le Brigand est l'archer de base.##
{unt[4][descr][12]} = ##La Capuche Noire manie l'Arc comme personne.##
{unt[4][descr][13]} = ##Monté sur worg, l'hallebardier noir fait la fierté des guerriers de la Guilde des Lames.##
{unt[4][descr][14]} = ##Monté sur worg, l'Arbalètrier noir est rapide et précis.##
{unt[4][descr][15]} = ##Le Géant des Roches est ravageur et sans pitié pour les êtres de la surface.##
{unt[4][descr][16]} = ##Les Ailes Nocturnes sortent de l'ombre en masse pour se jeter sur l'ennemi.##
{unt[4][descr][17]} = ##L'Arachnide Tisseuse immobilise ses proies grâce à son fil avant de les dévorer.##
{unt[4][descr][18]} = ##Le Worg Guerrier est dressé à l'attaque en solo, contrairement au worg classique.##
{unt[4][descr][19]} = ##L'Arachnide Guerrière est rapide et écrase ses proies pour les dévorer.##
{unt[4][descr][20]} = ##Le Basilic est la créature la plus cruelle des Profondeurs. Ses ennemis finissent pétrifiés, lacérés, ou dévorés vivants selon son humeur.##
{unt[4][descr][21]} = ##La Prêtresse de la Nuit veillera sur votre contrée. ( incompatible avec le Clerc de le Nuit )##
{unt[4][descr][22]} = ##La Clerc de la Nuit garnira vos lignes de son marteau de guerre. ( incompatible avec la Prêtresse de la Nuit )## 
{unt[4][descr][23]} = ##Le Maître-lame augmente grâce à son savoir l'attaque des unités de 1%, et leur défense de 0,5%. ( Condition : Prêtresse de la Nuit et Guilde des Forgerons / production limitée à 60 unités )##
{unt[4][descr][24]} = ##La Gardienne augmente grâce à son commandement l'attaque des unités de 0,5 et leur défense de 1%. ( Condition : Clerc de la Nuit et Autel / production limitée à 60 unités )##
{unt[4][descr][25]} = ##L'Envoyée de Lolth représente la déesse du même nom, symbole de la cruauté et de la destruction. ( incompatible avec l'Envoyée d'Eilistraée )##
{unt[4][descr][26]} = ##L'Envoyée d'Eilistraée représente la déesse du même nom, symbole des drows qui aspirent à revenir à une co-existance pacifique avec les autres races. ( incompatible avec l'Envoyée de Lolth )##

{src[4][descr][1]} = ##Permet de forger les armes de base.##
{src[4][descr][2]} = ##Permet de forger les armes les plus fines et les plus meurtrières.##
{src[4][descr][3]} = ##Permet de forger les Cottes noires et les boucliers.##
{src[4][descr][4]} = ##Permet de forger les Cotte de Mithril.##
{src[4][descr][5]} = ##Permet de construire les Avant-Postes.##
{src[4][descr][6]} = ##Le savoir nécessaire à la réalisation de l'acier.##
{src[4][descr][7]} = ##Permet de dresser les Ailes Nocturnes et les Arachnides Tisseuses dans l'Aire de Dressage.##
{src[4][descr][8]} = ##Permet de dresser les Worgs Guerriers et les Arachnides Guerrières dans la Guilde de Dressage.##
{src[4][descr][9]} = ##Permet de dresser les Basilics dans la Guilde de Dressage.##
{src[4][descr][10]} = ##Permet à certaines unités de combat de monter les Worgs. ##
{src[4][descr][11]} = ##Permet de construire le marché et d'acheter/vendre des ressources pour 50 unités max.##
{src[4][descr][12]} = ##Permet d'acheter/vendre des ressources pour 500 unités max, et inclus le troc.##
{src[4][descr][13]} = ##Permet d'acheter/vendre des ressources pour 5000 unités max.##
{src[4][descr][14]} = ##Donne accès aux combattants de base.##
{src[4][descr][15]} = ##Donne accès aux unités de combat moyennes.##
{src[4][descr][16]} = ##Donne accès aux meilleures unités de combat.##
{src[4][descr][17]} = ##Permet d'extraire l'Or des Galeries d'Or.##
{src[4][descr][18]} = ##Permet d'extraire le Fer et le Charbon de leurs Galeries respectives.##
{src[4][descr][19]} = ##Augmente la puissance des guerriers drows une fois la nuit tombée ( 00h -> 07h ).##
{src[4][descr][20]} = ##Donne accès à la Prêtresse de la Nuit. ( Incompatible avec Clerc de la Nuit )##
{src[4][descr][21]} = ##Donne accès au Clerc de la Nuit. ( Incompatible avec Prêtresse de la Nuit )##
{src[4][descr][22]} = ##Permet d'acceuillir la Matrone envoyée par la déesse Lolth. ( Incompatible avec Don d'Eilistraée )##
{src[4][descr][23]} = ##Permet d'acceuillir la Matrone envoyée par la déesse Eilistraée. ( Incompatible avec Don de Lolth )##
