{res[5][alt][1]} = ##Or##
{res[5][alt][2]} = ##Bois##
{res[5][alt][3]} = ##Pierre##
{res[5][alt][4]} = ##Baies##
{res[5][alt][5]} = ##Bois d'If##
{res[5][alt][6]} = ##Cuir##
{res[5][alt][7]} = ##Chevaux##
{res[5][alt][8]} = ##Acier##
{res[5][alt][9]} = ##Mithril##
{res[5][alt][10]} = ##Rondache##
{res[5][alt][11]} = ##Pavois##
{res[5][alt][12]} = ##Lame##
{res[5][alt][13]} = ##Pique##
{res[5][alt][14]} = ##Arc court##
{res[5][alt][15]} = ##Arc composite##
{res[5][alt][16]} = ##Armure de cuir cloutée##
{res[5][alt][17]} = ##Harnois de mithril##
{res[5][alt][18]} = ##Forêt##
{res[5][alt][19]} = ##Forêt d'If##
{res[5][alt][20]} = ##Zone de chasse##
{res[5][alt][21]} = ##Montagne##
{res[5][alt][22]} = ##Population##
{res[5][alt][23]} = ##Village##

{btc[5][alt][1]} = ##Colonie##
{btc[5][alt][2]} = ##Maison de Forestier##
{btc[5][alt][3]} = ##Maison##
{btc[5][alt][4]} = ##Maison de Cueillette##
{btc[5][alt][5]} = ##Troupe##
{btc[5][alt][6]} = ##Tanneur##
{btc[5][alt][7]} = ##Demeure de Forestier##
{btc[5][alt][8]} = ##Aire d'Entrainement##
{btc[5][alt][9]} = ##Marché##
{btc[5][alt][10]} = ##Comptoir de Fonte##
{btc[5][alt][11]} = ##Archerie##
{btc[5][alt][12]} = ##Forge##
{btc[5][alt][13]} = ##Tour##
{btc[5][alt][14]} = ##Caserne##
{btc[5][alt][15]} = ##Ecuries##
{btc[5][alt][16]} = ##Théâtre##
{btc[5][alt][17]} = ##Bibliothèque##
{btc[5][alt][18]} = ##Demeure##
{btc[5][alt][19]} = ##Bosquet##
{btc[5][alt][20]} = ##Antre##
{btc[5][alt][21]} = ##Ecole de Magie##
{btc[5][alt][22]} = ##Fort##
{btc[5][alt][23]} = ##Temple##
{btc[5][alt][24]} = ##Cité Sylvestre##

{btcopt[5][1][unt]} = ##Former##
{btcopt[5][1][unt_unt]} = ##Unités en cours de formation##
{btcopt[5][1][unt_type]} = ##Unité##

{btcopt[5][1][src]} = ##Recherches##

{btcopt[5][8][unt]} = ##Entraîner##
{btcopt[5][8][unt_unt]} = ##Unités en cours d'entraînement##
{btcopt[5][8][unt_type]} = ##Unité##

{btcopt[5][11][res]} = ##Fabriquer##
{btcopt[5][11][res_enc]} = ##Armes en Fabrication##
{btcopt[5][11][res_type]} = ##Armes##

{btcopt[5][12][res]} = ##Fabriquer##
{btcopt[5][12][res_enc]} = ##Armes en Fabrication##
{btcopt[5][12][res_type]} = ##Armes##

{btcopt[5][14][unt]} = ##Entraîner##
{btcopt[5][14][unt_unt]} = ##Unités en cours d'entraînement##
{btcopt[5][14][unt_type]} = ##Unité##

{btcopt[5][15][res]} = ##Dresser##
{btcopt[5][15][res_unt]} = ##Chevaux en cours de dressage##
{btcopt[5][15][res_type]} = ##Chevaux##

{btcopt[5][19][unt]} = ##Convoquer Créatures##
{btcopt[5][19][unt_enc]} = ##Créatures en cours de convocation##
{btcopt[5][19][unt_type]} = ##Créatures##

{btcopt[5][20][unt]} = ##Convoquer Créatures##
{btcopt[5][20][unt_enc]} = ##Créatures en cours de convocation##
{btcopt[5][20][unt_type]} = ##Créatures##

{btcopt[5][21][unt]} = ##Entraîner##
{btcopt[5][21][unt_unt]} = ##Unités en cours d'entraînement##
{btcopt[5][21][unt_type]} = ##Unité##

{btcopt[5][22][unt]} = ##Entraîner##
{btcopt[5][22][unt_unt]} = ##Unités en cours d'entraînement##
{btcopt[5][22][unt_type]} = ##Unité##

{btcopt[5][23][unt]} = ##Entraîner##
{btcopt[5][23][unt_unt]} = ##Unités en cours d'entraînement##
{btcopt[5][23][unt_type]} = ##Unité##

{btcopt[5][24][src]} = ##Recherches##

{btcact[5][title][1][unt]} = ##Formation##
{btcact[5][title][1][src]} = ##Recherches##
{btcact[5][title][8][unt]} = ##Aire d'entrainement##
{btcact[5][title][9][ach]} = ##Commerce##
{btcact[5][title][11][res]} = ##Archerie##
{btcact[5][title][12][res]} = ##Forge##
{btcact[5][title][14][unt]} = ##Caserne##
{btcact[5][title][15][res]} = ##Ecuries##
{btcact[5][title][19][unt]} = ##Bosquet##
{btcact[5][title][20][unt]} = ##Antre##
{btcact[5][title][21][unt]} = ##Ecole de Magie##
{btcact[5][title][22][unt]} = ##Fort##
{btcact[5][title][23][unt]} = ##Temple##

{unt[5][alt][1]} = ##Serviteur##
{unt[5][alt][2]} = ##Cueuilleur##
{unt[5][alt][3]} = ##Forestier##
{unt[5][alt][4]} = ##Forgeron##
{unt[5][alt][5]} = ##Acolyte##
{unt[5][alt][6]} = ##Barde##
{unt[5][alt][7]} = ##Noble##
{unt[5][alt][8]} = ##Eclaireur##
{unt[5][alt][9]} = ##Patrouilleur##
{unt[5][alt][10]} = ##Rôdeur##
{unt[5][alt][11]} = ##Lancier##
{unt[5][alt][12]} = ##Archer##
{unt[5][alt][13]} = ##Epéiste##
{unt[5][alt][14]} = ##Piquier##
{unt[5][alt][15]} = ##Garde##
{unt[5][alt][16]} = ##Druide##
{unt[5][alt][17]} = ##Nymphe##
{unt[5][alt][18]} = ##Vénérable##
{unt[5][alt][19]} = ##Commandant##
{unt[5][alt][20]} = ##Garde d'élite##
{unt[5][alt][21]} = ##Mage##
{unt[5][alt][22]} = ##Gardien##
{unt[5][alt][23]} = ##Avatar de Corellon Larethian##
{unt[5][alt][24]} = ##Avatar de Aerdrie Faenya##

{src[5][alt][1]} = ##Arts musicaux##
{src[5][alt][2]} = ##Armes Niveau 1##
{src[5][alt][3]} = ##Armes Niveau 2##
{src[5][alt][4]} = ##Défense Niveau 1##
{src[5][alt][5]} = ##Défense Niveau 2##
{src[5][alt][6]} = ##Fortifications##
{src[5][alt][7]} = ##Armée Niveau 1##
{src[5][alt][8]} = ##Armée Niveau 2##
{src[5][alt][9]} = ##Commerce Niveau 1##
{src[5][alt][10]} = ##Commerce Niveau 2##
{src[5][alt][11]} = ##Commerce Niveau 3##
{src[5][alt][12]} = ##Fonte de l'Acier##
{src[5][alt][13]} = ##Attelage##
{src[5][alt][14]} = ##Arts dramatiques##
{src[5][alt][15]} = ##Connaissances Niveau 1##
{src[5][alt][16]} = ##Connaissances Niveau 2##
{src[5][alt][17]} = ##Druidisme Niveau 1##
{src[5][alt][18]} = ##Druidisme Niveau 2##
{src[5][alt][19]} = ##Maitrise Défensive##
{src[5][alt][20]} = ##Maitrise Offensive##
{src[5][alt][21]} = ##Fidélité en Aerdrie Faenya##
{src[5][alt][22]} = ##Fidélité en Corellon Larethian##
