{race[1]} = ##Humains##
{race[2]} = ##Orcs##
{race[3]} = ##Nains##
{race[4]} = ##Drows##

{leg[0]} = ##Au village##
{leg[1]} = ##Se dirige vers l'ennemi##
{leg[2]} = ##Retour au village##
{leg[3]} = ##En attente d'ordres.##

{pages[404]} = ##404##
{pages[a_propos]} = ##A Propos##
{pages[admin]} = ##Administration##
{pages[alliances]} = ##Alliances##
{pages[bonus]} = ##Bonus##
{pages[btc]} = ##Bâtiments##
{pages[class]} = ##TOP 50##
{pages[faq]} = ##FAQ##
{pages[gen]} = ##Donjon##
{pages[irc]} = ##Chat##
{pages[leg]} = ##Légions##
{pages[manual]} = ##Manuel##
{pages[member]} = ##Membres##
{pages[msg]} = ##Messagerie##
{pages[news]} = ##News##
{pages[res]} = ##Ressources##
{pages[session]} = ##Sessions##
{pages[stats]} = ##Statistiques##
{pages[stat]} = ##Statistiques##
{pages[unt]} = ##Population##
{pages[war]} = ##Armée##
{pages[carte]} = ##Carte##
{pages[src]} = ##Recherches##
{pages[zzz]} = ##Mise en veille##
{pages[forum]} = ##Forums##

{groupes[1]} = ##Visiteur##
{groupes[2]} = ##Admin##
{groupes[3]} = ##Beta-testeur##
{groupes[4]} = ##Joueur##
{groupes[5]} = ##Contributeur##
{groupes[6]} = ##Shérif##
{groupes[7]} = ##Modérateur##

{etat[1]} = ##Actif##
{etat[2]} = ##Validation##
{etat[3]} = ##ZzZzZ##

{carte[alt][0]} = ##Eau##
{carte[alt][1]} = ##Montagne##
{carte[alt][2]} = ##Forêt##
{carte[alt][3]} = ##Emplacement Libre##
{carte[alt][4]} = ##Herbe##
{carte[alt][5]} = ##Village##

{forum[etats][1]} = ##Post-it##
{forum[etats][2]} = ##Post-it Fermé##
{forum[etats][3]} = ##Message##
{forum[etats][4]} = ##Fermé##

{vldacts[new]} = ##Nouveau##
{vldacts[del]} = ##Effacer##
{vldacts[edit]}= ##Editer##
{vldacts[res]}= ##Recommencer##

{lang[fr]} = ##Français##
{lang[en]} = ##Anglais##

{btc_etat[0]} = ##Actif##
{btc_etat[1]} = ##<span class="infos">Réparation</span>##
{btc_etat[2]} = ##<span class="infos">Inactif</span>##