{res[1][descr][1]} = ##L'Or est la ressource centrale du jeu, elle permet par exemple de former des unités ou de faire du commerce...##
{res[1][descr][2]} = ##Le Bois permet de fabriquer des bâtiments ou des armes.##
{res[1][descr][3]} = ##Les Pierres sont utilisées dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[1][descr][4]} = ##La Nourriture est essentielle dans le jeu puisqu'elle permet de nourrir vos unités, civiles et militaires, et donc de leur éviter une mort certaine. N'oubliez jamais que vous devez nourrir votre village et vos légions.##
{res[1][descr][5]} = ##Le Fer permet de produire des armes et de fabriquer un métal précieux: l'Acier.##
{res[1][descr][6]} = ##Le Charbon permet de faire de l'Acier quand on le combine avec du Fer dans une Fonderie. On peut aussi être amené à se servir du Charbon ponctuellement dans diverses activités.##
{res[1][descr][7]} = ##Les Chevaux permettent de posséder une cavalerie et ainsi d'accéder aux unités d'élites.##
{res[1][descr][8]} = ##L'Acier qui vient du Fer et du Charbon est un métal précieux qui permet de forger des armes de haute qualité.##
{res[1][descr][9]} = ##Le Mithril est plus précieux que l'Or et plus résistant que l'Acier, c'est un parfait mélange des deux. Il n'y a que les Nains qui peuvent le fabriquer car se sont les seuls à en connaître le secret.##
{res[1][descr][10]} = ##Les Boucliers en Bois protègent vos unités.##
{res[1][descr][11]} = ##Les Boucliers en Acier protègent mieux vos unités que les Boucliers en Bois mais il faut beaucoup plus d'expérience pour pouvoir s'en servir.##
{res[1][descr][12]} = ##L'Epée est l'arme de base de toute unité militaire humaine.##
{res[1][descr][13]} = ##L'Epée Longue est l'arme favorite des soldats expérimentés.##
{res[1][descr][14]} = ##L'Arc permet de lancer des attaques à distance.##
{res[1][descr][15]} = ##L'Arbalète permet également de lancer des attaques à distance mais le savoir-faire des Humains en a fait une arme bien plus redoutable que l'Arc.##
{res[1][descr][16]} = ##La Cotte de Maille protègera le corps des soldats de votre armée.##
{res[1][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante, seuls les élus peuvent la porter.##

{trn[1][descr][1]} = ##C'est dans la Forêt que les Bûcherons coupent le bois nécessaire au développement et à l'entretien des cités.##
{trn[1][descr][2]} = ##Le Fer est extrait des Gisements de Fer. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[1][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[1][descr][4]} = ##L'Or est extrait des Filons d'Or. Pour cela il faut former des Mineurs et construire une mine autour du Filon.##
{trn[1][descr][5]} = ##Les Montagnes permettent de produire des blocs de pierre grâce aux Carrières.##

{btc[1][descr][1]} = ##Bâtiment Principal, c'est à partir de ce bâtiment que toute votre cité va se développer. Il permet d'effectuer des recherches et de former des unités civiles. Sans lui vous ne pouvez plus rien faire.##
{btc[1][descr][2]} = ##C'est le bâtiment qui permet de fabriquer des blocs de Pierre pour votre village.##
{btc[1][descr][3]} = ##Grâce à ce bâtiment vous allez pouvoir disposer de bois (pour la construction de votre village par exemple).##
{btc[1][descr][4]} = ##Les Maisons servent à héberger la population de votre cité, elles n'offrent aucune protection mais permettent à vos unités de récupérer de leur fatigue.##
{btc[1][descr][5]} = ##Les Fermes produisent la Nourriture dont toute la population à grand besoin.##
{btc[1][descr][6]} = ##La Caserne est le premier lieu de formation de vos soldats.##
{btc[1][descr][7]} = ##La Mine d'Or permet d'exploiter les Filons d'Or.##
{btc[1][descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs. Vous pouvez vendre des ressources ou en acheter. La monnaie d'échange est unique: il s'agit de l'Or.##
{btc[1][descr][9]} = ##L'Armurerie permet de fabriquer des Armes offensives et défensives pour vos soldats. Sans une bonne armurerie vous pouvez dire Adieu à la victoire!##
{btc[1][descr][10]} = ##Le Laboratoire permet d'effectuer les recherches plus rapidement. Grâce à l'équipe de Chercheurs qui travaille à l'intérieur vous gagnerez quelques précieuses heures dans la course pour la victoire.##
{btc[1][descr][11]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Charbon qui se trouvent à proximité de votre village.##
{btc[1][descr][12]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Fer qui se trouvent à proximité de votre village.##
{btc[1][descr][13]} = ##La Fonderie permet le mélange du Charbon et du Fer pour produire l'Acier selon les proportions suivantes: 2 Fer + 2 Charbon = 1 Acier.##
{btc[1][descr][14]} = ##Ce bâtiment permet de fabriquer des Machines de guerre.##
{btc[1][descr][15]} = ##C'est ici que vous pouvez élever les montures des Chevaliers.##
{btc[1][descr][16]} = ##Les Tours protègent votre village et vos unités.##
{btc[1][descr][17]} = ##La Ferme Améliorée produit plus de nourriture que la Ferme traditionnelle grâce à une réflexion plus poussée sur l'agriculture. De plus elle permet d'héberger de la population comme une Maison.##
{btc[1][descr][18]} = ##L'Eglise est le lieu de vie des Moines et des Prêtres.##
{btc[1][descr][19]} = ##La Poudrière permet de fabriquer la poudre et donne donc accès aux canons.##
{btc[1][descr][20]} = ##L'Ecole de Magie est le lieu de vie des Magiciens et des Sorciers. C'est ici qu'ils sont formés et qu'ils s'entraînent.##
{btc[1][descr][21]} = ##La Guilde des Héros accueil en son sein les plus grands guerriers que la classe humaine peut invoquer.##
{btc[1][descr][22]} = ##La Forteresse est la défense ultime pour votre village. En cas d'attaque c'est le principal lieu de repli de vos unités. De plus elle permet d'héberger de manière permanente un grand nombre de gens.##

{btcact[1][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[1][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[1][descr][6][unt]} = ##Entraîner de nouveaux soldats.##
{btcact[1][descr][8][ach]} = ##Acheter ou Vendre.##
{btcact[1][descr][9][res]} = ##Fabriquer des armes pour les soldats.##
{btcact[1][descr][14][unt]} = ##Construire des engins de guerre.##
{btcact[1][descr][15][res]} = ##Dresser des Chevaux.##
{btcact[1][descr][18][unt]} = ##Former des unités religieuses.##
{btcact[1][descr][20][unt]} = ##Former des unités magiques.##
{btcact[1][descr][15][unt]} = ##Dompter des animaux magiques.##
{btcact[1][descr][21][unt]} = ##Former des Héros.##

{unt[1][descr][1]} = ##Le Travailleur construit et répare les bâtiments. C'est l'élément de base du village, sans lui rien n'est possible.##
{unt[1][descr][2]} = ##Le Fermier travaille dans les Fermes pour produire de la Nourriture.##
{unt[1][descr][3]} = ##Le Forgeron produit l'Acier et fabrique les armes pour votre armée.##
{unt[1][descr][4]} = ##Le Bûcheron coupe le Bois dont vous avez besoin.##
{unt[1][descr][5]} = ##Le Mineur travaille dans les différentes Mines ou dans les Carrières. Il apporte les matières premières dont votre village a besoin pour fonctionner correctement.##
{unt[1][descr][6]} = ##Le Chercheur accélère les recherches quand il travaille au laboratoire.##
{unt[1][descr][7]} = ##La Recrue est une unité civile que vous formerez pour devenir soldat.##
{unt[1][descr][8]} = ##Le Milicien est le soldat de base. C'est une Recrue sans expérience du combat qui prend le premier objet qui passe pour s'en servir comme arme.##
{unt[1][descr][9]} = ##L'Archer tue ses ennemis à distance grâce à son Arc.##
{unt[1][descr][10]} = ##L'Arbalétrier est bien plus fort et malin que l'Archer.##
{unt[1][descr][11]} = ##Le Fantassin est armé d'une épée courte et d'un léger bouclier en bois, il a vocation à défendre les petits villages.##
{unt[1][descr][12]} = ##Le Fantassin expérimenté est plus puissant et résistant que le Fantassin. C'est une unité de combat rapproché qui convient particulièrement pour les villages importants.##
{unt[1][descr][13]} = ##Le Chevalier, monté sur un cheval, est rapide et permet donc de mener des campagnes sur de plus grandes distances avant que la fatigue ne devienne insoutenable.##
{unt[1][descr][14]} = ##Le Chevalier Expérimenté est moins rapide mais plus fort que le Chevalier.##
{unt[1][descr][15]} = ##La Catapulte est l'arme de siège préférée des Humains car elle est spectaculaire.##
{unt[1][descr][16]} = ##Le Bélier ne permet que de détruire des bâtiments.##
{unt[1][descr][17]} = ##Le Moine prie pour que les unités qui se trouvent autour de lui soient plus puissantes.##
{unt[1][descr][18]} = ##Le Prêtre prie pour que les unités qui se trouvent autour de lui soient plus résistantes.##
{unt[1][descr][19]} = ##Le Canon est plus mobile que la Catapulte et fait plus de dégats contre les bâtiments.##
{unt[1][descr][20]} = ##Le Magicien connaît de nombreux sorts qu'il peut lancer de loin.##
{unt[1][descr][21]} = ##Le Sorcier connaît de nombreux sorts qu'il peut lancer de loin.##
{unt[1][descr][22]} = ##Le Trébuchet détruira tout les bâtiments que vous souhaitez voir disparaître mais c'est une arme de siège très très lente.##
{unt[1][descr][23]} = ##Le Paladin est l'unité offensive ultime des armées humaines. C'est une unité d'élite qui sait s'adapter dans tous les types de situations et contre tous les ennemis.##
{unt[1][descr][24]} = ##Ce héros survolant le champ de bataille n'a pas d'égal pour l'organisation rapide des défenses.##
{unt[1][descr][25]} = ##Sa grande expérience de la guerre et son aura galvanisent les troupes et augmentent leur ferveur au combat.##
{unt[1][descr][26]} = ##L'intelligence des gnomes et de leurs inventions est un atout majeur en cas de problème.##

{src[1][descr][1]} = ##Donne accès aux Arcs et Epées.##
{src[1][descr][2]} = ##Donne accès aux Arbalètes et Epées Longues.##
{src[1][descr][3]} = ##Nécessaire à la construction des Machines de guerre.##
{src[1][descr][4]} = ##Donne accès aux Boucliers en Bois.##
{src[1][descr][5]} = ##Permet de construire des Boucliers en Acier.##
{src[1][descr][6]} = ##Permet de construire des Tours pour votre village.##
{src[1][descr][7]} = ##Donne accès au savoir qui permet la réalisation de l'Acier.##
{src[1][descr][8]} = ##Donne accès à l'art d'élever les Chevaux.##
{src[1][descr][9]} = ##Permet de vendre/acheter pour un maximum de 75 or. Limite de ventes: 6##
{src[1][descr][10]} = ##Permet de vendre/acheter pour un maximum de 750 or. Limite de ventes: 12##
{src[1][descr][11]} = ##Permet de vendre/acheter pour un maximum de 5000 or. Limite de ventes: 24##
{src[1][descr][12]} = ##Permet de construire une Caserne et des unités de base pour votre armée.##
{src[1][descr][13]} = ##Donne accès à l'Armurerie et aux unités plus puissantes.##
{src[1][descr][14]} = ##Donne accès aux meilleures unités de guerre.##
{src[1][descr][15]} = ##Permet de construire les Mines de base.##
{src[1][descr][16]} = ##Donne accès aux mines de Charbon et de Fer. C'est une recherche indispensable dans la quête de l'Acier.##
{src[1][descr][17]} = ##Cette recherche permet d'améliorer les rendements agricoles et ainsi d'avoir accès aux Fermes Améliorées.##
{src[1][descr][18]} = ##Permet la formation de Moines.##
{src[1][descr][19]} = ##Permet la formation de Prêtres.##
{src[1][descr][20]} = ##Une fois le secret de la poudre découvert, les Canons vous tendent les bras!##
{src[1][descr][21]} = ##Cette recherche a pour but de vous faire découvrir les secrets de la Magie Blanche.##
{src[1][descr][22]} = ##Cette recherche a pour but de vous faire découvrir le pouvoir de la Magie Noire.##
{src[1][descr][23]} = ##Grâce à cette recherche vous allez pouvoir découvrir le secret qui permet de lier les Humains avec les Griffons.##
{src[1][descr][24]} = ##Grâce à cette recherche vos Généraux excelleront sur les champs de bataille.##
{src[1][descr][25]} = ##L'intelligence des gnomes et de leurs inventions est un atout majeur en cas de problème.##

{comp[1][descr][1]} = ##Stratégie : Le héros humain déclame un discours plein d'espoir pour donner du courage et de la hargne à ses troupes, le cœur vaillant et déterminé, l'armée du héros n'attend plus que d'en découdre. Procure une augmentation de l'attaque.##
{comp[1][descr][2]} = ##Stratégie : Le héros humain place ses troupes en formation défensive pour encaisser l'attaque ennemie et lancer une riposte dévastatrice. Procure une augmentation de la défense.##
{comp[1][descr][4]} = ##Compétence : Le héros entraîne efficacement ses soldats et de ce fait, la légion voit sa vitalité augmentée. procure un certain pourcentage de vie supplémentaire.##
{comp[1][descr][6]} = ##Stratégie: Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemies permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles. Procure un certain pourcentage supplémentaire en attaque bâtiment.##
{comp[1][descr][7]} = ##Compétence : Les chercheurs de votre village vous ont préparé une potion de soin très efficace, avec une seule de ces fioles le héros récupère ses forces plus vite. Le héros récupère ses points de vie plus rapidement.##
{comp[1][descr][8]} = ##Compétence : Le héros a longuement étudié les savoirs magiques et il connait un sortilège puissant capable de téléporter ses troupes. Procure une téléportation instantanée.##
{comp[1][descr][10]} = ##Compétence : Le héros ordonne à ses troupes de récupérer les blessés sur le champ de bataille pour qu'ils soient soignés et à nouveau aptes à se battre au plus vite. Une partie des pertes du combat se retrouve
en vie au village.##
{comp[1][descr][11]} = ##Compétence : Grâce à une prière difficile et longue, le Héros humain ressuscite au village après sa mort. Procure une renaissance du héros.##
{comp[1][descr][13]} = ##Stratégie : Le héros humain ordonne aux tireurs de la légion de lancer plus de vagues successives de projectiles vers l'ennemi. Augmentation du bonus de tir.##
{comp[1][descr][14]} = ##Compétence : Le héros humain est très habile pour les négociations marchandes et il réalise avec brio les échanges. Procure une réduction des prix du marché.##
{comp[1][descr][16]} = ##Compétence : Le héros sait organiser la défense de son village, il est capable d'intégrer un allié dans son plan de défense de façon optimale. Compense le malus de la défense groupée.##
{comp[1][descr][19]} = ##Compétence : Le héros sait au mieux utiliser les ressources qui lui sont allouées. Il organise mieux le travail et optimise la production de son village. Procure une augmentation des productions du village.##

