{res[1][alt][1]} = ##Or##
{res[1][alt][2]} = ##Bois##
{res[1][alt][3]} = ##Pierres##
{res[1][alt][4]} = ##Nourriture##
{res[1][alt][5]} = ##Fer##
{res[1][alt][6]} = ##Charbon##
{res[1][alt][7]} = ##Chevaux##
{res[1][alt][8]} = ##Acier##
{res[1][alt][9]} = ##Mithril##
{res[1][alt][10]} = ##Bouclier en Bois##
{res[1][alt][11]} = ##Bouclier en Acier##
{res[1][alt][12]} = ##Epée##
{res[1][alt][13]} = ##Epée Longue##
{res[1][alt][14]} = ##Arc##
{res[1][alt][15]} = ##Arbalète##
{res[1][alt][16]} = ##Cotte de Mailles##
{res[1][alt][17]} = ##Cotte de Mithril##

{trn[1][alt][1]} = ##Forêt##
{trn[1][alt][2]} = ##Gisement de Fer##
{trn[1][alt][3]} = ##Gisement de Charbon##
{trn[1][alt][4]} = ##Filon d'Or##
{trn[1][alt][5]} = ##Montagne##

{btc[1][alt][1]} = ##Donjon##
{btc[1][alt][2]} = ##Carrière##
{btc[1][alt][3]} = ##Scierie##
{btc[1][alt][4]} = ##Maison##
{btc[1][alt][5]} = ##Ferme##
{btc[1][alt][6]} = ##Caserne##
{btc[1][alt][7]} = ##Mine d'Or##
{btc[1][alt][8]} = ##Marché##
{btc[1][alt][9]} = ##Armurerie##
{btc[1][alt][10]} = ##Laboratoire##
{btc[1][alt][11]} = ##Mine de Charbon##
{btc[1][alt][12]} = ##Mine de Fer##
{btc[1][alt][13]} = ##Fonderie##
{btc[1][alt][14]} = ##Atelier##
{btc[1][alt][15]} = ##Ecurie##
{btc[1][alt][16]} = ##Tour##
{btc[1][alt][17]} = ##Ferme Améliorée##
{btc[1][alt][18]} = ##Eglise##
{btc[1][alt][19]} = ##Poudrière##
{btc[1][alt][20]} = ##Ecole de magie##
{btc[1][alt][21]} = ##Guilde des Héros##
{btc[1][alt][22]} = ##Forteresse##

{btcact[1][title][1][unt]} = ##Formation##
{btcact[1][title][1][src]} = ##Recherches##
{btcact[1][title][6][unt]} = ##Caserne##
{btcact[1][title][8][ach]} = ##Marché##
{btcact[1][title][9][res]} = ##Armurerie##
{btcact[1][title][14][unt]} = ##Atelier##
{btcact[1][title][15][res]} = ##Ecurie##
{btcact[1][title][18][unt]} = ##Eglise##
{btcact[1][title][20][unt]} = ##Ecole de Magie##
{btcact[1][title][21][unt]} = ##Guilde des Héros##

{btcopt[1][1][unt]} = ##Formation##
{btcopt[1][1][unt_todo]} = ##Unités en Formation##
{btcopt[1][1][unt_type]} = ##Unités##

{btcopt[1][1][src]} = ##Recherches##

{btcopt[1][6][unt]} = ##Entraînement##
{btcopt[1][6][unt_todo]} = ##Unités en Formation##
{btcopt[1][6][unt_type]} = ##Unités##

{btcopt[1][9][res]} = ##Armurerie##
{btcopt[1][9][res_todo]} = ##Armes en Fabrication##
{btcopt[1][9][res_type]} = ##Armes##

{btcopt[1][10][src]} = ##Recherches##

{btcopt[1][14][unt]} = ##Atelier##
{btcopt[1][14][unt_todo]} = ##Machines en Fabrication##
{btcopt[1][14][unt_type]} = ##Machines##

{btcopt[1][15][res]} = ##Dressage##
{btcopt[1][15][res_todo]} = ##Chevaux en dressage##
{btcopt[1][15][res_type]} = ##Chevaux##

{btcopt[1][15][unt]} = ##Domptage##
{btcopt[1][15][unt_todo]} = ##Animaux à dompter##
{btcopt[1][15][unt_type]} = ##Animaux##

{btcopt[1][18][unt]} = ##Entraînement##
{btcopt[1][18][unt_todo]} = ##Unités en Formation##
{btcopt[1][18][unt_type]} = ##Unités##

{btcopt[1][20][unt]} = ##Entraînement##
{btcopt[1][20][unt_todo]} = ##Unités en Formation##
{btcopt[1][20][unt_type]} = ##Unités##

{btcopt[1][21][unt]} = ##Entraînement##
{btcopt[1][21][unt_todo]} = ##Unités en Formation##
{btcopt[1][21][unt_type]} = ##Unités##

{btcopt[1][22][unt]} = ##Formation##
{btcopt[1][22][unt_todo]} = ##Unités en Formation##
{btcopt[1][22][unt_type]} = ##Unités##

{btcopt[1][22][src]} = ##Recherches##

{unt[1][alt][1]} = ##Travailleur##
{unt[1][alt][2]} = ##Fermier##
{unt[1][alt][3]} = ##Forgeron##
{unt[1][alt][4]} = ##Bûcheron##
{unt[1][alt][5]} = ##Mineur##
{unt[1][alt][6]} = ##Chercheur##
{unt[1][alt][7]} = ##Recrue##
{unt[1][alt][8]} = ##Milicien##
{unt[1][alt][9]} = ##Archer##
{unt[1][alt][10]} = ##Arbalétrier##
{unt[1][alt][11]} = ##Fantassin##
{unt[1][alt][12]} = ##Fantassin Expérimenté##
{unt[1][alt][13]} = ##Chevalier##
{unt[1][alt][14]} = ##Chevalier Expérimenté##
{unt[1][alt][15]} = ##Catapulte##
{unt[1][alt][16]} = ##Bélier##
{unt[1][alt][17]} = ##Moine##
{unt[1][alt][18]} = ##Prêtre##
{unt[1][alt][19]} = ##Canon##
{unt[1][alt][20]} = ##Magicien##
{unt[1][alt][21]} = ##Sorcier##
{unt[1][alt][22]} = ##Trébuchet##
{unt[1][alt][23]} = ##Paladin##
{unt[1][alt][24]} = ##Héros sur Griffon##
{unt[1][alt][25]} = ##Général##
{unt[1][alt][26]} = ##Ingénieur Gnome##
{unt[1][alt][27]} = ##Grande Caravelle##

{src[1][alt][1]} = ##Armes Niveau 1##
{src[1][alt][2]} = ##Armes Niveau 2##
{src[1][alt][3]} = ##Armes Niveau 3##
{src[1][alt][4]} = ##Défense Niveau 1##
{src[1][alt][5]} = ##Défense Niveau 2##
{src[1][alt][6]} = ##Défense Niveau 3##
{src[1][alt][7]} = ##Acier##
{src[1][alt][8]} = ##Elevage##
{src[1][alt][9]} = ##Commerce Niveau 1##
{src[1][alt][10]} = ##Commerce Niveau 2##
{src[1][alt][11]} = ##Commerce Niveau 3##
{src[1][alt][12]} = ##Armée Niveau 1##
{src[1][alt][13]} = ##Armée Niveau 2##
{src[1][alt][14]} = ##Armée Niveau 3##
{src[1][alt][15]} = ##Mine Niveau 1##
{src[1][alt][16]} = ##Mine Niveau 2##
{src[1][alt][17]} = ##Attelage##
{src[1][alt][18]} = ##Moine##
{src[1][alt][19]} = ##Prêtre##
{src[1][alt][20]} = ##Poudre##
{src[1][alt][21]} = ##Magie Blanche##
{src[1][alt][22]} = ##Magie Noire##
{src[1][alt][23]} = ##Domptage d'Animaux Magiques##
{src[1][alt][24]} = ##Arts de la Guerre##
{src[1][alt][25]} = ##Génie Mécanique##
{src[1][alt][26]} = ##Déménagement##

{comp[1][alt][1]} = ##discours galvanisant##
{comp[1][alt][2]} = ##Combat en formation##
{comp[1][alt][4]} = ##Endurance accrue##
{comp[1][alt][6]} = ##Casse muraille##
{comp[1][alt][7]} = ##Récupération##
{comp[1][alt][8]} = ##Téléportation##
{comp[1][alt][10]} = ##Soins##
{comp[1][alt][11]} = ##Résuréction##
{comp[1][alt][13]} = ##Volée de flèches##
{comp[1][alt][14]} = ##Diplomate##
{comp[1][alt][16]} = ##Derrière les murailles##
{comp[1][alt][19]} = ##Production soutenue##

