{res[10][alt][1]} = ##Or##
{res[10][alt][2]} = ##Bois##
{res[10][alt][3]} = ##Pierres##
{res[10][alt][4]} = ##Nourriture##
{res[10][alt][5]} = ##Fer##
{res[10][alt][6]} = ##Charbon##
{res[10][alt][7]} = ##Chevaux##
{res[10][alt][8]} = ##Acier##
{res[10][alt][9]} = ##Mithril##
{res[10][alt][10]} = ##Bouclier en Bois##
{res[10][alt][11]} = ##Bouclier en Acier##
{res[10][alt][12]} = ##Epée##
{res[10][alt][13]} = ##Epée Longue##
{res[10][alt][14]} = ##Arc##
{res[10][alt][15]} = ##Arbalète##
{res[10][alt][16]} = ##Cotte de Mailles##
{res[10][alt][17]} = ##Cotte de Mithril##

{trn[10][alt][1]} = ##Forêt##
{trn[10][alt][2]} = ##Gisement de Fer##
{trn[10][alt][3]} = ##Gisement de Charbon##
{trn[10][alt][4]} = ##Filon d'Or##
{trn[10][alt][5]} = ##Montagne##

{btc[10][alt][1]} = ##Donjon##
{btc[10][alt][2]} = ##Marché##

{btcact[10][title][1][unt]} = ##Formation##
{btcact[10][title][1][ach]} = ##Marché##

{btcopt[10][1][unt]} = ##Formation##
{btcopt[10][1][unt_todo]} = ##Unités en Formation##
{btcopt[10][1][unt_type]} = ##Unités##
{btcopt[10][1][src]} = ##Recherches##

{unt[10][alt][1]} = ##Dieu##

{src[10][alt][1]} = ##Armes Niveau 1##


