{res[10][descr][1]} = ##L'Or est la ressource centrale du jeu, elle permet par exemple de former des unités ou de faire du commerce...##
{res[10][descr][2]} = ##Le Bois permet de fabriquer des bâtiments ou des armes.##
{res[10][descr][3]} = ##Les Pierres sont utilisées dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[10][descr][4]} = ##La Nourriture est importante aussi pour les Drak Dovars.##
{res[10][descr][5]} = ##Les Drak Dovars ne savent pas utiliser le Fer.##
{res[10][descr][6]} = ##Les Drak Dovars ne savent pas non plus utiliser le Charbon.##
{res[10][descr][7]} = ##Les Chevaux permettent de posséder une cavalerie et ainsi d'accéder aux unités d'élites. Mais l'élite des Drak Dovars n'utilise pas le cheval.##
{res[10][descr][8]} = ##Les Drak Dovars ne connaissent pas l'acier.##
{res[10][descr][9]} = ##Les Drak Dovars ne connaissent pas le Mithril. Il n'y a que les Nains qui peuvent le fabriquer car se sont les seuls à en connaître le secret.##
{res[10][descr][10]} = ##Les Boucliers en Bois protègent les unités faibles. Les Drak Dovars ne sont pas faibles.##
{res[10][descr][11]} = ##Les Boucliers en Acier sont l'arme de base du soldat Drak Dovar.##
{res[10][descr][12]} = ##L'Epée en bois est une arme pour les races faibles.##
{res[10][descr][13]} = ##L'Epée Longue est l'arme de prédilection de l'élite Drak Dovar.##
{res[10][descr][14]} = ##Le Drak Dovar ne sait pas viser, il n'utilise donc pas l'arc.##
{res[10][descr][15]} = ##L'Arbalète est également inconnue des Drak Dovars.##
{res[10][descr][16]} = ##La Cotte de Maille protègera le corps des soldats de votre armée.##
{res[10][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante, seul l'élite peut la porter.##

{trn[10][descr][1]} = ##C'est dans la Forêt que les Bûcherons coupent le bois nécessaire au développement et à l'entretien des cités.##
{trn[10][descr][2]} = ##Le Fer est extrait des Gisements de Fer. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[10][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[10][descr][4]} = ##L'Or est extrait des Filons d'Or. Pour cela il faut former des Mineurs et construire une mine autour du Filon.##
{trn[10][descr][5]} = ##Les Montagnes permettent de produire des blocs de pierre grâce aux Carrières.##

{btc[10][descr][1]} = ##Bâtiment principal et unique des Drak Dovars.##
{btc[10][descr][2]} = ##Bâtiment copié d'après les ruines de marchés humains, permettant aux Drak Dovars de commercer.##

{btcact[10][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[10][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[10][descr][1][ach]} = ##Acheter ou Vendre.##

{unt[10][descr][1]} = ##Dieu c'est dieu, c'est nous!##

{src[10][descr][1]} = ##Donne accès aux Arcs et Epées.##

