{res[2][alt][1]} = ##Or##
{res[2][alt][2]} = ##Bois##
{res[2][alt][3]} = ##Pierres##
{res[2][alt][4]} = ##Viande##
{res[2][alt][5]} = ##Fer##
{res[2][alt][6]} = ##Charbon##
{res[2][alt][7]} = ##Loups Géants##
{res[2][alt][8]} = ##Acier##
{res[2][alt][9]} = ##Mithril##
{res[2][alt][10]} = ##Armure en Cuir##
{res[2][alt][11]} = ##Armure Cloutée##
{res[2][alt][12]} = ##Epée##
{res[2][alt][13]} = ##Hache##
{res[2][alt][14]} = ##Arc##
{res[2][alt][15]} = ##Lance##
{res[2][alt][16]} = ##Armure en Acier##
{res[2][alt][17]} = ##Cotte de Mithril##

{trn[2][alt][1]} = ##Forêt##
{trn[2][alt][2]} = ##Gisement de Fer##
{trn[2][alt][3]} = ##Gisement de Charbon##
{trn[2][alt][4]} = ##Filon d'Or##
{trn[2][alt][5]} = ##Montagne##

{btc[2][alt][1]} = ##Repaire##
{btc[2][alt][2]} = ##Carrière##
{btc[2][alt][3]} = ##Scierie##
{btc[2][alt][4]} = ##Hutte##
{btc[2][alt][5]} = ##Maison de Chasse##
{btc[2][alt][6]} = ##Arène d'Entraînement##
{btc[2][alt][7]} = ##Mine d'Or##
{btc[2][alt][8]} = ##Marché##
{btc[2][alt][9]} = ##Forge##
{btc[2][alt][10]} = ##Mine de Charbon##
{btc[2][alt][11]} = ##Mine de Fer##
{btc[2][alt][12]} = ##Fonderie##
{btc[2][alt][13]} = ##Atelier##
{btc[2][alt][14]} = ##Tanière des loups##
{btc[2][alt][15]} = ##Tour##
{btc[2][alt][16]} = ##Totem##
{btc[2][alt][17]} = ##Garde-manger##
{btc[2][alt][18]} = ##Fortin##

{btcopt[2][1][unt]} = ##Formation##
{btcopt[2][1][unt_todo]} = ##Unités en Formation##
{btcopt[2][1][unt_type]} = ##Unités##

{btcopt[2][1][src]} = ##Recherches##

{btcopt[2][6][unt]} = ##Entraînement##
{btcopt[2][6][unt_todo]} = ##Unités en Formation##
{btcopt[2][6][unt_type]} = ##Unités##

{btcopt[2][9][res]} = ##Fabrication##
{btcopt[2][9][res_todo]} = ##Armes en Fabrication##
{btcopt[2][9][res_type]} = ##Armes##

{btcopt[2][13][unt]} = ##Fabrication##
{btcopt[2][13][unt_todo]} = ##Machines en Fabrication##
{btcopt[2][13][unt_type]} = ##Machines##

{btcopt[2][14][res]} = ##Dressage##
{btcopt[2][14][res_todo]} = ##Loups en dressage##
{btcopt[2][14][res_type]} = ##Loups##

{btcopt[2][16][unt]} = ##Entraînement##
{btcopt[2][16][unt_todo]} = ##Unités en Formation##
{btcopt[2][16][unt_type]} = ##Unités##

{btcopt[2][17][unt]} = ##Entraînement##
{btcopt[2][17][unt_todo]} = ##Unités en Formation##
{btcopt[2][17][unt_type]} = ##Unités##

{btcopt[2][18][unt]} = ##Formation##
{btcopt[2][18][unt_todo]} = ##Unités en Formation##
{btcopt[2][18][unt_type]} = ##Unités##

{btcopt[2][18][src]} = ##Recherches##

{btcact[2][title][1][unt]} = ##Formation##
{btcact[2][title][1][src]} = ##Recherches##
{btcact[2][title][6][unt]} = ##Arène##
{btcact[2][title][8][ach]} = ##Commerce##
{btcact[2][title][9][res]} = ##Forge##
{btcact[2][title][13][unt]} = ##Atelier##
{btcact[2][title][14][res]} = ##Tanière des Loups##
{btcact[2][title][16][unt]} = ##Totem##
{btcact[2][title][17][unt]} = ##Garde-Manger##

{unt[2][alt][1]} = ##Gobelin##
{unt[2][alt][2]} = ##Gobelin Chasseur##
{unt[2][alt][3]} = ##Gobelin Forgeron##
{unt[2][alt][4]} = ##Gobelin Bûcheron##
{unt[2][alt][5]} = ##Gobelin Mineur##
{unt[2][alt][6]} = ##Tête##
{unt[2][alt][7]} = ##Soldat##
{unt[2][alt][8]} = ##Trancheur##
{unt[2][alt][9]} = ##Epéiste##
{unt[2][alt][10]} = ##Champion Epéiste##
{unt[2][alt][11]} = ##Tireur##
{unt[2][alt][12]} = ##Archer##
{unt[2][alt][13]} = ##Champion Archer##
{unt[2][alt][14]} = ##Perceur##
{unt[2][alt][15]} = ##Lancier##
{unt[2][alt][16]} = ##Champion Lancier##
{unt[2][alt][17]} = ##Fendeur##
{unt[2][alt][18]} = ##Porte-Hache##
{unt[2][alt][19]} = ##Champion Porte-Hache##
{unt[2][alt][20]} = ##Dresseur##
{unt[2][alt][21]} = ##Cavalier##
{unt[2][alt][22]} = ##Chevaucheur##
{unt[2][alt][23]} = ##Catapulte##
{unt[2][alt][24]} = ##Baliste##
{unt[2][alt][25]} = ##Bélier##
{unt[2][alt][26]} = ##Bélier Brise-Crâne##
{unt[2][alt][27]} = ##Shaman##
{unt[2][alt][28]} = ##Cogneur##
{unt[2][alt][29]} = ##Troll##
{unt[2][alt][30]} = ##Berserker##
{unt[2][alt][31]} = ##Seigneur Orc sur Sanglier##
{unt[2][alt][32]} = ##Porte-Etendard##
{unt[2][alt][33]} = ##Baluchon##


{src[2][alt][1]} = ##Epées##
{src[2][alt][2]} = ##Haches##
{src[2][alt][3]} = ##Arcs##
{src[2][alt][4]} = ##Lances##
{src[2][alt][5]} = ##Défense Niveau 1##
{src[2][alt][6]} = ##Défense Niveau 2##
{src[2][alt][7]} = ##Défense Niveau 3##
{src[2][alt][8]} = ##Acier##
{src[2][alt][9]} = ##Elevage##
{src[2][alt][10]} = ##Commerce Niveau 1##
{src[2][alt][11]} = ##Commerce Niveau 2##
{src[2][alt][12]} = ##Armée Niveau 1##
{src[2][alt][13]} = ##Armée Niveau 2##
{src[2][alt][14]} = ##Armée Niveau 3##
{src[2][alt][15]} = ##Mine Niveau 1##
{src[2][alt][16]} = ##Mine Niveau 2##
{src[2][alt][17]} = ##Shamans##
{src[2][alt][18]} = ##Cogneurs##
{src[2][alt][19]} = ##Trolls##
{src[2][alt][20]} = ##Berserker##
{src[2][alt][21]} = ##Machines##
{src[2][alt][22]} = ##Montures de Guerre##
{src[2][alt][23]} = ##Etendards##
{src[2][alt][24]} = ##Peuple du voyage##

{comp[2][alt][1]} = ##Cri du chef##
{comp[2][alt][2]} = ##On tient le coup##
{comp[2][alt][4]} = ##Temps que t'es pas mort, bats toi.##
{comp[2][alt][6]} = ##On va casser l'caillou##
{comp[2][alt][7]} = ##Récupération##
{comp[2][alt][10]} = ##Soins##
{comp[2][alt][11]} = ##Santé de fer##
{comp[2][alt][12]} = ##Brouillard de guerre##
{comp[2][alt][13]} = ##Tenez les loin##
{comp[2][alt][14]} = ##Intimidation##
{comp[2][alt][18]} = ##On ne peut plus reculer##
{comp[2][alt][21]} = ##Sang noir##

