{res[2][descr][1]} = ##L'Or est la ressource centrale du jeu, elle permet par exemple de former des unités ou de faire du commerce...##
{res[2][descr][2]} = ##Le Bois permet de fabriquer des bâtiments ou des armes.##
{res[2][descr][3]} = ##Les Pierres sont utilisées dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[2][descr][4]} = ##La Viande est essentielle dans le jeu puisqu'elle permet de nourrir vos unités, civiles et militaires, et donc de leur éviter une mort certaine. N'oubliez jamais que vous devez nourrir votre village et vos légions.##
{res[2][descr][5]} = ##Le Fer permet de produire des armes et de fabriquer un métal précieux: l'Acier.##
{res[2][descr][6]} = ##Le Charbon permet de faire de l'Acier quand on le combine avec du Fer dans une Fonderie. On peut aussi être amené à se servir du Charbon ponctuellement dans diverses activités.##
{res[2][descr][7]} = ##Les Loups Géants permettent de former les Unités les plus féroces des Orcs.##
{res[2][descr][8]} = ##L'Acier qui vient du Fer et du Charbon est un métal précieux qui permet de forger des armes de toute nature.##
{res[2][descr][9]} = ##Le Mithril est plus précieux que l'Or et plus résistant que l'Acier, c'est un parfait mélange des deux. Il n'y a que les Nains qui peuvent le fabriquer car se sont les seuls à en connaître le secret.##
{res[2][descr][10]} = ##L'Armure en Cuir est faite à partir de peaux d'animaux, ou de celles des ennemis tués... Elle offre une protection partielle mais est très légère.##
{res[2][descr][11]} = ##L'Armure Cloutée est une Armure en Cuir améliorée mais elle possède un poids un peu plus important.##
{res[2][descr][12]} = ##L'Epée orc possède le défaut de ne pas être parfaitement aiguisée mais permettra, malgré tout, de déchiqueter bon nombre d'adversaires.##
{res[2][descr][13]} = ##La Hache permet de faire beaucoup plus de dégâts que l'épée dans les mains expertes des soldats orcs.##
{res[2][descr][14]} = ##L'Arc permet de lancer des attaques à distance.##
{res[2][descr][15]} = ##La Lance peut être projetée ou utilisée de manière défensive.##
{res[2][descr][16]} = ##L'Armure en Acier protègera beaucoup mieux vos soldats que les Armures basiques mais peu d'Orcs arrivent à la supporter.##
{res[2][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante, seuls les Trolls peuvent la porter puisque se sont les seules unités des armées orcs qui peuvent supporter le travail des Nains.##

{trn[2][descr][1]} = ##C'est dans la Forêt que les Bûcherons coupent le bois nécessaire au développement et à l'entretien des cités.##
{trn[2][descr][2]} = ##Le Fer est extrait des Gisements de Fer. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[2][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[2][descr][4]} = ##L'Or est extrait des Filons d'Or. Pour cela il faut former des Mineurs et construire une mine autour du Filon.##
{trn[2][descr][5]} = ##Les Montagnes permettent de produire des blocs de pierre grâce aux Carrières.##

{btc[2][descr][1]} = ##Bâtiment Principal, c'est à partir de ce bâtiment que tout votre campement va se développer. Il permet d'effectuer des recherches et de former des Gobelins. Sans lui vous ne pouvez plus rien faire.##
{btc[2][descr][2]} = ##C'est le bâtiment qui permet de fabriquer des blocs de Pierre pour votre village.##
{btc[2][descr][3]} = ##Grâce à ce bâtiment vous allez pouvoir disposer de bois (pour la construction de votre village par exemple).##
{btc[2][descr][4]} = ##Les Huttes servent à héberger la population de votre cité, elles n'offrent aucune protection mais permettent à vos unités de récupérer après les derniers carnages.##
{btc[2][descr][5]} = ##Produit la Viande nécessaire à vos Gobelins et à vos soldats.##
{btc[2][descr][6]} = ##L'Arène d'Entraînement est le premier lieu de formation de vos soldats. C'est ici que s'entraîneront vos Orcs pour y développer leur force et leur science de la guerre.##
{btc[2][descr][7]} = ##La Mine d'Or permet à vos Gobelins d'exploiter les Filons d'Or.##
{btc[2][descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs. Vous pouvez vendre des ressources ou en acheter. La monnaie d'échange est unique: il s'agit de l'Or. A noter que les Orcs ne sont pas fort doués dans ce domaine!##
{btc[2][descr][9]} = ##La Forge permet de fabriquer des armes pour votre armée. Sans elle, la rage des Orcs ne peut pas s'exprimer correctement.##
{btc[2][descr][10]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Charbon qui se trouvent à proximité de votre village.##
{btc[2][descr][11]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Fer qui se trouvent à proximité de votre village.##
{btc[2][descr][12]} = ##La Fonderie permet le mélange du Charbon et du Fer pour produire l'Acier selon les proportions suivantes: 2 Fer + 2 Charbon = 1 Acier.##
{btc[2][descr][13]} = ##Ce bâtiment vous permet de fabriquer des machines de guerre.##
{btc[2][descr][14]} = ##C'est dans cet endroit que vivent vos Loups Géants. Ils sont très fidèles aux Orcs et vivent donc en quasi-liberté à côté de vous.##
{btc[2][descr][15]} = ##Les Tours protègent votre village et vos soldats.##
{btc[2][descr][16]} = ##Le Totem permet de former des Shamans et des Cogneurs. C'est ici que sont appris les rudiments de la magie orc, le plus gros se faisant par l'expérience (en jouant avec les entrailles des ennemis).##
{btc[2][descr][17]} = ##Le Garde-Manger est le Territoire des Trolls et des puissants généraux Orcs, le seul moyen de les contenir hors du champ de bataille étant de leur fournir de la Viande en continu.##
{btc[2][descr][18]} = ##Le Fortin est la défense ultime pour votre village. En cas d'attaque c'est le principal lieu de repli de vos unités. De plus il permet d'héberger de manière permanente un grand nombre d'Orcs.##

{btcact[2][descr][1][unt]} = ##Former des nouveaux gobelins.##
{btcact[2][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[2][descr][6][unt]} = ##Entraîner des nouvelles unités de combat.##
{btcact[2][descr][8][ach]} = ##Acheter ou Vendre.##
{btcact[2][descr][9][res]} = ##Fabriquer des armes pour les soldats.##
{btcact[2][descr][13][unt]} = ##Construire des machines de guerre.##
{btcact[2][descr][14][res]} = ##Dresser des Loups.##
{btcact[2][descr][16][unt]} = ##Former des unités de soutien.##
{btcact[2][descr][17][unt]} = ##Former des unités monstrueuses.##

{unt[2][descr][1]} = ##Le Gobelin construit et répare les bâtiments. Sans ce peuple aucune société orc ne peut voir le jour.##
{unt[2][descr][2]} = ##Le Gobelin Chasseur passe son temps à chasser pour rapporter d'énormes quantités de Viande au village. ##
{unt[2][descr][3]} = ##Le Gobelin Forgeron produit l'Acier et fabrique les armes pour votre armée.##
{unt[2][descr][4]} = ##Le Gobelin Bûcheron coupe le Bois dont vous avez besoin.##
{unt[2][descr][5]} = ##Le Gobelin Mineur travaille dans les différentes mines ou dans les carrières.##
{unt[2][descr][6]} = ##La Tête ne demande qu'à être entraînée pour tuer ses ennemis.##
{unt[2][descr][7]} = ##Le Soldat est l'unité militaire de base. Une Tête non formée qui part à la boucherie!##
{unt[2][descr][8]} = ##Le Trancheur essaye de décapiter tout ce qu'il trouve en fonçant droit devant.##
{unt[2][descr][9]} = ##L'Epéiste manie habilement les épées longues.##
{unt[2][descr][10]} = ##Le Champion Epéiste représente l'élite des Epéistes, il manie l'épée presque aussi bien que les meilleurs guerriers Humains.##
{unt[2][descr][11]} = ##Le Tireur est rapide mais pas très précis avec son Arc.##
{unt[2][descr][12]} = ##L'Archer est capable de toucher sa cible depuis une plus grande distance que le Tireur.##
{unt[2][descr][13]} = ##Le Champion Archer manie son Arc à la perfection, cette arme est devenue un prolongement naturel de son bras.##
{unt[2][descr][14]} = ##Le Perceur est une unité défensive.##
{unt[2][descr][15]} = ##Le Lancier est capable de tenir une position face aux unités montées adverses.##
{unt[2][descr][16]} = ##Le Champion Lancier est un expert du combat défensif, il a fait de sa lance l'arme la plus redoutée des assaillants.##
{unt[2][descr][17]} = ##Le Fendeur passe son temps à fracasser des crânes.##
{unt[2][descr][18]} = ##Le Porte-Hache manie son arme comme un Boucher!##
{unt[2][descr][19]} = ##Le Champion Porte-Hache est l'unité la plus féroce de l'armée régulière orc.##
{unt[2][descr][20]} = ##Le Dresseur est une unité offensive et rapide.##
{unt[2][descr][21]} = ##Le Cavalier a su dompter les Loups Géants les plus féroces pour devenir un rapide et puissant guerrier.##
{unt[2][descr][22]} = ##Le Chevaucheur mène la meute fièrement vers les combats. C'est l'unité qui arrive à tirer le meilleur de sa monture.##
{unt[2][descr][23]} = ##La Catapulte sert à envoyer des grosses pierres qui iront se fracasser contre les remparts adverses ou contre des unités.##
{unt[2][descr][24]} = ##La Baliste sert à lancer des grosses flèches meurtrières.##
{unt[2][descr][25]} = ##Le Bélier ne permet que de détruire des bâtiments.##
{unt[2][descr][26]} = ##Le Bélier Brise-Crâne est l'évolution ultime du Bélier, plus puissant, plus dévastateur mais plus lent.##
{unt[2][descr][27]} = ##Le Shaman protège les unités proches de lui au combat.##
{unt[2][descr][28]} = ##Le Cogneur motive les troupes proches de lui pour les offensives.##
{unt[2][descr][29]} = ##Malgré son intelligence peu développée, sa stature imposante et son hurlement grave découragent les ennemis.##
{unt[2][descr][30]} = ##Le Berserker est la plus puissante des unités orcs, c'est un guerrier complètement allumé! Il manie ses deux haches avec rapidité, frénésie et efficacité.##
{unt[2][descr][31]} = ##Ce berserk exalte la hargne de ses troupes par sa fougue, perforant les lignes adverses sur sa monture puissante. ##
{unt[2][descr][32]} = ##Il fera tout pour que sa bannière domine fièrement le champ de bataille.##
{unt[2][descr][33]} = ##L'orc est ainsi, quand quelque chose ne lui plait plus, il le laisse. Ayant fini de piller tout ce qu'il y avait autour de lui, il s'en va, voyageant légé à la recherche de nouvelles proies.##

{src[2][descr][1]} = ##Donne accès aux Epées.##
{src[2][descr][2]} = ##Donne accès aux Haches.##
{src[2][descr][3]} = ##Donne accès aux Arcs.##
{src[2][descr][4]} = ##Donne accès aux Lances.##
{src[2][descr][5]} = ##Permet de construire des Armures en Cuir.##
{src[2][descr][6]} = ##Permet de construire des Armures Cloutées.##
{src[2][descr][7]} = ##Permet de construire des Armures en Acier et des Tours de défense pour votre village.##
{src[2][descr][8]} = ##Permet d'acquérir le savoir nécessaire à la réalisation de l'Acier.##
{src[2][descr][9]} = ##Permet de dresser des Loups Géants.##
{src[2][descr][10]} = ##Permet de vendre/acheter pour un maximum de 250 or. Limite de ventes: 6##
{src[2][descr][11]} = ##Permet de vendre/acheter pour un maximum de 3000 or. Limite de ventes: 12##
{src[2][descr][12]} = ##Permet de construire une Aire d'Entraînement et des unités de base pour votre armée.##
{src[2][descr][13]} = ##Donne accès à l'Armurerie et aux unités plus puissantes.##
{src[2][descr][14]} = ##Donne accès aux meilleurs unités de guerre.##
{src[2][descr][15]} = ##Permet de construire les Mines de base.##
{src[2][descr][16]} = ##Donne accès aux Mines de Charbon et de Fer et est essentielle pour la fabrication de l'Acier.##
{src[2][descr][17]} = ##Permet d'entraîner des Shamans.##
{src[2][descr][18]} = ##Permet d'entraîner des Cogneurs.##
{src[2][descr][19]} = ##Permet de former des Trolls.##
{src[2][descr][20]} = ##Permet de former des Berserkers.##
{src[2][descr][21]} = ##Permet d'acquérir le savoir nécessaire à la fabrication des Machines de guerres.##
{src[2][descr][22]} = ##Permet de dresser de puissants Sangliers pour aller percer les rangs ennemis.##
{src[2][descr][23]} = ##Donne aux Porte-Etendard les moyens de lever bien haut les couleurs de votre clan.##
{src[2][descr][24]} = ##Défiant les frontières et les gouvernements extrémistes de tout bord, les orcs se déplacent et investissent le territoire qu'ils ont choisi.##

{comp[2][descr][1]} = ##Stratégie : Le héros orc pousse un cri de guerre retentissant qui rend fou les autres combattants proche de lui, les orcs entrent dans une rage déstructrice. L'attaque unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[2][descr][2]} = ##Stratégie : Le héros ordonne à ses troupes de lancer une contre offensive sur l'ennemi en quittant la cité et en engageant le combat sur les flancs. La défense unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[2][descr][4]} = ##Stratégie : Le héros orc est capable de faire rentrer ses troupes dans une transe rituelle les faisant ignorer la douleur. La vie des unités est augmentée de %1$d %% pendant %2$d tours.##
{comp[2][descr][6]} = ##Stratégie : Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemies, permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles L'attaque bâtiment est augmentée de %1$d %% pendant %2$d tours.##
{comp[2][descr][7]} = ##Compétence : Après la bataille, le héros orc est capable d'ignorer ses blessures et de récupérer ses forces plus rapidement. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##
{comp[2][descr][10]} = ##Compétence : Le héros ordonne à ses troupes de récupérer les blessés alliés sur le champ de bataille pour qu'ils soient soignés et aptes à se battre au plus vite. %1$d %% des pertes du combat se retrouve en vie dans la légion.##
{comp[2][descr][11]} = ##Compétence : Alors que tous pense que le héros orc est mort, celui-ci s'accroche durement à la vie et se relève pour continuer à se battre. Une fois cette compétence activée, et pendant %2$d tours, s'il est tué au combat, il réaparrait au village.##
{comp[2][descr][12]} = ##Compétence : Par le biais d'une invocation du héros, un brouillard épais s'abat sur les troupes les rendant invisibles aux yeux ennemis. Pendant %2$d tours la légion est invisible pour les ennemis, sur la carte et depuis leur donjon.##
{comp[2][descr][13]} = ##Stratégie : Le héros orc place ses lanciers en avant pour protéger ses autres troupes et ordonne à ses archers un tir constant et désorganisé pour affaiblir l'adversaire. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##
{comp[2][descr][14]} = ##Compétence : Lorsqu'il s'agit de négocier le héros orc joue de ses muscles et hausse le ton. Ses menaces lui accordent un avantage commercial substantiel. Pendant %2$d tours il obtient %1$d %% de ristourne sur les achats du marché.##
{comp[2][descr][18]} = ##Stratégie : Une fois acculé dans son village, le héros orc peut ordonner que toute les ressources soient utilisées à la défense du clan. La défense bénéficie de %1$d %% supplémentaire grâce aux bâtiments pendant %2$d tours.##
{comp[2][descr][21]} = ##Compétence : Le héros Orc possède la faculté rare du sang noir, ses blessures guérissent plus vite que la moyenne. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##

