{res[3][alt][1]} = ##Or##
{res[3][alt][2]} = ##Bois##
{res[3][alt][3]} = ##Pierres##
{res[3][alt][4]} = ##Champignons##
{res[3][alt][5]} = ##Fer##
{res[3][alt][6]} = ##Charbon##
{res[3][alt][7]} = ##Chevaux##
{res[3][alt][8]} = ##Acier##
{res[3][alt][9]} = ##Mithril##
{res[3][alt][10]} = ##Massue##
{res[3][alt][11]} = ##Marteau de Combat##
{res[3][alt][12]} = ##Hache##
{res[3][alt][13]} = ##Hache de Guerre##
{res[3][alt][14]} = ##Hache de Combat##
{res[3][alt][15]} = ##Marteau de Guerre##
{res[3][alt][16]} = ##Cotte de Maille##
{res[3][alt][17]} = ##Cotte de Mithril##

{trn[3][alt][1]} = ##Forêt##
{trn[3][alt][2]} = ##Gisement de Fer##
{trn[3][alt][3]} = ##Gisement de Charbon##
{trn[3][alt][4]} = ##Filon d'Or##
{trn[3][alt][5]} = ##Montagne##

{btc[3][alt][1]} = ##Bastion##
{btc[3][alt][2]} = ##Caverne##
{btc[3][alt][3]} = ##Champignonnière##
{btc[3][alt][4]} = ##Mine de Pierre##
{btc[3][alt][5]} = ##Mine de Charbon##
{btc[3][alt][6]} = ##Mine de Fer##
{btc[3][alt][7]} = ##Mine d'Or##
{btc[3][alt][8]} = ##Echoppe##
{btc[3][alt][9]} = ##Fonderie##
{btc[3][alt][10]} = ##Caserne##
{btc[3][alt][11]} = ##Ecole Militaire##
{btc[3][alt][12]} = ##Haut-Fourneau##
{btc[3][alt][13]} = ##Fonderie de Mithril##
{btc[3][alt][14]} = ##Forge##
{btc[3][alt][15]} = ##Atelier##
{btc[3][alt][16]} = ##Manufacture Naine##
{btc[3][alt][17]} = ##Tour##
{btc[3][alt][18]} = ##Temple##
{btc[3][alt][19]} = ##Ecole Runique##
{btc[3][alt][20]} = ##Hall des Légendes##
{btc[3][alt][21]} = ##Citadelle##

{btcopt[3][1][unt]} = ##Formation##
{btcopt[3][1][unt_todo]} = ##Unités en Formation##
{btcopt[3][1][unt_type]} = ##Unités##

{btcopt[3][1][src]} = ##Recherches##

{btcopt[3][10][unt]} = ##Entraînement##
{btcopt[3][10][unt_todo]} = ##Unités en Formation##
{btcopt[3][10][unt_type]} = ##Unités##

{btcopt[3][11][unt]} = ##Entraînement##
{btcopt[3][11][unt_todo]} = ##Unités en Formation##
{btcopt[3][11][unt_type]} = ##Unités##

{btcopt[3][12][src]} = ##Recherches##

{btcopt[3][14][res]} = ##Fabrication##
{btcopt[3][14][res_todo]} = ##Armes en Fabrication##
{btcopt[3][14][res_type]} = ##Armes##

{btcopt[3][15][unt]} = ##Fabrication##
{btcopt[3][15][unt_todo]} = ##Machines en Fabrication##
{btcopt[3][15][unt_type]} = ##Machines##

{btcopt[3][16][unt]} = ##Fabrication##
{btcopt[3][16][unt_todo]} = ##Machines en Fabrication##
{btcopt[3][16][unt_type]} = ##Machines##

{btcopt[3][18][unt]} = ##Entraînement##
{btcopt[3][18][unt_todo]} = ##Unités en Formation##
{btcopt[3][18][unt_type]} = ##Unités##

{btcopt[3][19][unt]} = ##Entraînement##
{btcopt[3][19][unt_todo]} = ##Unités en Formation##
{btcopt[3][19][unt_type]} = ##Unités##

{btcopt[3][20][unt]} = ##Entraînement##
{btcopt[3][20][unt_todo]} = ##Unités en Formation##
{btcopt[3][20][unt_type]} = ##Unités##

{btcopt[3][21][unt]} = ##Formation##
{btcopt[3][21][unt_todo]} = ##Unités en Formation##
{btcopt[3][21][unt_type]} = ##Unités##

{btcopt[3][21][src]} = ##Recherches##


{btcact[3][title][1][unt]} = ##Formation##
{btcact[3][title][1][src]} = ##Recherches##
{btcact[3][title][8][ach]} = ##Commerce##
{btcact[3][title][10][unt]} = ##Caserne##
{btcact[3][title][11][unt]} = ##Ecole Militaire##
{btcact[3][title][14][res]} = ##Forge##
{btcact[3][title][15][unt]} = ##Atelier##
{btcact[3][title][16][unt]} = ##Fabrique##
{btcact[3][title][18][unt]} = ##Temple##
{btcact[3][title][19][unt]} = ##Ecole Runique##
{btcact[3][title][20][unt]} = ##Hall des Légendes##


{unt[3][alt][1]} = ##Bâtisseur##
{unt[3][alt][2]} = ##Cueilleur##
{unt[3][alt][3]} = ##Mineur##
{unt[3][alt][4]} = ##Maître Forgeron##
{unt[3][alt][5]} = ##Maître Artisan##
{unt[3][alt][6]} = ##Ingénieur##
{unt[3][alt][7]} = ##Recrue##
{unt[3][alt][8]} = ##Vétéran##
{unt[3][alt][9]} = ##Champion##
{unt[3][alt][10]} = ##Eclaireur##
{unt[3][alt][11]} = ##Milicien##
{unt[3][alt][12]} = ##Combattant Nain##
{unt[3][alt][13]} = ##Défenseur Nain##
{unt[3][alt][14]} = ##Guerrier Nain##
{unt[3][alt][15]} = ##Protecteur Nain##
{unt[3][alt][16]} = ##Prêtre de Moradin##
{unt[3][alt][17]} = ##Prêtre de Dumathoin##
{unt[3][alt][18]} = ##Graveur de Runes##
{unt[3][alt][19]} = ##Lanceur de Runes##
{unt[3][alt][20]} = ##Catapulte Attelée##
{unt[3][alt][21]} = ##Bélier Attelé##
{unt[3][alt][22]} = ##Bélier Tête-de-mort##
{unt[3][alt][23]} = ##Baliste##
{unt[3][alt][24]} = ##Transport de troupes##
{unt[3][alt][25]} = ##Golem d'Acier##
{unt[3][alt][26]} = ##Tauren##
{unt[3][alt][27]} = ##Seigneur de Guerre##
{unt[3][alt][28]} = ##Transport Runique##

{src[3][alt][1]} = ##Mine Niveau 1##
{src[3][alt][2]} = ##Mine Niveau 2##
{src[3][alt][3]} = ##Commerce Niveau 1##
{src[3][alt][4]} = ##Commerce Niveau 2##
{src[3][alt][5]} = ##Commerce Niveau 3##
{src[3][alt][6]} = ##Fonte de l'Acier##
{src[3][alt][7]} = ##Travail de l'Acier##
{src[3][alt][8]} = ##Fonte du Mithril##
{src[3][alt][9]} = ##Mécanismes simples##
{src[3][alt][10]} = ##Mécanismes complexes##
{src[3][alt][11]} = ##Fortifications##
{src[3][alt][12]} = ##Gravure Runique##
{src[3][alt][13]} = ##Ecriture Runique##
{src[3][alt][14]} = ##Chasseurs Nains##
{src[3][alt][15]} = ##Combattants Nains##
{src[3][alt][16]} = ##Guerriers Nains##
{src[3][alt][17]} = ##Armes Niveau 1##
{src[3][alt][18]} = ##Armes Niveau 2##
{src[3][alt][19]} = ##Armures Niveau 1##
{src[3][alt][20]} = ##Armures Niveau 2##
{src[3][alt][21]} = ##Machines de guerre Niveau 1##
{src[3][alt][22]} = ##Machines de guerre Niveau 2##
{src[3][alt][23]} = ##Machines de guerre Niveau 3##
{src[3][alt][24]} = ##Fidélité à Moradin##
{src[3][alt][25]} = ##Fidélité à Dumathoïn##
{src[3][alt][26]} = ##Créatures Artificielles##
{src[3][alt][27]} = ##Druidisme##
{src[3][alt][28]} = ##Tactiques Militaires##
{src[3][alt][29]} = ##Rune de voyage##

{comp[3][alt][1]} = ##Onde sonore##
{comp[3][alt][2]} = ##Mur de boucliers##
{comp[3][alt][4]} = ##Endurance légendaire##
{comp[3][alt][6]} = ##Casse murailles##
{comp[3][alt][7]} = ##Récupération##
{comp[3][alt][10]} = ##Soins##
{comp[3][alt][11]} = ##La bénédiction de Berronar##
{comp[3][alt][13]} = ##Protection runique##
{comp[3][alt][14]} = ##Avantage commerciaux##
{comp[3][alt][5]} = ##Pas de course##
{comp[3][alt][8]} = ##Rune de transport##
{comp[3][alt][15]} = ##Muraille runique##

