{res[3][descr][1]} = ##L'Or est la ressource centrale du jeu, elle permet par exemple de former des unités ou de faire du commerce. De plus les Nains sont très attirés par cette matière dont ils savent tirer le meilleur avec le Mithril.##
{res[3][descr][2]} = ##Le Bois permet de fabriquer des bâtiments ou des armes mais il ne peut être acquis que par le commerce ou la guerre car les Nains ne savent pas exploiter les forêts.##
{res[3][descr][3]} = ##Les Pierres sont utilisées dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[3][descr][4]} = ##Les Champignons sont la principale source de nourriture souterraine. C'est une ressource essentielle qui vous permettra d'éviter la mort de vos unités. De plus n'oubliez jamais que vous devez nourrir votre village et vos légions.##
{res[3][descr][5]} = ##Le Fer permet de produire des armes et de fabriquer un métal précieux: l'Acier.##
{res[3][descr][6]} = ##Le Charbon permet de faire de l'Acier quand on le combine avec du Fer dans une Fonderie. On peut aussi etre amené à se servir du Charbon ponctuellement dans diverses activités.##
{res[3][descr][7]} = ##Les Chevaux servent peu aux Nains et doivent, comme le Bois, être achetés aux autres races. Le mode de vie des Nains est incompatible avec le dressage de ces animaux.##
{res[3][descr][8]} = ##L'Acier qui vient du Fer et du Charbon est un métal précieux qui permet de forger des armes de haute qualité.##
{res[3][descr][9]} = ##Le Mithril est plus précieux que l'Or et plus résistant que l'Acier, c'est un parfait mélange des deux. Il n'y a que les Nains qui peuvent le fabriquer car ce sont les seuls à en connaître le secret.##
{res[3][descr][10]} = ##La Massue est une arme traditionnelle des Nains.##
{res[3][descr][11]} = ##Le Marteau de Combat est plus adapté aux combats que la massue mais demande plus de dextérité pour être correctement manié.##
{res[3][descr][12]} = ##La Hache a de multiples usages chez les Nains dont la principale est d'éventrer l'ennemi!##
{res[3][descr][13]} = ##La Hache de Guerre est l'instrument des meilleurs guerriers.##
{res[3][descr][14]} = ##La Hache de Combat tue aussi vite que le souffle du dragon!!##
{res[3][descr][15]} = ##Le Marteau de Guerre fait des ravages imcommensurables dans les rangs des assaillants adverses.##
{res[3][descr][16]} = ##La Cotte de Maille protègera vos soldats, c'est la défense minimale qu'un guerrier nain doit porter pour partir au combat.##
{res[3][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante et équipera bon nombre de vos soldats.##

{trn[3][descr][1]} = ##Les Nains ne s'aventurent guère dans les forêts, ils ne peuvent donc pas l'exploiter et produire du Bois.##
{trn[3][descr][2]} = ##Le Fer est extrait des Gisements de Fer. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[3][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[3][descr][4]} = ##L'Or est extrait des Filons d'Or. Pour cela il faut former des Mineurs et construire une mine autour du Filon.##
{trn[3][descr][5]} = ##Les Montagnes permettent de produire des blocs de pierre grâce aux Carrières.##


{btc[3][descr][1]} = ##Bâtiment Principal, c'est à partir de ce bâtiment que toute votre cité va se développer. Il permet d'effectuer des recherches et de former des unités civiles. Sans lui vous ne pouvez plus rien faire.##
{btc[3][descr][2]} = ##Permet d'héberger nos frères nains.##
{btc[3][descr][3]} = ##Permet de cultiver des Champignons pour nourrir vos Nains.##
{btc[3][descr][4]} = ##C'est le bâtiment qui permet de fabriquer des blocs de Pierre pour votre village.##
{btc[3][descr][5]} = ##Voici le bâtiment qui permet aux Nains d'exploiter les Gisements de Charbon qui se trouvent à proximité du village.##
{btc[3][descr][6]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Fer qui se trouvent à proximité de votre village.##
{btc[3][descr][7]} = ##La Mine d'Or permet d'exploiter les Filons d'Or. Chez les Nains c'est l'un des lieux les plus importants du village.##
{btc[3][descr][8]} = ##L'échoppe est le lieu de commerce et de la "négoce" où tout s'achète, pourvu qu'on y mette le prix!##
{btc[3][descr][9]} = ##La Fonderie permet le mélange du Charbon et du Fer pour produire l'Acier selon les proportions suivantes: 1 Fer + 1 Charbon = 1 Acier.##
{btc[3][descr][10]} = ##La Caserne permet de former des guerriers nains.##
{btc[3][descr][11]} = ##L'Ecole Militaire donne une formation plus poussée aux Recrues que la Caserne.##
{btc[3][descr][12]} = ##Le Haut-Fourneau est une extension de la Fonderie. Il permet de fondre des lingots d'Acier supplémentaires. Il permet aussi d'augmenter le rythme des Recherches.##
{btc[3][descr][13]} = ##La Fonderie de Mithril est gourmande en ressources, mais produit le plus précieux des métaux. Elle utilise l'Acier et l'Or selon les proportions suivantes: 2 Acier + 1 Or = 1 Mithril. Tout le savoir nain est concentré en cet endroit interdit à toutes les autres races.##
{btc[3][descr][14]} = ##Lorsque la forge gronde, de nouvelles armes sont fondues pour votre armée!##
{btc[3][descr][15]} = ##Permet de fabriquer des Machines de Guerre qui restent simplistes pour des Nains.##
{btc[3][descr][16]} = ##La Fabrique naine regroupe tout le savoir-faire des Maîtres Artisans nains.##
{btc[3][descr][17]} = ##Les Tours protègent le territoire du village et ceux qu'il abrite.##
{btc[3][descr][18]} = ##Le Temple est un lieu de culte pour tous les Nains.##
{btc[3][descr][19]} = ##L'école Runique forme les Nains versés dans les mystères des Runes, ce pouvoir appris des amis Elfes.##
{btc[3][descr][20]} = ##Le Hall des Légendes héberge en ses corridors et murailles les plus puissantes unités du peuple nain.##
{btc[3][descr][21]} = ##La Citadelle protègera le peuple nain envers et contre tout! Elle offre de plus un hébergement permanent à plusieurs dizaines de Nains.##


{btcact[3][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[3][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[3][descr][8][ach]} = ##Commercer pour obtenir de nouvelles denrées.##
{btcact[3][descr][10][unt]} = ##Entraîner de nouveaux soldats.##
{btcact[3][descr][11][unt]} = ##Former des recrues d'élite.##
{btcact[3][descr][14][res]} = ##Forger des armes pour vos soldats.##
{btcact[3][descr][15][unt]} = ##Construire des engins de guerre simples.##
{btcact[3][descr][16][unt]} = ##Construire des engins de guerre complexes.##
{btcact[3][descr][18][unt]} = ##Former des Prêtres.##
{btcact[3][descr][19][unt]} = ##Former des Maîtres des Runes.##
{btcact[3][descr][20][unt]} = ##Former des Unités Ultimes.##


{unt[3][descr][1]} = ##Le Bâtisseur construit et répare les bâtiments. C'est l'élément de base du village, sans lui rien n'est possible.##
{unt[3][descr][2]} = ##Le Cueilleur cultive et récolte les Champignons nécessaires à la survie de tous les Nains.##
{unt[3][descr][3]} = ##Le Mineur travaille dans les différentes Mines ou dans les Carrières. Il apporte les matières premières dont votre village a besoin pour fonctionner correctement.##
{unt[3][descr][4]} = ##Le Maître Forgeron travaille le métal comme personne.##
{unt[3][descr][5]} = ##Le Maître Artisan est spécialisé dans le montage de mécanismes.##
{unt[3][descr][6]} = ##L'Ingénieur invente de nouveaux concepts et vérifie la bonne application de ceux-ci.##
{unt[3][descr][7]} = ##La Recrue est une unité civile que vous formerez pour devenir soldat.##
{unt[3][descr][8]} = ##Le Vétéran est une unité civile qui pourra devenir un soldat plus puissant qu'une Recrue.##
{unt[3][descr][9]} = ##Le Champion est une unité civile qui pourra devenir un soldat extraordinaire.##
{unt[3][descr][10]} = ##L'Eclaireur est l'unité offensive de base.##
{unt[3][descr][11]} = ##Le Milicien veille à la sécurité des petits villages.##
{unt[3][descr][12]} = ##Le Combattant Nain est un soldat aguerri.##
{unt[3][descr][13]} = ##Le Défenseur Nain protège les abords de la cité.##
{unt[3][descr][14]} = ##Le Guerrier Nain est le fleuron de l'infanterie naine.##
{unt[3][descr][15]} = ##Le Protecteur nain se bat corps et âme pour la défense de la Citadelle.##
{unt[3][descr][16]} = ##Le Prêtre de Moradin est fidèle au dieu de la guerre et donne force et courage aux soldats autour de lui.##
{unt[3][descr][17]} = ##Le Prêtre de Dumathoin se bat en l'honneur de son dieu protecteur et protège les soldats autour de lui.##
{unt[3][descr][18]} = ##Le Graveur de Runes couvre ses boucliers de Runes défensives.##
{unt[3][descr][19]} = ##Le Lanceur de Runes lance des Runes offensives.##
{unt[3][descr][20]} = ##La Catapulte Attelée sert à envoyer des grosses pierres qui iront se fracasser contre les remparts adverses ou contre des unités.##
{unt[3][descr][21]} = ##Le Bélier Attelé vous ouvrira une brèche dans les remparts ennemis, il est par contre inefficace contre les unités.##
{unt[3][descr][22]} = ##Le Bélier Tête-de-mort est une version améliorée du Belier Attelé mais moins mobile.##
{unt[3][descr][23]} = ##La Baliste épaulera vos troupes contre l'infanterie ennemie grâce aux énormes flèches qu'elle envoie.##
{unt[3][descr][24]} = ##Le Transport de Troupes amène vos soldats plus rapidement sur le champ de bataille. En effet, il permet de véhiculer 12 Nains et donc de leur donner une vitesse de 10.##
{unt[3][descr][25]} = ##Capable d'anéantir plusieurs soldats d'un coup de sa lourde masse, la présence de ce mastodonte d'acier tétanise les attaquants.##
{unt[3][descr][26]} = ##Le Tauren est un puissant druide ayant décidé de mettre sa sagesse au service du peuple nain.##
{unt[3][descr][27]} = ##Expert du maniement de la hache, le Seigneur de Guerre sait aussi commander ses troupes avec efficacité sur le champ de bataille.##
{unt[3][descr][28]} = ##Le transport runique vous enmène vers de nouvelles terres d'accueil.##

{src[3][descr][1]} = ##Permet de construire les Mines de base.##
{src[3][descr][2]} = ##Donne accès aux Mines d'Or, indispensable pour tout Nain qui se respecte.##
{src[3][descr][3]} = ##Permet de vendre/acheter pour un maximum de 250 or. Limite de ventes: 6##
{src[3][descr][4]} = ##Permet de vendre/acheter pour un maximum de 3000 or. Limite de ventes: 12##
{src[3][descr][5]} = ##Permet de vendre/acheter pour un maximum de 5000 or. Limite de ventes: 24##
{src[3][descr][6]} = ##Permet d'acquérir le savoir nécessaire à la réalisation de l'Acier.##
{src[3][descr][7]} = ##Cette recherche permet d'enrichir vos connaissances sur le travail de l'Acier.##
{src[3][descr][8]} = ##Vous permet de fondre le précieux Mithril.##
{src[3][descr][9]} = ##Vous permet de réaliser l'Atelier.##
{src[3][descr][10]} = ##Vous permet de réaliser la Manufacture Naine.##
{src[3][descr][11]} = ##Cette recherche vous apprendra les secrets des Fortifications.##
{src[3][descr][12]} = ##Permet à votre peuple d'apprendre les secrets des Runes Défensives.##
{src[3][descr][13]} = ##Permet à votre peuple d'apprendre les secrets des Runes Offensives.##
{src[3][descr][14]} = ##Donne accès aux troupes de base.##
{src[3][descr][15]} = ##Donne accès à l'infanterie expérimentée.##
{src[3][descr][16]} = ##Donne accès aux meilleures unités d'infanterie.##
{src[3][descr][17]} = ##Permet de réaliser des armes de qualité pour vos combattants.##
{src[3][descr][18]} = ##Permet de créer des armes puissantes pour vos guerriers.##
{src[3][descr][19]} = ##Permet de créer des Cottes de Maille en Acier.##
{src[3][descr][20]} = ##Permet de créer des Cottes de Maille de Mithril.##
{src[3][descr][21]} = ##Permet la construction des Machines de Guerre connues de tous les Nains.##
{src[3][descr][22]} = ##Permet la construction de Machines de Guerre plus complexes.##
{src[3][descr][23]} = ##Permet la construction des meilleures Machines de Guerre.##
{src[3][descr][24]} = ##Cette recherche vous permet de comprendre les sens les plus profonds du culte de Moradin.##
{src[3][descr][25]} = ##Cette recherche permet de lier définitivement des Vétérans à Dumathoin.##
{src[3][descr][26]} = ##La création d'êtres vivants à partir d'acier solide permet d'animer de redoutables Golems.##
{src[3][descr][27]} = ##Là où la magie runique ne suffit pas, le druidisme permet aux nains d'accueillir le savoir des Taurens.##
{src[3][descr][28]} = ##La connaissance des stratégies militaires naines permet de former de brillants Seigneurs de Guerre.##
{src[3][descr][29]} = ##Les forces runiques vous permettront à présent de pouvoir déménager.##

{comp[3][descr][1]} = ##Stratégie: Le héros nain ordonne que ses soldats frappent leur bouclier et déclenchent une vague sonore attisant le courage et la détermination de tous les nains. L'attaque unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[3][descr][2]} = ##Stratégie : Le héros nain est un expert dans l'art du combat sur la défensive, il ordonne à ses troupes de lever un mur de boucliers pour faire face à l'ennemi. La défense unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[3][descr][4]} = ##Stratégie: Les nains forment une race solide et endurante et le héros sait utiliser cette qualité à son avantage, les nains de l'armée sont bien plus résistant. La vie des soldats est augmentée de %1$d %% pendant %2$d tours.##
{comp[3][descr][6]} = ##Stratégie : Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemis permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles. L'attaque bâtiment est augmentée de %1$d %% pendant %2$d tours.##
{comp[3][descr][7]} = ##Compétence :Le héros nain en a vu passer des blessures et il est habitué à panser lui même ses plaies. Celle-ci ne mettra pas longtemps avant de se refermer. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##
{comp[3][descr][10]} = ##Stratégie : Le héros ordonne à ses troupes de récupérer les blessés alliés sur le champ de bataille pour qu'ils soient soignés et aptes à se battre au plus vite. %1$d %% des pertes du combat se retrouve en vie dans la légion.##
{comp[3][descr][11]} = ##Compétence :Le héros est béni par le dieu Berronar qui lui accorde une seconde chance et le ramène à la vie. S'il est tué pendant la durée du sort, il ressuscite au village. Le sort dure %2$d tours.##
{comp[3][descr][13]} = ##Stratégie: Les lanceurs et les graveurs de runes de l'armée naine s'unissent pour dresser une protection runique qui foudroie l'ennemi. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##
{comp[3][descr][14]} = ##Compétence: C'est une tradition chez les nains, il faut savoir se battre mais aussi négocier. Le héros jouit d'un savoir faire unique dans les négociations : pendant %2$d tours il obtient %1$d %% de ristourne sur les achats du marché.##
{comp[3][descr][5]} = ##Stratégie: Le héros nain fait battre la cadence plus rapidement pour forcer ses soldats à accélérer le rythme de marche. Pendant %2$d tours sa légion se déplace %1$d %% plus vite.##
{comp[3][descr][8]} = ##Compétence: Le héros nain peut graver la rune de transport autour de son armée sur le sol pour se téléporter immédiatement à un autre endroit. Une fois la compétence activée, la téléportation doit se faire durant le tour actif.##
{comp[3][descr][15]} = ##Compétence: Le héros peut isoler sa forteresse autour d'un mur runique invisible qui empêche toute armée hostile d'avancer jusqu'au village. Aucune légion ennemie ne peut attaquer le village pendant %2$s tours. Pendant cette période toute production est stopée.##

