{res[4][alt][1]} = ##Or##
{res[4][alt][2]} = ##Bois##
{res[4][alt][3]} = ##Pierre##
{res[4][alt][4]} = ##Nourriture##
{res[4][alt][5]} = ##Fer##
{res[4][alt][6]} = ##Charbon##
{res[4][alt][7]} = ##Worgs##
{res[4][alt][8]} = ##Acier##
{res[4][alt][9]} = ##Mithril##
{res[4][alt][10]} = ##Bouclier##
{res[4][alt][11]} = ##Massue##
{res[4][alt][12]} = ##Hache##
{res[4][alt][13]} = ##Hallebarde##
{res[4][alt][14]} = ##Arc##
{res[4][alt][15]} = ##Arbalète##
{res[4][alt][16]} = ##Cotte Noire##
{res[4][alt][17]} = ##Cotte de Mithril##

{trn[4][alt][1]} = ##Forêt##
{trn[4][alt][2]} = ##Gisement de Fer##
{trn[4][alt][3]} = ##Gisement de Charbon##
{trn[4][alt][4]} = ##Filon d'Or##
{trn[4][alt][5]} = ##Montagne##

{btc[4][alt][1]} = ##Nid##
{btc[4][alt][2]} = ##Carrière##
{btc[4][alt][3]} = ##Scierie##
{btc[4][alt][4]} = ##Habitation##
{btc[4][alt][5]} = ##Aire de Chasse##
{btc[4][alt][6]} = ##Serre de Combat##
{btc[4][alt][7]} = ##Galerie d'Or##
{btc[4][alt][8]} = ##Marché##
{btc[4][alt][9]} = ##Maison des Lames##
{btc[4][alt][10]} = ##Fonderie##
{btc[4][alt][11]} = ##Aire de Dressage##
{btc[4][alt][12]} = ##Galerie de Charbon##
{btc[4][alt][13]} = ##Galerie de Fer##
{btc[4][alt][14]} = ##Forge##
{btc[4][alt][15]} = ##Guilde des Chasseurs##
{btc[4][alt][16]} = ##Avant-poste##
{btc[4][alt][17]} = ##Guilde des Lames##
{btc[4][alt][18]} = ##Guilde des Dresseurs##
{btc[4][alt][19]} = ##Demeure##
{btc[4][alt][20]} = ##Temple##
{btc[4][alt][21]} = ##Autel##
{btc[4][alt][22]} = ##Guilde des Forgerons##
{btc[4][alt][23]} = ##Autel Noir##
{btc[4][alt][24]} = ##Cité Noire##

{btcopt[4][1][unt]} = ##Formation##
{btcopt[4][1][unt_todo]} = ##Unités en Formation##
{btcopt[4][1][unt_type]} = ##Unités##

{btcopt[4][1][src]} = ##Recherches##

{btcopt[4][6][unt]} = ##Entraînement##
{btcopt[4][6][unt_todo]} = ##Unités en Formation##
{btcopt[4][6][unt_type]} = ##Unités##

{btcopt[4][9][unt]} = ##Entraînement##
{btcopt[4][9][unt_todo]} = ##Unités en Formation##
{btcopt[4][9][unt_type]} = ##Unités##

{btcopt[4][11][unt]} = ##Dressage##
{btcopt[4][11][unt_todo]} = ##Créatures en cours de Dressage##
{btcopt[4][11][unt_type]} = ##Créatures##

{btcopt[4][14][res]} = ##Fabrication##
{btcopt[4][14][res_todo]} = ##Armes en Fabrication##
{btcopt[4][14][res_type]} = ##Armes##

{btcopt[4][17][unt]} = ##Entraînement##
{btcopt[4][17][unt_todo]} = ##Unités en Formation##
{btcopt[4][17][unt_type]} = ##Unités##

{btcopt[4][18][res]} = ##Dressage Worgs##
{btcopt[4][18][res_todo]} = ##Worgs en dressage##
{btcopt[4][18][res_type]} = ##Worgs##
{btcopt[4][18][unt]} = ##Dressage Créatures##
{btcopt[4][18][unt_todo]} = ##Créatures en cours de Dressage##
{btcopt[4][18][unt_type]} = ##Créatures##

{btcopt[4][20][unt]} = ##Entraînement##
{btcopt[4][20][unt_todo]} = ##Unités en Formation##
{btcopt[4][20][unt_type]} = ##Unités##

{btcopt[4][21][unt]} = ##Entraînement##
{btcopt[4][21][unt_todo]} = ##Unités en Formation##
{btcopt[4][21][unt_type]} = ##Unités##

{btcopt[4][22][unt]} = ##Entraînement##
{btcopt[4][22][unt_todo]} = ##Unités en Formation##
{btcopt[4][22][unt_type]} = ##Unités##

{btcopt[4][23][unt]} = ##Entraînement##
{btcopt[4][23][unt_todo]} = ##Unités en Formation##
{btcopt[4][23][unt_type]} = ##Unité##

{btcopt[4][24][unt]} = ##Formation##
{btcopt[4][24][unt_todo]} = ##Unités en Formation##
{btcopt[4][24][unt_type]} = ##Unités##

{btcopt[4][24][src]} = ##Recherches##

{btcact[4][title][1][unt]} = ##Formation##
{btcact[4][title][1][src]} = ##Recherches##
{btcact[4][title][6][unt]} = ##Serre##
{btcact[4][title][9][unt]} = ##Maison des Lames##
{btcact[4][title][17][unt]} = ##Guilde des Lames##
{btcact[4][title][8][ach]} = ##Commerce##
{btcact[4][title][11][unt]} = ##Aire de Dressage##
{btcact[4][title][18][unt]} = ##G. des Dresseurs##
{btcact[4][title][14][res]} = ##Forge##
{btcact[4][title][22][unt]} = ##G. des Forgerons##
{btcact[4][title][20][unt]} = ##Temple##
{btcact[4][title][21][unt]} = ##Autel##
{btcact[4][title][23][unt]} = ##Autel Noir##

{unt[4][alt][1]} = ##Esclave Serviteur##
{unt[4][alt][2]} = ##Chasseur##
{unt[4][alt][3]} = ##Dresseur##
{unt[4][alt][4]} = ##Forgeron##
{unt[4][alt][5]} = ##Esclave Mineur##
{unt[4][alt][6]} = ##Esclave Bûcheron##
{unt[4][alt][7]} = ##Convoqué##
{unt[4][alt][8]} = ##Combattant##
{unt[4][alt][9]} = ##Assassin##
{unt[4][alt][10]} = ##Ombre##
{unt[4][alt][11]} = ##Brigand##
{unt[4][alt][12]} = ##Capuche Noire##
{unt[4][alt][13]} = ##Hallebardier Noir##
{unt[4][alt][14]} = ##Arbalétrier Noir##
{unt[4][alt][15]} = ##Géant des Roches##
{unt[4][alt][16]} = ##Ailes Nocturnes##
{unt[4][alt][17]} = ##Arachnide Tisseuse##
{unt[4][alt][18]} = ##Worg Guerrier##
{unt[4][alt][19]} = ##Arachnide Guerrière##
{unt[4][alt][20]} = ##Basilic##
{unt[4][alt][21]} = ##Prêtresse de la Nuit##
{unt[4][alt][22]} = ##Clerc de la Nuit##
{unt[4][alt][23]} = ##Maître-Lame##
{unt[4][alt][24]} = ##Gardienne##
{unt[4][alt][25]} = ##Envoyée de Lolth##
{unt[4][alt][26]} = ##Envoyée d'Eilistraée##
{unt[4][alt][27]} = ##Roi-Sorcier sur Sang-froid##
{unt[4][alt][28]} = ##Oliphant##

{src[4][alt][1]} = ##Armes Niveau 1##
{src[4][alt][2]} = ##Armes Niveau 2##
{src[4][alt][3]} = ##Défense Niveau 1##
{src[4][alt][4]} = ##Défense Niveau 2##
{src[4][alt][5]} = ##Fortifications##
{src[4][alt][6]} = ##Fonte de l'Acier##
{src[4][alt][7]} = ##Dressage Niveau 1##
{src[4][alt][8]} = ##Dressage Niveau 2##
{src[4][alt][9]} = ##Dressage Niveau 3##
{src[4][alt][10]} = ##Attelage##
{src[4][alt][11]} = ##Commerce Niveau 1##
{src[4][alt][12]} = ##Commerce Niveau 2##
{src[4][alt][13]} = ##Commerce Niveau 3##
{src[4][alt][14]} = ##Armée Niveau 1##
{src[4][alt][15]} = ##Armée Niveau 2##
{src[4][alt][16]} = ##Armée Niveau 3##
{src[4][alt][17]} = ##Galeries Niveau 1##
{src[4][alt][18]} = ##Galeries Niveau 2##
{src[4][alt][19]} = ##Don de la Nuit##
{src[4][alt][20]} = ##Prêtresse de la Nuit##
{src[4][alt][21]} = ##Clerc de la Nuit##
{src[4][alt][22]} = ##Terreur de Lolth##
{src[4][alt][23]} = ##Lueur d'Eilistraée##
{src[4][alt][24]} = ##Griffe Prédatrice##
{src[4][alt][25]} = ##Appel Monstreux##

{comp[4][alt][1]} = ##Le fouet et l'or##
{comp[4][alt][2]} = ##Défense piégée##
{comp[4][alt][4]} = ##Concoction vitale##
{comp[4][alt][6]} = ##Casse murailles##
{comp[4][alt][7]} = ##Récupération##
{comp[4][alt][10]} = ##Soins##
{comp[4][alt][11]} = ##Retour d'outre tombe##
{comp[4][alt][13]} = ##Vent de carreau##
{comp[4][alt][14]} = ##Marchand subtil##
{comp[4][alt][3]} = ##Grâce de combat##
{comp[4][alt][9]} = ##Privation##
{comp[4][alt][17]} = ##Murs fortifiés##

