{res[4][descr][1]} = ##L'or est la ressource principale du marché, produite dans les Galeries d'Or, et elle est importante chez les Drows.##
{res[4][descr][2]} = ##Le Bois est une ressource de construction récoltée grâce à la Scierie.##
{res[4][descr][3]} = ##La Pierre est une ressource produite en grande quantité chez les Drows, et qui a plusieurs fonctions dont la principale est la construction de bâtiments.##
{res[4][descr][4]} = ##Fruit de la Chasse, la nourriture sert à alimenter les unités. C'est une ressource essentielle qui vous permettra d'éviter la mort de vos unités. De plus n'oubliez jamais que vous devez nourrir votre village et vos légions.##
{res[4][descr][5]} = ##Le Fer permet, entre autres, la production de l'Acier lorsqu'il est fondu avec le Charbon.##
{res[4][descr][6]} = ##Le Charbon permet, entre autres, la production de l'Acier lorsqu'il est fondu avec le Fer.##
{res[4][descr][7]} = ##Les Worgs sont montés par certaines unités de combat, ce qui accroît leur rapidité et leur puissance. Ces animaux ont une grande affinité avec les Drows.##
{res[4][descr][8]} = ##L'acier est un alliage résistant produit à partir du Charbon et du Fer. Il est très utilisé par les Drows.##
{res[4][descr][9]} = ##Le Mithril est plus précieux que l'Or et plus résistant que l'Acier, c'est un parfait mélange des deux. Il n'y a que les Nains qui peuvent le fabriquer car ce sont les seuls à en connaître le secret.##
{res[4][descr][10]} = ##Le Bouclier accroît la protection des unités de combat qui s'en servent.##
{res[4][descr][11]} = ##La Massue est forgée sur mesure pour les Géants des Roches.##
{res[4][descr][12]} = ##La Hache est utilisée par diverses unités de combat drows. Elle est aux Drows ce que l'Epée est aux Humains.##
{res[4][descr][13]} = ##La Hallebarde est forgée pour les Hallebardiers noirs. C'est une arme de qualité.##
{res[4][descr][14]} = ##L'Arc est utilisé par le Brigand et la Capuche Noire, il permet de faire des attaques à distance.##
{res[4][descr][15]} = ##L'Arbalète est une arme plus puissante que l'Arc mais elle demande à son utilisateur une plus grande dextérité.##
{res[4][descr][16]} = ##La Cotte Noire est la base de la défense corporelle des Drows.##
{res[4][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante. Seuls les plus hauts dignitaires drows peuvent se vanter d'en posséder une.##

{trn[4][descr][1]} = ##Les Drows sortent très peu à la surface. Ramener du Bois des Forêts est l'une des rares activités qu'ils pratiquent.##
{trn[4][descr][2]} = ##Le Fer est extrait des Gisements de Fer à l'aide de Galeries que les Drows construisent.##
{trn[4][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon à l'aide de Galeries que les Drows construisent.##
{trn[4][descr][4]} = ##L'Or est extrait des Filons d'Or à l'aide de Galeries d'Or.##
{trn[4][descr][5]} = ##Les Montagnes forment la source principale de pierres et sont exploitées grâce à la Carrière.##


{btc[4][descr][1]} = ##Bâtiment Principal, c'est à partir de ce bâtiment que toute votre cité va se développer. Il permet d'effectuer des recherches et de former des unités civiles. Sans lui vous ne pouvez plus rien faire.##
{btc[4][descr][2]} = ##C'est le bâtiment qui permet de fabriquer des blocs de Pierre pour votre village.##
{btc[4][descr][3]} = ##Grâce à ce bâtiment vous allez pouvoir disposer de bois (pour la construction de votre village par exemple).##
{btc[4][descr][4]} = ##Les Habitations servent à héberger la population de votre cité, elles n'offrent aucune protection mais permettent à vos unités de récupérer de leur fatigue.##
{btc[4][descr][5]} = ##Rare bâtiment situé à la surface, il permet aux Chasseurs de récolter de la Nourriture.##
{btc[4][descr][6]} = ##La Serre de Combat est le premier lieu d'entraînement des guerriers drows.##
{btc[4][descr][7]} = ##La Mine d'Or permet d'exploiter les Filons d'Or.##
{btc[4][descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs. Vous pouvez vendre des ressources ou en acheter. La monnaie d'échange est unique: il s'agit de l'Or.##
{btc[4][descr][9]} = ##C'est le lieu de rassemblement des guerriers drows. C'est ici que vous trouverez la plupart des guerriers.##
{btc[4][descr][10]} = ##La Fonderie permet le mélange du Charbon et du Fer pour produire l'Acier selon les proportions suivantes: 2 Fer + 2 Charbon = 1 Acier.##
{btc[4][descr][11]} = ##C'est dans cette Aire que vos unités apprennent à maîtriser les terribles créatures que vous avez capturées dans les profondeurs.##
{btc[4][descr][12]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Charbon qui se trouvent à proximité.##
{btc[4][descr][13]} = ##C'est le bâtiment qui permet d'exploiter les Gisements de Fer qui se trouvent à proximité.##
{btc[4][descr][14]} = ##Grâce à la Forge le Forgeron peut suer devant son fourneau pour fabriquer des armes à tous les Drows.##
{btc[4][descr][15]} = ##Cette Guilde située à la surface est le point de ralliement des plus grands Chasseurs drows.##
{btc[4][descr][16]} = ##Les Avant-Postes servent à protéger et à veiller sur la Cité.##
{btc[4][descr][17]} = ##La Guilde des Lames est un quartier réservé à l'élite des guerriers drows.##
{btc[4][descr][18]} = ##Cette Guilde permet de dresser les créatures les plus rares et les plus féroces des profondeurs.##
{btc[4][descr][19]} = ##La Demeure est une Habitation plus spacieuse et plus luxueuse. Elle est, en général, habitée par la haute société drow.##
{btc[4][descr][20]} = ##Le Temple est le lieu de culte des Drows.##
{btc[4][descr][21]} = ##L'Autel est le lieu où vous trouverez les Gardiennes.##
{btc[4][descr][22]} = ##La Guilde des Forgerons permet de former des Maîtres-Lames, de très habiles guerriers de l'armée drow.##
{btc[4][descr][23]} = ##L'Autel Noir est un lieu très spécial qui permet d'invoquer les mystérieuses Envoyées divines et les puissants Sang-Froid.##
{btc[4][descr][24]} = ##Fortifications, défenses et organisations permettant de faire évoluer le Nid en Cité Noire drow.##


{btcact[4][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[4][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[4][descr][6][unt]} = ##Entraîner des nouveaux soldats.##
{btcact[4][descr][8][ach]} = ##Commercer pour obtenir de nouvelles denrées ou matériaux.##
{btcact[4][descr][9][unt]} = ##Entraîner des soldats expérimentés.##
{btcact[4][descr][11][unt]} = ##Dresser les créatures des profondeurs.##
{btcact[4][descr][14][res]} = ##Forger les armes drows.##
{btcact[4][descr][17][unt]} = ##Entraîner des soldats d'élite.##
{btcact[4][descr][18][unt]} = ##Dresser les créatures les plus puissantes.##
{btcact[4][descr][20][unt]} = ##Former des Prêtresses et des Clercs.##
{btcact[4][descr][21][unt]} = ##Former des Gardiennes.##
{btcact[4][descr][22][unt]} = ##Entraîner les Maitres-Lames.##
{btcact[4][descr][23][unt]} = ##Invoquer Démons ou Tueuses.##


{unt[4][descr][1]} = ##L'Esclave Serviteur Gobelin réalise les tâches ingrates nécessaires à la Cité. C'est l'élément de base du village, sans lui rien n'est possible.##
{unt[4][descr][2]} = ##Le Chasseur traque le gibier et récolte la Nourriture.##
{unt[4][descr][3]} = ##Le Dresseur maîtrise les plus féroces créatures des profondeurs.##
{unt[4][descr][4]} = ##Le Forgeron travaille l'Acier et quelques fois le Mithril pour fabriquer les armes.##
{unt[4][descr][5]} = ##L'Esclave Mineur Nain extrait les matières premières dans les Galeries.##
{unt[4][descr][6]} = ##L'Esclave Bûcheron Humain récolte le Bois en Forêt.##
{unt[4][descr][7]} = ##Le Convoqué est appelé à devenir un guerrier.##
{unt[4][descr][8]} = ##Le Combattant veille à la sécurité de la Cité.##
{unt[4][descr][9]} = ##L'Assassin monte en surface dans la nuit, et rôde de chaumière en chaumière dans le but de commettre des meurtres.##
{unt[4][descr][10]} = ##L'Ombre sait glisser sa lame sous la gorge des plus influents.##
{unt[4][descr][11]} = ##Le Brigand est l'archer de base.##
{unt[4][descr][12]} = ##La Capuche Noire manie l'Arc beaucoup mieux que le Brigand.##
{unt[4][descr][13]} = ##Monté sur worg, l'Hallebardier Noir fait la fierté des guerriers de la Guilde des Lames.##
{unt[4][descr][14]} = ##Monté sur worg, l'Arbalétrier Noir est rapide et précis, c'est l'une des unités les plus puissantes à distance de tout Zordania.##
{unt[4][descr][15]} = ##Le Géant des Roches est ravageur et sans pitié pour les êtres de la surface, avec ses deux massues il écrasera quiconque se trouvera en travers de son chemin.##
{unt[4][descr][16]} = ##Les Ailes Nocturnes sortent de l'ombre pour espionner les ennemis.##
{unt[4][descr][17]} = ##L'Arachnide Tisseuse immobilise ses proies grâce à son fil avant de les dévorer.##
{unt[4][descr][18]} = ##Le Worg Guerrier est dressé à l'attaque en solo, contrairement au Worg classique.##
{unt[4][descr][19]} = ##L'Arachnide Guerrière est rapide et écrase ses proies pour les dévorer.##
{unt[4][descr][20]} = ##Le Basilic est la créature la plus cruelle des profondeurs. Ses ennemis finissent pétrifiés, lacérés, ou dévorés vivants selon son humeur.##
{unt[4][descr][21]} = ##La Prêtresse de la Nuit veillera sur votre contrée et sur le Temple. Elle apporte aussi une fortification aux Drows qui se trouvent près d'elle.##
{unt[4][descr][22]} = ##Le Clerc de la Nuit garnira vos lignes de son marteau de guerre et apportera courage aux Drows qui se trouvent près de lui.##
{unt[4][descr][23]} = ##Le Maître-Lame est la fine lame la plus efficace de l'armée drow.##
{unt[4][descr][24]} = ##L'ordre des Gardiennes est un cercle fermé uniquement féminin qui a pour but de protéger les lieux et objets de culte. C'est pourquoi les Gardiennes ne sont jamais loin des Autels. De plus elles n'hésitent pas à partir en guerre avec le but secret de protéger les objets sacrés dont les guerriers ont besoin pour se transcender.##
{unt[4][descr][25]} = ##Au service de Lolth, cette créature hideuse inspire une peur panique à qui la regarde. Ses attaques magiques sont des plus redoutables.##
{unt[4][descr][26]} = ##Au service d'Eilistraée, cet être pacifique et déterminé porte votre peuple par-dessus tous les obstacles.##
{unt[4][descr][27]} = ##Ce drow d'élite est parvenu à lier son âme à une redoutable monture, dont le cri strident paralyse les ennemis.##
{unt[4][descr][28]} = ##Créature drow permettant de long, très long voyage.##

{src[4][descr][1]} = ##Permet de forger les armes de base.##
{src[4][descr][2]} = ##Permet de forger les armes les plus fines et les plus meurtrières.##
{src[4][descr][3]} = ##Permet de forger les Cottes Noires et les Boucliers.##
{src[4][descr][4]} = ##Permet de forger les Cottes de Mithril.##
{src[4][descr][5]} = ##Permet de construire les Avant-Postes.##
{src[4][descr][6]} = ##Permet d'acquérir le savoir nécessaire à la réalisation de l'Acier.##
{src[4][descr][7]} = ##Permet de dresser les Ailes Nocturnes et les Arachnides Tisseuses dans l'Aire de Dressage.##
{src[4][descr][8]} = ##Permet de dresser les Worgs Guerriers et les Arachnides Guerrières dans la Guilde de Dressage.##
{src[4][descr][9]} = ##Permet de dresser les Basilics dans la Guilde de Dressage.##
{src[4][descr][10]} = ##Permet à certaines unités de combat de monter les Worgs. ##
{src[4][descr][11]} = ##Permet de vendre/acheter pour un maximum de 250 or. Limite de ventes: 6##
{src[4][descr][12]} = ##Permet de vendre/acheter pour un maximum de 3000 or. Limite de ventes: 12##
{src[4][descr][13]} = ##Permet de vendre/acheter pour un maximum de 5000 or. Limite de ventes: 24##
{src[4][descr][14]} = ##Donne accès aux combattants de base.##
{src[4][descr][15]} = ##Donne accès aux unités de combat moyennes.##
{src[4][descr][16]} = ##Donne accès aux meilleures unités de combat.##
{src[4][descr][17]} = ##Permet d'extraire l'Or des Galeries d'Or.##
{src[4][descr][18]} = ##Permet d'extraire le Fer et le Charbon de leurs Galeries respectives.##
{src[4][descr][19]} = ##Cette recherche permet d'acquérir des unités spéciales.##
{src[4][descr][20]} = ##Permet de former les Prêtresses de la Nuit.##
{src[4][descr][21]} = ##Permet de former les Clercs de la Nuit.##
{src[4][descr][22]} = ##Permet d'accueillir la matrone envoyée par la Déesse Araignée.##
{src[4][descr][23]} = ##Permet à la Vierge Noire d'envoyer ses prêtresses soutenir le peuple drow.##
{src[4][descr][24]} = ##Permet d'approcher les reptiles voraces que sont les Sang-Froid sans éveiller leur instinct prédateur, et d'apprendre à les monter.##
{src[4][descr][25]} = ##Faites appel à la créature la plus étrange de Zordania.##

{comp[4][descr][1]} = ##Stratégie : Le héros drow fait donner du fouet et offre des récompenses à ses meilleurs combattants, si bien que ceux-ci sont bien décidés à donner le meilleur d'eux même. L'attaque unité et l'attaque bâtiment sont augmentées de %1$d %% pendant %2$d tours.##
{comp[4][descr][2]} = ##Stratégie : Le héros drow organise ses défenseurs avec brio et use de pièges subtils pour faire tourner le combat en sa faveur. La défense de la légion est augmentée de %1$d %% pendant %2$d tours.##
{comp[4][descr][3]} = ##Le héros drow est un maître sorcier, il peut lancer un puissant sort de masse sur ses troupes pour augmenter leurs forces. Ils deviennent alors plus puissants, à la fois enragés en charge et capables de lancer de puissantes ripostes. L'attaque et la défense sont augmentées de %1$d %% pendant %2$d tours.##
{comp[4][descr][4]} = ##Stratégie: Le héros drow est capable de fournir en grande quantité une concoction qu'il donne à boire à ses soldats pour augmenter leur vitalité. La vie de toutes les unitées est augmentée de %1$d %% pendant %2$d tours.##
{comp[4][descr][6]} = ##Stratégie : Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemis permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles. L'attaque bâtiment est augmentée de %1$d %% pendant %2$d tours.##
{comp[4][descr][7]} = ##Compétence : Le héros drow est capable de mélanger le sang des créatures des profondeurs pour en faire un onguent accélérant sa récupération. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##
{comp[4][descr][9]} = ##Stratégie: Le héros drow peut diminuer la ration journalière de son armée pour économiser les stocks de nourriture. Pendant %2$d tours, la légion du Héros ne consomme pas de nourriture.##
{comp[4][descr][10]} = ##Stratégie : A contre-cœur le héros ordonne à ses troupes de récupérer les blessés alliés sur le champ de bataille pour qu'ils soient soignés et aptes à se battre au plus vite. %1$d %% des pertes du combat se retrouve en vie dans la légion.##
{comp[4][descr][11]} = ##Compétence : grâce à un sortilège interdit de nécromancie, le Héros drow est invincible ! S'il est tué pendant la durée du sort, il ressuscite au village. Le sort dure %2$d tours.##
{comp[4][descr][13]} = ##stratégie: Les tireurs de l'armée drow reçoivent l'ordre de tirer à volonté sur l'ennemi. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##
{comp[4][descr][14]} = ##Compétence: Le héros drow sait mener les contrats à son avantage par de subtiles stratégies commerciales. Pendant %2$d tours il obtient %1$d %% de ristourne sur les achats du marché.##
{comp[4][descr][17]} = ##Compétence: Les talents d'architectes du héros font qu'il est capable en un temps record de renforcer la solidité de ses murs et de ses bâtiments défensifs. La vie des bâtiments est augmentée de %1$d %% pendant %2$d tours.##

