{res[5][alt][1]} = ##Or##
{res[5][alt][2]} = ##Bois##
{res[5][alt][3]} = ##Pierre##
{res[5][alt][4]} = ##Baies##
{res[5][alt][5]} = ##Bois d'If##
{res[5][alt][6]} = ##Cuir##
{res[5][alt][7]} = ##Chevaux##
{res[5][alt][8]} = ##Acier##
{res[5][alt][9]} = ##Mithril##
{res[5][alt][10]} = ##Rondache##
{res[5][alt][11]} = ##Pavois##
{res[5][alt][12]} = ##Lame##
{res[5][alt][13]} = ##Pique##
{res[5][alt][14]} = ##Arc Court##
{res[5][alt][15]} = ##Arc Composite##
{res[5][alt][16]} = ##Armure de Cuir Cloutée##
{res[5][alt][17]} = ##Harnois de Mithril##

{trn[5][alt][1]} = ##Forêt##
{trn[5][alt][2]} = ##Forêt d'If##
{trn[5][alt][3]} = ##Zone de Chasse##
{trn[5][alt][4]} = ##Montagne##
{trn[5][alt][5]} = ##Village##

{btc[5][alt][1]} = ##Colonie##
{btc[5][alt][2]} = ##Maison de Forestier##
{btc[5][alt][3]} = ##Maison##
{btc[5][alt][4]} = ##Maison de Cueillette##
{btc[5][alt][5]} = ##Troupe##
{btc[5][alt][6]} = ##Tanneur##
{btc[5][alt][7]} = ##Demeure de Forestier##
{btc[5][alt][8]} = ##Aire d'Entraînement##
{btc[5][alt][9]} = ##Marché##
{btc[5][alt][10]} = ##Comptoir de Fonte##
{btc[5][alt][11]} = ##Archerie##
{btc[5][alt][12]} = ##Forge##
{btc[5][alt][13]} = ##Tour##
{btc[5][alt][14]} = ##Caserne##
{btc[5][alt][15]} = ##Ecuries##
{btc[5][alt][16]} = ##Théâtre##
{btc[5][alt][17]} = ##Bibliothèque##
{btc[5][alt][18]} = ##Demeure##
{btc[5][alt][19]} = ##Bosquet##
{btc[5][alt][20]} = ##Antre##
{btc[5][alt][21]} = ##Ecole de Magie##
{btc[5][alt][22]} = ##Fort##
{btc[5][alt][23]} = ##Temple##
{btc[5][alt][24]} = ##Cité Sylvestre##

{btcopt[5][1][unt]} = ##Formation##
{btcopt[5][1][unt_todo]} = ##Unités en cours de formation##
{btcopt[5][1][unt_type]} = ##Unités##

{btcopt[5][1][src]} = ##Recherches##

{btcopt[5][8][unt]} = ##Entraînement##
{btcopt[5][8][unt_todo]} = ##Unités en cours d'entraînement##
{btcopt[5][8][unt_type]} = ##Unités##

{btcopt[5][11][res]} = ##Fabrication##
{btcopt[5][11][res_todo]} = ##Armes en Fabrication##
{btcopt[5][11][res_type]} = ##Armes##

{btcopt[5][12][res]} = ##Fabrication##
{btcopt[5][12][res_todo]} = ##Armes en Fabrication##
{btcopt[5][12][res_type]} = ##Armes##

{btcopt[5][14][unt]} = ##Entraînement##
{btcopt[5][14][unt_todo]} = ##Unités en cours d'entraînement##
{btcopt[5][14][unt_type]} = ##Unités##

{btcopt[5][15][res]} = ##Dressage##
{btcopt[5][15][res_todo]} = ##Chevaux en cours de dressage##
{btcopt[5][15][res_type]} = ##Chevaux##

{btcopt[5][19][unt]} = ##Convocation des Créatures##
{btcopt[5][19][unt_todo]} = ##Créatures en cours de convocation##
{btcopt[5][19][unt_type]} = ##Créatures##

{btcopt[5][20][unt]} = ##Convocation des Créatures##
{btcopt[5][20][unt_todo]} = ##Créatures en cours de convocation##
{btcopt[5][20][unt_type]} = ##Créatures##

{btcopt[5][21][unt]} = ##Entraînement##
{btcopt[5][21][unt_todo]} = ##Unités en cours d'entraînement##
{btcopt[5][21][unt_type]} = ##Unités##

{btcopt[5][22][unt]} = ##Entraînement##
{btcopt[5][22][unt_todo]} = ##Unités en cours d'entraînement##
{btcopt[5][22][unt_type]} = ##Unités##

{btcopt[5][23][unt]} = ##Entraînement##
{btcopt[5][23][unt_todo]} = ##Unités en cours d'entraînement##
{btcopt[5][23][unt_type]} = ##Unités##

{btcopt[5][17][src]} = ##Recherches##
{btcopt[5][24][src]} = ##Recherches##
{btcopt[5][24][unt]} = ##Formation##

{btcact[5][title][1][unt]} = ##Formation##
{btcact[5][title][1][src]} = ##Recherches##
{btcact[5][title][8][unt]} = ##Aire d'Entraînement##
{btcact[5][title][9][ach]} = ##Commerce##
{btcact[5][title][11][res]} = ##Archerie##
{btcact[5][title][12][res]} = ##Forge##
{btcact[5][title][14][unt]} = ##Caserne##
{btcact[5][title][15][res]} = ##Ecurie##
{btcact[5][title][19][unt]} = ##Bosquet##
{btcact[5][title][20][unt]} = ##Antre##
{btcact[5][title][21][unt]} = ##Ecole de Magie##
{btcact[5][title][22][unt]} = ##Fort##
{btcact[5][title][23][unt]} = ##Temple##

{unt[5][alt][1]} = ##Serviteur##
{unt[5][alt][2]} = ##Cueilleur##
{unt[5][alt][3]} = ##Forestier##
{unt[5][alt][4]} = ##Forgeron##
{unt[5][alt][5]} = ##Acolyte##
{unt[5][alt][6]} = ##Barde##
{unt[5][alt][7]} = ##Noble##
{unt[5][alt][8]} = ##Eclaireur##
{unt[5][alt][9]} = ##Patrouilleur##
{unt[5][alt][10]} = ##Rôdeur##
{unt[5][alt][11]} = ##Lancier##
{unt[5][alt][12]} = ##Archer##
{unt[5][alt][13]} = ##Epéiste##
{unt[5][alt][14]} = ##Piquier##
{unt[5][alt][15]} = ##Garde##
{unt[5][alt][16]} = ##Druide##
{unt[5][alt][17]} = ##Nymphe##
{unt[5][alt][18]} = ##Vénérable##
{unt[5][alt][19]} = ##Commandant##
{unt[5][alt][20]} = ##Garde d'élite##
{unt[5][alt][21]} = ##Mage##
{unt[5][alt][22]} = ##Gardien##
{unt[5][alt][23]} = ##Envoyé de Corellon Larethian##
{unt[5][alt][24]} = ##Envoyée d'Aerdrie Faenya##
{unt[5][alt][25]} = ##Aigle Géant##
{unt[5][alt][26]} = ##Prince sur Dragon##
{unt[5][alt][27]} = ##Transporteur par incantation##

{src[5][alt][1]} = ##Arts Musicaux##
{src[5][alt][2]} = ##Armes Niveau 1##
{src[5][alt][3]} = ##Armes Niveau 2##
{src[5][alt][4]} = ##Défense Niveau 1##
{src[5][alt][5]} = ##Défense Niveau 2##
{src[5][alt][6]} = ##Fortifications##
{src[5][alt][7]} = ##Armée Niveau 1##
{src[5][alt][8]} = ##Armée Niveau 2##
{src[5][alt][9]} = ##Commerce Niveau 1##
{src[5][alt][10]} = ##Commerce Niveau 2##
{src[5][alt][11]} = ##Commerce Niveau 3##
{src[5][alt][12]} = ##Fonte de l'Acier##
{src[5][alt][13]} = ##Attelage##
{src[5][alt][14]} = ##Arts Dramatiques##
{src[5][alt][15]} = ##Connaissances Niveau 1##
{src[5][alt][16]} = ##Connaissances Niveau 2##
{src[5][alt][17]} = ##Druidisme Niveau 1##
{src[5][alt][18]} = ##Druidisme Niveau 2##
{src[5][alt][19]} = ##Maîtrise Défensive##
{src[5][alt][20]} = ##Maîtrise Offensive##
{src[5][alt][21]} = ##Appel Divin##
{src[5][alt][22]} = ##Harmonie Sylvestre##
{src[5][alt][23]} = ##Sang de Dragon##
{src[5][alt][24]} = ##Incantation de transport##

{comp[5][alt][1]} = ##Chant de guerre##
{comp[5][alt][2]} = ##Combat en hauteur##
{comp[5][alt][4]} = ##Plante médicinale##
{comp[5][alt][6]} = ##Casse murailles##
{comp[5][alt][7]} = ##Récupération##
{comp[5][alt][10]} = ##Soins##
{comp[5][alt][11]} = ##Réincarnation##
{comp[5][alt][13]} = ##Embuscade##
{comp[5][alt][14]} = ##Négociateur##
{comp[5][alt][12]} = ##Brume céleste##
{comp[5][alt][16]} = ##L'union fait la force##
{comp[5][alt][20]} = ##La mort vient d'en haut##
