{res[5][descr][1]} = ##L'or est la monnaie utilisée sur le Marché, et est récolté grâce aux Bardes dans les Troupes et Théâtres.##
{res[5][descr][2]} = ##Le Bois est la ressource principale pour la construction de bâtiments chez les Elfes, et est produit en grande quantité.##
{res[5][descr][3]} = ##La Pierre n'est utilisée que pour la construction des bâtiments les plus importants, et n'est pas produite chez les Elfes. Il faudra donc obligatoirement passer par le Marché pour s'en procurer.##
{res[5][descr][4]} = ##Fruit de la cueillette, les Baies forment la nourriture principale des Elfes. N'oubliez jamais que vous devez nourrir votre village et vos légions sinon elles mourront!##
{res[5][descr][5]} = ##Le Bois d'If est, entre autre, parfait pour la confection des Arcs elfiques. C'est un type de Bois très spécial (correspond au Fer chez les autres races).##
{res[5][descr][6]} = ##Le Cuir sert pour la confection de toutes les armes (correspond au Charbon chez les autres races).##
{res[5][descr][7]} = ##Les Chevaux elfiques sont des plus majestueux. Attelés et montés, ils permettent à certaines unités de combat d'augmenter leur rapidité et leur puissance.##
{res[5][descr][8]} = ##Issu d'une seconde fonte de l'Acier usagé récupéré par les comptoirs elfiques, l'Acier produit par les Elfes est un alliage résistant utilisé par la Forge.##
{res[5][descr][9]} = ##Le Mithril est plus précieux que l'Or et plus résistant que l'Acier, c'est un parfait mélange des deux. Il n'y a que les Nains qui peuvent le fabriquer car ce sont les seuls à en connaître le secret.##
{res[5][descr][10]} = ##La Rondache est le bouclier de base. Elle accroît la protection des unités de combat qui s'en servent.##
{res[5][descr][11]} = ##Le Pavois est un bouclier haut et résistant. Il optimise la protection des unités de combat qui s'en servent.##
{res[5][descr][12]} = ##La Lame est utilisée par de nombreuses unités de combat elfiques.##
{res[5][descr][13]} = ##Le Pique est une arme redoutable pour qui sait la manier. Elle est utilisée par certaines unités de combat elfiques.##
{res[5][descr][14]} = ##L'Arc Court est l'arme la plus commune des Elfes. D'ailleurs c'est un objet tellement commun qu'il n'est que très rarement associé à un outil de mort. Tout le monde sait le manier mais les Archers sont pourtant ceux qui en tirent le meilleur profit au combat.##
{res[5][descr][15]} = ##L'Arc Composite est une arme de qualité et est très esthétique. Les Archers les plus honorables et adroits l'utilisent avec une précision déconcertante.##
{res[5][descr][16]} = ##L'Armure de Cuir Clouté est une défense à la portée des unités de combat communes.##
{res[5][descr][17]} = ##Le Harnois de Mithril est une armure de haute qualité, et la preuve de toute la grandeur artistique du peuple elfique.##


{trn[5][descr][1]} = ##Les Forêts, coeur des secrets et de la magie elfique, sont pour eux une source intarissable de bois.##
{trn[5][descr][2]} = ##Des Forêts d'If est extrait le Bois du même nom.##
{trn[5][descr][3]} = ##Les Zones de Chasse sont les endroits rêvés pour s'approvisionner en Cuir.##
{trn[5][descr][4]} = ##Les Montagnes ne sont pas exploitables par les Elfes qui ne peuvent s'en approcher sans en subir de graves préjudices.##
{trn[5][descr][5]} = ##Les Villages accueillent avec plaisir les Troupes et les Théâtres des Bardes elfiques.##


{btc[5][descr][1]} = ##Bâtiment Principal, c'est à partir de ce bâtiment que toute votre cité va se développer. Il permet d'effectuer des recherches et de former des unités civiles. Sans lui vous ne pouvez plus rien faire.##
{btc[5][descr][2]} = ##La Maison des Forestiers permet d'extraire le Bois des Forêts.##
{btc[5][descr][3]} = ##Les Maisons servent à héberger la population de votre cité, elles n'offrent aucune protection mais permettent à vos unités de récupérer de leur fatigue.##
{btc[5][descr][4]} = ##Relais des cueilleurs, ce bâtiment sert à stocker les Baies récoltées qui permettront de nourrir toute la population elfe.##
{btc[5][descr][5]} = ##La Troupe Théâtrale se déplace dans les Villages pour amasser l'or. C'est grâce à leurs spectacles que votre cité va pouvoir prospérer.##
{btc[5][descr][6]} = ##C'est ici qu'est travaillée la peau animale pour donner un Cuir de la meilleure qualité qui soit.##
{btc[5][descr][7]} = ##Cette Demeure permet d'extraire le Bois d'If des forêts du même nom.##
{btc[5][descr][8]} = ##C'est ici que s'entraînent les combattants de base, on y apprend l'art de la guerre mais aussi les valeurs elfiques qui rendent ces guerriers si particuliers.##
{btc[5][descr][9]} = ##Le Marché permet de faire du commerce avec les autres joueurs. Vous pouvez vendre des ressources ou en acheter. La monnaie d'échange est unique: il s'agit de l'Or.##
{btc[5][descr][10]} = ##Ce bâtiment sert à fondre l'Acier. Contrairement aux autres races zordaniennes, l'Acier ne nécessite pas ici de Charbon ou de Fer. Il s'agit d'Acier usagé, fondu une nouvelle fois pour une seconde utilisation.##
{btc[5][descr][11]} = ##C'est ici que sont confectionnés les Arcs elfiques.##
{btc[5][descr][12]} = ##C'est ici que sont forgées les Armes elfiques.##
{btc[5][descr][13]} = ##La Tour sert à protéger et à veiller sur la Cité.##
{btc[5][descr][14]} = ##Dans la Caserne sont entraînées les unités de combat intermédiaires, celles qui rempliront les rangs de vos armées.##
{btc[5][descr][15]} = ##Les Chevaux sont élevés et dressés dans ces Ecuries. Ils feront de magnifiques montures pour les plus grands dignitaires elfes.##
{btc[5][descr][16]} = ##Lorsqu'un village apprécie suffisamment une Troupe de Barde, celle-ci peut enfin être remplacée par un Théâtre permanent, qui rapportera plus d'Or.##
{btc[5][descr][17]} = ##Antichambre du mystérieux savoir elfique, la Bibliothèque attirera dans votre cité les Elfes les plus nobles.##
{btc[5][descr][18]} = ##Les Demeures peuvent accueillir jusqu'à 10 Elfes. Ce sont les maisons de la haute société elfe.##
{btc[5][descr][19]} = ##Repaire des Druides, le bosquet abrite bien des créatures mystérieuses.##
{btc[5][descr][20]} = ##Les bosquets les plus paisibles accueillent quelques fois les Vénérables et les Aigles Géants, qui vivent dans ces Antres.##
{btc[5][descr][21]} = ##Très fermée, l'Ecole de Magie forme avec rigueur les Elfes les plus nobles jusqu'à en faire de redoutables êtres de magie.##
{btc[5][descr][22]} = ##Ici sont entraînées les unités de l'armée régulière les plus prestigieuses et les plus enviées. Ces unités se chargeront de faire respecter vos ordres sur les champs de bataille.##
{btc[5][descr][23]} = ##Le Temple est le lieu de recueillement de tout le peuple elfe. C'est ici que vivent les représentants envoyés par les Dieux.##
{btc[5][descr][24]} = ##Apogée architecturale de votre royaume, la Cité Sylvestre est un formidable assemblage d'organisation de défense pour votre peuple et vous permettra de loger quelques Elfes.##


{btcact[5][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[5][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[5][descr][8][unt]} = ##Entraîner de nouveaux combattants.##
{btcact[5][descr][9][ach]} = ##Commercer pour obtenir de nouvelles denrées ou matériaux.##
{btcact[5][descr][11][res]} = ##Confectionner les Arcs elfiques.##
{btcact[5][descr][12][res]} = ##Forger les Armes elfiques.##
{btcact[5][descr][14][unt]} = ##Entraîner des nouveaux combattants.##
{btcact[5][descr][15][res]} = ##Dresser les Chevaux elfiques.##
{btcact[5][descr][19][unt]} = ##Convoquer de nouvelles créatures.##
{btcact[5][descr][20][unt]} = ##Convoquer de nouvelles créatures.##
{btcact[5][descr][21][unt]} = ##Former des Elfes particulièrement doués pour la magie.##
{btcact[5][descr][22][unt]} = ##Former des chefs de guerre elfes.##
{btcact[5][descr][23][unt]} = ##Convoquer Archange ou Emissaire.##


{unt[5][descr][1]} = ##Le Serviteur réalise les tâches diverses nécessaires au bon fonctionnement de la Cité. C'est l'élément de base du village, sans lui rien n'est possible.##
{unt[5][descr][2]} = ##Le Cueilleur récolte les Baies pour nourrir votre population.##
{unt[5][descr][3]} = ##Le Forestier récolte le Bois nécessaire au développement de votre royaume.##
{unt[5][descr][4]} = ##Le Forgeron travaille l'Acier et le Mithril pour fabriquer les armes.##
{unt[5][descr][5]} = ##L'Acolyte est voué à une carrière de combattant.##
{unt[5][descr][6]} = ##Le Barde maîtrise les Arts Musicaux et Dramatiques. Il parcourt les villages pour partager ces arts et amasser l'Or.##
{unt[5][descr][7]} = ##Le Noble est voué à une carrière de haut combattant ou de Mage.##
{unt[5][descr][8]} = ##L'Eclaireur est l'unité de combat de base.##
{unt[5][descr][9]} = ##Le Patrouilleur est l'unité de défense de base.##
{unt[5][descr][10]} = ##Le Rôdeur connaît mieux que personne la nature sauvage et ses secrets, il s'y déplace avec rapidité.##
{unt[5][descr][11]} = ##Le Lancier est un combattant efficace.##
{unt[5][descr][12]} = ##L'Archer manie l'Arc Court avec précision.##
{unt[5][descr][13]} = ##L'Epéiste, comme le Rôdeur, parcourt rapidement les plus longues distances, et est mieux équipé.##
{unt[5][descr][14]} = ##Le Piquier est un défenseur efficace et mieux équipé que le Lancier.##
{unt[5][descr][15]} = ##Le Garde manie l'Arc Composite. Il est meilleur que l'Archer.##
{unt[5][descr][16]} = ##Le Druide habite le bosquet en compagnie de créatures mystérieuses!##
{unt[5][descr][17]} = ##Dotée d'une mystérieuse aura de beauté, la Nymphe saura charmer vos ennemis jusqu'à les rendre fou.##
{unt[5][descr][18]} = ##Créature des temps anciens, le Vénérable est aussi imposant que sage. Sa taille gigantesque s'avère être un atout majeur face aux constructions ennemies.##
{unt[5][descr][19]} = ##Le Commandant est un chef de guerre hors pair.##
{unt[5][descr][20]} = ##Le Garde d'Elite organise la défense de votre cité comme personne.##
{unt[5][descr][21]} = ##Le Mage tire du savoir elfique un pouvoir occulte offensif redoutable qui se propage aux unités autour de lui.##
{unt[5][descr][22]} = ##Le Gardien tire du savoir elfique un pouvoir occulte défensif très efficace qui se propage aux unités autour de lui.## 
{unt[5][descr][23]} = ##Dans son armure étincelante, ce fidèle du Père Créateur des Elfes saura par sa prestance et son savoir stratégique millénaire organiser une riposte efficace.##
{unt[5][descr][24]} = ##Mue par une foi inébranlable en la Mère Ailée des Elfes, la rapidité de cet avariel n'a pas d'égal pour soutenir votre peuple.##
{unt[5][descr][25]} = ##L'Aigle Géant est un atout considérable pour les Elfes puisque c'est une créature qui pourra endommager relativement lourdement les bâtiments ennemis grâce aux énormes blocs de pierre qu'ils sont capables de transporter.##
{unt[5][descr][26]} = ##Ce haut prince elfe mènera ses troupes à la victoire, aidé par la force et la vitesse de sa majestueuse monture.##
{unt[5][descr][27]} = ##Ce magicien transportera la cité dans une forêt plus sûre.##

{src[5][descr][1]} = ##Confère aux Bardes la maîtrise des Arts Musicaux.##
{src[5][descr][2]} = ##Permet la confection des armes de base.##
{src[5][descr][3]} = ##Permet la confection des armes les plus redoutables.##
{src[5][descr][4]} = ##Permet la confection des Armures de Cuir Clouté.##
{src[5][descr][5]} = ##Permet la confection des Harnois de Mithril.##
{src[5][descr][6]} = ##Permet la construction des Tours pour défendre la cité.##
{src[5][descr][7]} = ##Permet d'acquérir le savoir nécessaire au commandement d'une armée de base.##
{src[5][descr][8]} = ##Permet d'acquérir le savoir nécessaire au commandement d'une armée d'élite.##
{src[5][descr][9]} = ##Permet de vendre/acheter pour un maximum de 250 or. Limite de ventes: 6##
{src[5][descr][10]} = ##Permet de vendre/acheter pour un maximum de 3000 or. Limite de ventes: 12##
{src[5][descr][11]} = ##Permet de vendre/acheter pour un maximum de 5000 or. Limite de ventes: 24##
{src[5][descr][12]} = ##Permet d'acquérir le savoir nécessaire à la (re)fonte de l'Acier.##
{src[5][descr][13]} = ##Permet à certaines unités de combat de monter des Chevaux.##
{src[5][descr][14]} = ##Confère aux Bardes la maîtrise des Arts Dramatiques.##
{src[5][descr][15]} = ##Confère à votre peuple les savoirs traditionnels elfiques.##
{src[5][descr][16]} = ##Confère à votre peuple les savoirs occultes elfiques.##
{src[5][descr][17]} = ##Confère à votre peuple les savoirs druidiques de base.##
{src[5][descr][18]} = ##Confère à votre peuple les savoirs druidiques les plus secrets.##
{src[5][descr][19]} = ##Permet de former des Gardes d'Elites.##
{src[5][descr][20]} = ##Permet de former des Commandants.##
{src[5][descr][21]} = ##Confère à votre peuple un lien céleste avec la déesse Aerdrie Faenya et ses avariels.##
{src[5][descr][22]} = ##Confère à votre peuple les secrets de son essence divine donnée par Corellon Larethian.##
{src[5][descr][23]} = ##Confère à votre peuple l'aide de puissants alliés, les redoutables Dragons Blancs, au nom de ce pacte enchanté et millénaire.##
{src[5][descr][24]} = ##L'incantation donnera accès au transporteur pour déménager la cité.##

{comp[5][descr][1]} = ##Stratégie: Le héros elfe entonne une prière à la nature immédiatement reprise par ses frères elfiques, alors que la mélopée s'élève, la colère se lit sur les regards et tous savent qu'ils se battront mieux. L'attaque unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[5][descr][2]} = ##Stratégie: Pour se défendre efficacement le héros elfe ordonne à ses troupes de se placer en hauteur pour combattre l'ennemi. La défense unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[5][descr][4]} = ##Stratégie: Les elfes de l'armée du héros sont tous formés à l'art de la médecine par les plantes. L'utilisation de telles plantes rend les elfes bien plus résistants.La vie des soldats est augmentée de %1$d %% pendant %2$d tours.##
{comp[5][descr][6]} = ##Stratégie: Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemies permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles. L'attaque bâtiment est augmentée de %1$d %% pendant %2$d tours.##
{comp[5][descr][7]} = ##compétence: Le héros elfe est habitué à soigner lui même ses blessures et il connait de nombreuses plantes médicinales pour se rétablir plus vite. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##
{comp[5][descr][10]} = ##Stratégie: Le héros ordonne à ses troupes de récupérer les blessés alliés sur le champ de bataille pour qu'ils soient soignés et aptes à se battre au plus vite. %1$d %% des pertes du combat se retrouve en vie dans la légion.##
{comp[5][descr][11]} = ##Compétence: Le héros elfe est protégé de la mort par l'intervention des mages de sa cité qui peuvent le relever par un puissant sortilège. S'il est tué au combat, il ressuscite au village après sa mort. L'envoutement dure pendant %2$d tours.##
{comp[5][descr][13]} = ##Stratégie: Le héros ordonne à ses tireurs de se placer en embuscade pour envoyer un maximum de flèches avant le corps à corps. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##
{comp[5][descr][14]} = ##Compétence: Le héros elfe fait preuve d'un talent certain pour la négociation sur le marché, il fait baisser les prix avec aisance. Pendant %2$d tours il obtient %1$d %% de ristourne sur les achats du marché.##
{comp[5][descr][12]} = ##Compétence: Les talents magiques du héros elfe lui permettent de créer une brume dissimulatrice autour de son armée pour la préserver du regard ennemi jusqu'à son arrivée chez ce dernier. La légion est invisible sur la carte et dans la page donjon de l'ennemi. La brume se dissipe après %2$d tours.##
{comp[5][descr][16]} = ##Stratégie: Le héros elfe est capable de s'insérer au mieux dans le plan de défense allié sans gâcher la capacité de ses troupes. Pendant %2$d tours les alliés en défense dans son village bénéficient d'un bonus de %1$d %% qui compense en partie le malus de défense groupée.##
{comp[5][descr][20]} = ##Stratégie: Le héros elfe choisit une stratégie célèbre parmi son peuple, les tireurs sont exploités au mieux pour déverser une averse de flèches dévastatrice. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##

