{res[6][alt][1]} = ##Or##
{res[6][alt][2]} = ##Bois##
{res[6][alt][3]} = ##Pierres##
{res[6][alt][4]} = ##Nourriture##
{res[6][alt][5]} = ##Fer##
{res[6][alt][6]} = ##Charbon##
{res[6][alt][7]} = ##Chevaux##
{res[6][alt][8]} = ##Acier##
{res[6][alt][9]} = ##Mithril##
{res[6][alt][10]} = ##Bouclier en Bois##
{res[6][alt][11]} = ##Bouclier en Acier##
{res[6][alt][12]} = ##Epée##
{res[6][alt][13]} = ##Epée Longue##
{res[6][alt][14]} = ##Arc##
{res[6][alt][15]} = ##Arbalète##
{res[6][alt][16]} = ##Cotte de Mailles##
{res[6][alt][17]} = ##Cotte de Mithril##

{trn[6][alt][1]} = ##Forêt##
{trn[6][alt][2]} = ##Gisement de Fer##
{trn[6][alt][3]} = ##Gisement de Charbon##
{trn[6][alt][4]} = ##Filon d'Or##
{trn[6][alt][5]} = ##Montagne##

{btc[6][alt][1]} = ##Donjon##
{btc[6][alt][2]} = ##Marché##

{btcact[6][title][1][unt]} = ##Formation##
{btcact[6][title][2][ach]} = ##Marché##

{btcopt[6][1][unt]} = ##Formation##
{btcopt[6][1][unt_todo]} = ##Unités en Formation##
{btcopt[6][1][unt_type]} = ##Unités##
{btcopt[6][1][src]} = ##Recherches##

{unt[6][alt][1]} = ##Dresseur##
{unt[6][alt][2]} = ##Drak Soldat##
{unt[6][alt][3]} = ##Drak Elite##
{unt[6][alt][4]} = ##Père Noël##
{unt[6][alt][5]} = ##Gros Lutin de Noël##
{unt[6][alt][6]} = ##Solide Lutin de Noël##
{unt[6][alt][7]} = ##Lutin de Noël Malin##
{unt[6][alt][8]} = ##Mère Noël##
{unt[6][alt][9]} = ##Garde de Noël##
{unt[6][alt][10]} = ##Gros Garde de Noël##
{unt[6][alt][11]} = ##Couple de Noël##
{unt[6][alt][12]} = ##Défenseur de Noël##

{src[6][alt][1]} = ##Armes Niveau 1##

