{res[6][descr][1]} = ##L'Or est la ressource centrale du jeu, elle permet par exemple de former des unités ou de faire du commerce...##
{res[6][descr][2]} = ##Le Bois permet de fabriquer des bâtiments ou des armes.##
{res[6][descr][3]} = ##Les Pierres sont utilisées dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[6][descr][4]} = ##La Nourriture est importante aussi pour les Drak Dovars.##
{res[6][descr][5]} = ##Les Drak Dovars ne savent pas utiliser le Fer.##
{res[6][descr][6]} = ##Les Drak Dovars ne savent pas non plus utiliser le Charbon.##
{res[6][descr][7]} = ##Les Chevaux permettent de posséder une cavalerie et ainsi d'accéder aux unités d'élites. Mais l'élite des Drak Dovars n'utilise pas le cheval.##
{res[6][descr][8]} = ##Les Drak Dovars ne connaissent pas l'acier.##
{res[6][descr][9]} = ##Les Drak Dovars ne connaissent pas le Mithril. Il n'y a que les Nains qui peuvent le fabriquer car se sont les seuls à en connaître le secret.##
{res[6][descr][10]} = ##Les Boucliers en Bois protègent les unités faibles. Les Drak Dovars ne sont pas faibles.##
{res[6][descr][11]} = ##Les Boucliers en Acier sont l'arme de base du soldat Drak Dovar.##
{res[6][descr][12]} = ##L'Epée en bois est une arme pour les races faibles.##
{res[6][descr][13]} = ##L'Epée Longue est l'arme de prédilection de l'élite Drak Dovar.##
{res[6][descr][14]} = ##Le Drak Dovar ne sait pas viser, il n'utilise donc pas l'arc.##
{res[6][descr][15]} = ##L'Arbalète est également inconnue des Drak Dovars.##
{res[6][descr][16]} = ##La Cotte de Maille protègera le corps des soldats de votre armée.##
{res[6][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante, seul l'élite peut la porter.##

{trn[6][descr][1]} = ##C'est dans la Forêt que les Bûcherons coupent le bois nécessaire au développement et à l'entretien des cités.##
{trn[6][descr][2]} = ##Le Fer est extrait des Gisements de Fer. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[6][descr][3]} = ##Le Charbon est extrait des Gisements de Charbon. Pour cela il faut former des Mineurs et construire une mine autour du gisement.##
{trn[6][descr][4]} = ##L'Or est extrait des Filons d'Or. Pour cela il faut former des Mineurs et construire une mine autour du Filon.##
{trn[6][descr][5]} = ##Les Montagnes permettent de produire des blocs de pierre grâce aux Carrières.##

{btc[6][descr][1]} = ##Bâtiment principal et unique des Drak Dovars.##
{btc[6][descr][2]} = ##Bâtiment copié d'après les ruines de marchés humains, permettant aux Drak Dovars de commercer.##

{btcact[6][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[6][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[6][descr][2][ach]} = ##Acheter ou Vendre.##

{unt[6][descr][1]} = ##Le Dresseur est l'unité de base des Drak Dovars, il se  bat moyennement mais résiste à tout.##
{unt[6][descr][2]} = ##Le Soldat Drak Dovar fait barrage de son corps pour protéger les siens.##
{unt[6][descr][3]} = ##L'Elite Drak Dovar est l'attaquant par excellence. Aucun état d'âme, il est fait pour détruire.##
{unt[6][descr][4]} = ##Si vous êtes sage il descendra bientôt vous apporter des cadeaux par milliers.##
{unt[6][descr][5]} = ##A la recherche des cadeaux de Noël, il est prêt à tout pour vous les voler.##
{unt[6][descr][6]} = ##Il a la garde des cadeaux volés, il faudra lui passer sur le corps pour les retrouver.##
{unt[6][descr][7]} = ##Les plans machiavéliques produits par son cerveau malade ont pour seul but de voler encore plus de cadeaux.##
{unt[6][descr][8]} = ##Si vous êtes sage elle descendra bientôt vous apporter des cadeaux par milliers.##
{unt[6][descr][9]} = ##Ce sont les gardiens du couple de Noël!##
{unt[6][descr][10]} = ##Ce sont les gardiens du couple de Noël!##
{unt[6][descr][11]} = ##Ils ne vous donneront pas leurs butins si facilement!##
{unt[6][descr][12]} = ##Ce sont les gardiens du couple de Noël!##


{src[6][descr][1]} = ##Donne accès à toutes les armes.##

