{res[7][alt][1]} = ##Or##
{res[7][alt][2]} = ##Bois##
{res[7][alt][3]} = ##Granit##
{res[7][alt][4]} = ##Lichen##
{res[7][alt][5]} = ##Adamantite##
{res[7][alt][6]} = ##Saronite##
{res[7][alt][7]} = ##Tortue##
{res[7][alt][8]} = ##Acier##
{res[7][alt][9]} = ##Mithril##
{res[7][alt][10]} = ##Bouclier Rond##
{res[7][alt][11]} = ##Casque##
{res[7][alt][12]} = ##Baton de combat##
{res[7][alt][13]} = ##Cimeterre##
{res[7][alt][14]} = ##Fronde##
{res[7][alt][15]} = ##Lance##
{res[7][alt][16]} = ##Brigandine##
{res[7][alt][17]} = ##Cotte de Mithril##

{trn[7][alt][1]} = ##Forêt##
{trn[7][alt][2]} = ##Gisement d'Adamantite##
{trn[7][alt][3]} = ##Gisement de Saronite##
{trn[7][alt][4]} = ##Filon d'or##
{trn[7][alt][5]} = ##Montagne de Granit##

{btc[7][alt][1]} = ##Ruines Oubliées##
{btc[7][alt][2]} = ##Mine de granit##
{btc[7][alt][3]} = ##Cabane à bois##
{btc[7][alt][4]} = ##Réseau Souterrain##
{btc[7][alt][5]} = ##Tanière des chasseurs##
{btc[7][alt][6]} = ##Vallée de l'Honneur##
{btc[7][alt][7]} = ##Pierre Philosophale##
{btc[7][alt][8]} = ##Carrefour##
{btc[7][alt][9]} = ##Arsenal##
{btc[7][alt][10]} = ##Sondeur Abyssal##
{btc[7][alt][11]} = ##Gisement d'adamantite##
{btc[7][alt][12]} = ##Gisement de Saronite##
{btc[7][alt][13]} = ##Aciérie##
{btc[7][alt][14]} = ##Ingénierie##
{btc[7][alt][15]} = ##Mine des profondeurs##
{btc[7][alt][16]} = ##Tour Réhabilitée##
{btc[7][alt][17]} = ##Tour des Sages##
{btc[7][alt][18]} = ##Tour Héroïque##
{btc[7][alt][19]} = ##Transmuteur Gobelin##
{btc[7][alt][20]} = ##Canyon des Profondeurs##
{btc[7][alt][21]} = ##Lac Souterrain##
{btc[7][alt][22]} = ##Ruines Renforcées##

{btcact[7][title][1][unt]} = ##Sauvetage##
{btcact[7][title][1][src]} = ##Recherches##
{btcact[7][title][6][unt]} = ##Vallée de l'Honneur##
{btcact[7][title][8][ach]} = ##Carrefour##
{btcact[7][title][9][res]} = ##Arsenal##
{btcact[7][title][13][res]} = ##Extension d'arsenal##
{btcact[7][title][14][unt]} = ##Ingénierie##
{btcact[7][title][15][res]} = ##Mine des profondeurs##
{btcact[7][title][17][unt]} = ##Tour des Sages##
{btcact[7][title][18][unt]} = ##Tour Héroïque##
{btcact[7][title][19][res]} = ##Transmuteur##
{btcact[7][title][20][unt]} = ##Canyon des Profondeurs##
{btcact[7][title][21][unt]} = ##Lac Souterrain##

{btcopt[7][1][unt]} = ##Sauvetage##
{btcopt[7][1][unt_todo]} = ##Unités sauvées##
{btcopt[7][1][unt_type]} = ##Unités##

{btcopt[7][1][src]} = ##Recherches##

{btcopt[7][6][unt]} = ##Formation##
{btcopt[7][6][unt_todo]} = ##Unités en Formation##
{btcopt[7][6][unt_type]} = ##Unités##

{btcopt[7][9][res]} = ##Productions##
{btcopt[7][9][res_todo]} = ##Armes en Fabrication##
{btcopt[7][9][res_type]} = ##Armes##

{btcopt[7][10][src]} = ##Recherches##

{btcopt[7][13][res]} = ##Productions##
{btcopt[7][13][res_todo]} = ##Armes en Fabrication##
{btcopt[7][13][res_type]} = ##Armes##

{btcopt[7][14][unt]} = ##Invention##
{btcopt[7][14][unt_todo]} = ##Machines en Fabrication##
{btcopt[7][14][unt_type]} = ##Machines##

{btcopt[7][15][res]} = ##Dressage##
{btcopt[7][15][res_todo]} = ##Tortues en dressage##
{btcopt[7][15][res_type]} = ##Tortues##

{btcopt[7][15][unt]} = ##Domptage##
{btcopt[7][15][unt_todo]} = ##Animaux à dompter##
{btcopt[7][15][unt_type]} = ##Animaux##

{btcopt[7][17][unt]} = ##Entraînement##
{btcopt[7][17][unt_todo]} = ##Unités en Formation##
{btcopt[7][17][unt_type]} = ##Unités##

{btcopt[7][18][unt]} = ##Entraînement##
{btcopt[7][18][unt_todo]} = ##Unités en Formation##
{btcopt[7][18][unt_type]} = ##Unités##

{btcopt[7][19][res]} = ##Productions##
{btcopt[7][19][res_todo]} = ##Armes en Fabrication##
{btcopt[7][19][res_type]} = ##Armes##

{btcopt[7][20][unt]} = ##Entraînement##
{btcopt[7][20][unt_todo]} = ##Unités en Formation##
{btcopt[7][20][unt_type]} = ##Unités##

{btcopt[7][21][unt]} = ##Formation##
{btcopt[7][21][unt_todo]} = ##Unités en Formation##
{btcopt[7][21][unt_type]} = ##Unités##

{btcopt[7][22][src]} = ##Recherches##

{unt[7][alt][1]} = ##Rescapé##
{unt[7][alt][2]} = ##Artisan##
{unt[7][alt][3]} = ##Collecteur##
{unt[7][alt][4]} = ##Chasseur##
{unt[7][alt][5]} = ##Gobelin Brigand##
{unt[7][alt][6]} = ##Recruteur##
{unt[7][alt][7]} = ##Dresseur##
{unt[7][alt][8]} = ##Ingénieur##
{unt[7][alt][9]} = ##Gobelin Soldat##
{unt[7][alt][10]} = ##Gobelin Frondeur##
{unt[7][alt][11]} = ##HobGobelin##
{unt[7][alt][12]} = ##Ogre##
{unt[7][alt][13]} = ##Semi-Ogre##
{unt[7][alt][14]} = ##Cerbère##
{unt[7][alt][15]} = ##Gnome des Profondeurs##
{unt[7][alt][16]} = ##Zeppelin##
{unt[7][alt][17]} = ##Gobelours##
{unt[7][alt][18]} = ##BatraSog##
{unt[7][alt][19]} = ##Fremlin##
{unt[7][alt][20]} = ##Mage Gobelin##
{unt[7][alt][21]} = ##Druide Gobelin##
{unt[7][alt][22]} = ##Kamikaze##
{unt[7][alt][23]} = ##Tyran Gobelin##
{unt[7][alt][24]} = ##HobGobelin Officier##
{unt[7][alt][25]} = ##Chevaucheur de Tortues##
{unt[7][alt][26]} = ##Medusa##
{unt[7][alt][27]} = ##Taupe##

{src[7][alt][1]} = ##Pierre Philosophale##
{src[7][alt][2]} = ##Commerce 1##
{src[7][alt][3]} = ##Commerce 2##
{src[7][alt][4]} = ##Commerce 3##
{src[7][alt][5]} = ##Armes de Poing##
{src[7][alt][6]} = ##Armes à distance##
{src[7][alt][7]} = ##Armement Défensif##
{src[7][alt][8]} = ##Exploration de surface##
{src[7][alt][9]} = ##Recrutement Avancé##
{src[7][alt][10]} = ##Dressage##
{src[7][alt][11]} = ##Fonte de l'Acier##
{src[7][alt][12]} = ##Magie Chamanique##
{src[7][alt][13]} = ##Transmuteur##
{src[7][alt][14]} = ##Rénovation##
{src[7][alt][15]} = ##Exploration des Profondeurs##
{src[7][alt][16]} = ##Exploration Aquatique##
{src[7][alt][17]} = ##Renfort Collecteur##
{src[7][alt][18]} = ##Commandement avancé##
{src[7][alt][20]} = ##Appel Mythologique##
{src[7][alt][19]} = ##Dressage expert##
{src[7][alt][21]} = ##Forage##

{comp[7][alt][1]} = ##discours galvanisant##
{comp[7][alt][2]} = ##Combat en formation##
{comp[7][alt][4]} = ##Endurance accrue##
{comp[7][alt][6]} = ##Casse muraille##
{comp[7][alt][7]} = ##Récupération##
{comp[7][alt][8]} = ##Téléportation##
{comp[7][alt][10]} = ##Soins##
{comp[7][alt][11]} = ##Résuréction##
{comp[7][alt][13]} = ##Volée de flèches##
{comp[7][alt][14]} = ##Diplomate##
{comp[7][alt][16]} = ##Derrière les murailles##
{comp[7][alt][19]} = ##Production soutenue##
{comp[7][alt][23]} = ##Apple de créatures##
{comp[7][alt][24]} = ##Ingéniosité accrue##

