{res[7][descr][1]} = ##L'Or n'est pas très utile aux Gobelins, il permet surtout de faire du commerce.##
{res[7][descr][2]} = ##Le Bois Mort ramassé par les Gobelins permet de fortifier des bâtiments ou fabriquer des armes.##
{res[7][descr][3]} = ##Le Granit est utilisé dans la construction des bâtiments ou leur destruction (par les Catapultes)!##
{res[7][descr][4]} = ##Le lichen est essentielle dans le jeu puisqu'elle permet de nourrir vos unités, civiles et militaires, et donc de leur éviter une mort certaine. N'oubliez jamais que vous devez nourrir votre village et vos légions.##
{res[7][descr][5]} = ##L'Adamantite est un minerai des grandes profondeurs que seuls les gobelins peuvent extraire. Très dur, il est taillé pour faire des armes redoutables.##
{res[7][descr][6]} = ##La Saronite est un minerai sombre, maléable et facile à travailler, permettant de faire les outils et armes de base.##
{res[7][descr][7]} = ##Les Tortues permettent de posséder une meute certe peu rapide mais ravageuse et ainsi de percer les fortifications ennemies.##
{res[7][descr][8]} = ##L'Acier des Gobelins est produit en mélangeant de l'Adamantite broyée dans de la Saronite fondue.##
{res[7][descr][9]} = ##Le Mithril des Gobelins est une pâle copie de celui des nains, produit par un artifact magique à partir d'acier.##
{res[7][descr][10]} = ##Le Bouclier Rond, petit et léger, est une protection sommaire mais peu encombrante.##
{res[7][descr][11]} = ##Le Casque, en métal forgé, est une protection efficace.##
{res[7][descr][12]} = ##Le Bâton de Combat est l'arme la plus rudimentaire qui soit, mais il est peu cher et facile à fabriquer.##
{res[7][descr][13]} = ##Le Cimeterre est une épée à large lame recourbée, et à double tranchant.##
{res[7][descr][14]} = ##Dans les galeries étroies où un arc serait trop encombrant à manier, la Fronde est l'arme de combat à distance idéale. Prévoir un gros sac de pierres en guise de munitions.##
{res[7][descr][15]} = ##La lance, qui n'était au début qu'un bâton de combat que l'on lance en dernier recours, est devenu plus lourd et plus pointu pour transpercer les protections.##
{res[7][descr][16]} = ##La brigandine est une armure constituée de plaques rivetées sur du cuir ou du tissu épais, fournissant une excellente protection pour une armure peu onéreuse et simple à fabriquer.##
{res[7][descr][17]} = ##La Cotte de Mithril est extrêmement légère et résistante, seuls les élus peuvent la porter.##

{trn[7][descr][1]} = ##Les Gobelins ramassent des grossiers rondins de bois mort pour fortifier leurs souterrains et tailler leurs outils.##
{trn[7][descr][2]} = ##Le gisement d'Adamantite est situé si profond que seul les gobelins peuvent l'exploiter.##
{trn[7][descr][3]} = ##Le gisement de Saronite est situé si profond que seul les gobelins peuvent l'exploiter. De plus, aucune autre race ne voudrait utiliser ce matériau sale et impur.##
{trn[7][descr][4]} = ##Une mine d'or? Pourquoi faire? Les gobelins transforment le granit en or!##
{trn[7][descr][5]} = ##Les profondeurs des montagnes contiennent le granit, bien plus dur que la pierre.##

{btc[7][descr][1]} = ##Elevé sur un ancien château d'un seigneur oublié, ce camp permet de former les unités civiles des gobelins.##
{btc[7][descr][2]} = ##Les gobelins trouvent le principal composant de leur bâtiment: le granit.##
{btc[7][descr][3]} = ##Les bûcherons ramassent du bois mort en surface pour renforcer leurs souterrains et produire des armes.##
{btc[7][descr][4]} = ##Les réseaux souterrains permettent d'abriter les gobelins.##
{btc[7][descr][5]} = ##Ce lieu permet aux chasseurs gobelins de nourrir leur peuple##
{btc[7][descr][6]} = ##Les civils viennent ici prouver leur valeur au combat pour rejoindre le corps militaire.##
{btc[7][descr][7]} = ##Les Gobelins utilisent une relique des anciennes races pour transmuter de le granit en or, il vous faudra deux morceaux de granit afin d'obtenir de l'or.##
{btc[7][descr][8]} = ##A la croisée des souterrains, les rencontres impromptues sont source d'échanges commerciaux fructueux. La monnaie d'échange est unique: il s'agit de l'Or.##
{btc[7][descr][9]} = ##Les gobelins forgent ici leurs armes rudimentaires.##
{btc[7][descr][10]} = ##Le sondeur abyssal permet la recherche du Transmuteur, en travaillant sur des technologies ... magiques.##
{btc[7][descr][11]} = ##Extraction d'Adamantite.##
{btc[7][descr][12]} = ##Gisement de Saronite.##
{btc[7][descr][13]} = ##Aciérie: permet de faire de l'acier en cassant deux morceaux d'Adamantite dans deux de Saronite fondus. Et qui dit acier, dit forge, ce sera donc en cet endroit que les armures solides seront forgées!##
{btc[7][descr][14]} = ##Les ingénieurs gobelins s'activent afin de fabriquer des puissantes machines de guerre.##
{btc[7][descr][15]} = ##Les gobelins trouvent ici des alliés d'une grande aide. En ces lieux, se trouvent les Tortues mais aussi, d'autres créatures bien plus mystérieuses. ##
{btc[7][descr][16]} = ##Une ancienne tour désaffectée, réhabilitée par les gobelins, permet à 4 frondeurs de se cacher pour lancer des cailloux sur leurs ennemis.##
{btc[7][descr][17]} = ##Les Mages et Prêtres Gobelins sont formés ici.##
{btc[7][descr][18]} = ##Un gobelin parmi tous y arrivera! Un seul peut montrer qu'il se démarque des autres: il grimpera la montagne de feu et recevra le titre de héros, le plus fort de son village!##
{btc[7][descr][19]} = ##Utilise une Orbe Divine pour transmuter de l'acier en Mithril, un pour un.##
{btc[7][descr][20]} = ##Un souterrain qui se perd dans les profondeurs des montagnes, c'est ici qu'on retrouve les créatures chassées de la surface.##
{btc[7][descr][21]} = ##Au détour d'une galerie, on débouche sur ce lac immense, dont la voûte de pierre constitue le ciel. Bien que le soleil ne se lève jamais au dessus de ce lac, une faible lumière semble irradier de l'intérieur, due aux insectes ou créatures qui le peuplent. On croise souvent des Fremlins dans les airs, tandis que des BatraSogs habitent les profondeurs du lac.##
{btc[7][descr][22]} = ##Dernier rempart défensif des gobelin.##


{btcact[7][descr][1][unt]} = ##Sauver et former les rescapés trouvés dans les ruines.##
{btcact[7][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[7][descr][6][unt]} = ##Entraîner de nouveaux soldats Gobelins.##
{btcact[7][descr][8][ach]} = ##Acheter ou Vendre.##
{btcact[7][descr][9][res]} = ##Forger des armes pour le combat.##
{btcact[7][descr][13][res]} = ##Forger des armes en acier grâce à l'aciérie.##
{btcact[7][descr][14][unt]} = ##Inventer des engins de guerre.##
{btcact[7][descr][15][res]} = ##Dresser des tortues.##
{btcact[7][descr][17][unt]} = ##Former des unités religieuses et magiques.##
{btcact[7][descr][18][unt]} = ##Former des Héros.##
{btcact[7][descr][19][res]} = ##Reforgez vos cottes de maille ou produisez du mithril.##
{btcact[7][descr][20][unt]} = ##Recruter des guerriers des profondeurs.##
{btcact[7][descr][21][unt]} = ##Former des créatures aquatiques.##

{unt[7][descr][1]} = ##Ce bricoleur sait fabriquer toute sorte d'objets, y compris des bâtiments. C'est le Gobelin à tout faire dans une colonie.##
{unt[7][descr][2]} = ##Unité engagée pour creuser des galeries, des souterrains, des cavernes, il recherche aussi du minerai dans les mines lorsqu'un filon est découvert.##
{unt[7][descr][3]} = ##Ce Gobelin passe son temps à collecter les mousses et lichens, toute sorte de végétaux que l'on peut trouver dans les galeries de faible profondeur, qui constitue la nourriture quotidienne des Gobelins. Il arrive néanmoins qu'il soit appelé à faire des tâches qui sont hors de ses fonctions, on ne trouve pas la main d'oeuvre que l'on souhaite dans des ruines oubliées!##
{unt[7][descr][4]} = ##Ce Gobelin courageux parcours la surface pour chasser du petit gibier, sans se faire chasser par plus gros que lui.##
{unt[7][descr][5]} = ##Ce mercenaire passait son temps à détrousser ses congénères, c'est pourquoi on l'a enrôlé de force dans la milice locale.##
{unt[7][descr][6]} = ##Ce Gobelin bavard et diplomate n'a pas son pareil pour recruter les créatures les plus patibulaires.##
{unt[7][descr][7]} = ##L'ami des Tortues sait les apprivoiser pour en faire des animaux redoutables, et les mènera au combat.##
{unt[7][descr][8]} = ##Un Gobelin plutôt malin qui participe aux technologies de pointe.##
{unt[7][descr][9]} = ##Ce gobelin a pris les armes volontairement, mais il manque d'entraînement.##
{unt[7][descr][10]} = ##Dans les longues et étroites galeries souterraines où vivent les Ggobelins, le Frondeur est une défense agile et rapide.##
{unt[7][descr][11]} = ##Plus grand et plus fort que le Gobelin, le HobGobelin a la guerre dans ses gènes, c'est un combattant aguerri.##
{unt[7][descr][12]} = ##Créature bestiale et cannibale, l'Ogre ne se mélange pas aux Gobelins. Cependant il est tellement cupide que l'on peut l'engager dans l'armée Gobelin pour n'importe quel combat, pourvu qu'on le paye cher.##
{unt[7][descr][13]} = ##Cette créature est issue d'un croisement entre l'Ogre et l'Humain. Chassée par les Humains mais généralement rejetée par les Ogres, elle a trouvé refuge dans les colonies de Gobelins. Moins cupide que son cousin l'Ogre, donc moins chère, le Semi-Ogre est plus rusé dans l'art du combat.##
{unt[7][descr][14]} = ##Vous aimez les chiens? Les gobelins aussi... Mais celui-ci est un peu spécial!.##
{unt[7][descr][15]} = ##Attaquant petit mais puissant qui se faufile rapidement dans les lignes ennemies. Le Gnome a été repoussé dans les profondeurs des montagnes et s'est regroupé en colonies de nombreux habitants.##
{unt[7][descr][16]} = ##Détruisez les défenses énnemies grâce à cette machine de guerre volante!##
{unt[7][descr][17]} = ##Il est de la taille d'un Ogre, c'est un Gobelin géant. Il est moins barbare que l'Ogre, plus sociable avec les Gobelins, ce qui en fait une recrue de choix dans une armée Gobelin, en effet il ne mange pas du Gobelin lorsqu'il a faim.##
{unt[7][descr][18]} = ##Créature amphibie des lacs souterrains, moitié Gobelin moitié Grenouille, elle est à la fois rapide, furtive et agile au combat. Pour survivre dans cet environnement hostile les BatraSogs forment des villages sous-marins très denses et peuplés.##
{unt[7][descr][19]} = ##Petit Gobelin ailé, armé seulement de griffes et de dents acérées, inoffensif lorsqu'il est seul, il faut une nuée de Fremlins pour que cela représente une quelconque menace.##
{unt[7][descr][20]} = ##Le Gobelin craintif a su développer une magie défensive efficace pour se protéger.##
{unt[7][descr][21]} = ##Le druide possèdent des sorts de guérisons et de puissances issus de leurs aïeux dont la sagesse et la connaissance n'ont pas d'égal!##
{unt[7][descr][22]} = ##Attention, ne restez pas trop près...##
{unt[7][descr][23]} = ##Ce puissant gobelin mène les troupes asservies au combat, dans un seul but, soumettre ses ennemis. ##
{unt[7][descr][24]} = ##Un HobGobelin vétéran qui a fait ses preuves au combat, comme en témoignent ses nombreuses cicatrices. Il devient un leader charismatique pour mener les hordes de Gobelins à la victoire.##
{unt[7][descr][25]} = ##Chevaucheur de Tortues : Ce Gobelin qui parle à l'oreille des tortues ne se contente pas de les chevaucher : il les dresse, les dirige et les mène au combat par légions entières.##
{unt[7][descr][26]} = ##Créature à moitié divine, à moitié maudite, la meduse met sa science et ses pouvoirs au service des Gobelins. Rejeté des races de la surface elle aspire à aider et défendre son peuple d'adoption.##
{unt[7][descr][27]} = ##Notre caverne devenue dépourvue de richesse, il est temps de l'abandonner. Cette machine vous permettra de creuser une galerie pour développer le village dans un autre endroit.##

{src[7][descr][1]} = ##C'est le secret de la transformation de la pierre en Or! Ce secret jalousement gardé permet donc de fabriquer de l'or mais cela nécessite de grosses quantités de granit.##
{src[7][descr][2]} = ##Permet de vendre/acheter pour un maximum de 250 or. Limite de ventes: 6##
{src[7][descr][3]} = ##Permet de vendre/acheter pour un maximum de 3000 or. Limite de ventes: 12##
{src[7][descr][4]} = ##Permet de vendre/acheter pour un maximum de 5000 or. Limite de ventes: 24##
{src[7][descr][5]} = ##Permet de fabriquer des armes offensives (ex: fronde et casque)##
{src[7][descr][6]} = ##Dans les galeries les Gobelins ont su s'adapter au manque de place et utilisent des armes simples et peu encombrantes (Lance).##
{src[7][descr][7]} = ##La meilleure attaque d'un gobelin... C'est la défense: c'est pourquoi il utilise largement un baton et même un simple bouclier de bois!##
{src[7][descr][8]} = ##Exploration de surface: Les Gobelins les plus aventuriers ont tracé des cartes désignant les meilleurs spots de chasse, tout comme les forêts fournissant le bois.##
{src[7][descr][9]} = ##Recrutement Avancé: les Gobelins ne sont pas des créatures très imposantes, c'est pourquoi ils ont cherché à se faire des alliés de toutes les créatures hideuses et monstrueuses qui partageaient leur habitat naturel. Ils savent parler à ces créatures et les recrutent pour leurs armées.##
{src[7][descr][10]} = ##Au fil des siècles, une confiance rudimentaire s'est installée entre les Tortues des montagnes, si farouches et les Gobelins si craintifs. Ainsi la Tortue est devenue le meilleur ami du Gobelin!##
{src[7][descr][11]} = ##Contrairement aux autres races, les Gobelins utilisent l'Adamantite fondue mélangée à de la Saronite brisée pour produire l'Acier.##
{src[7][descr][12]} = ##La magie ancestrale des Gobelins est d'origine inconnue, probablement transmise d'une autre race aujourd'hui disparue et oubliée.##
{src[7][descr][13]} = ##Cet artefact magique permet aux Gobelins de transformer le métal Adamantite en Mithril.##
{src[7][descr][14]} = ##A présent que le gobelin est installé, il lui faut du temps pour améliorer son espace et partir à la découverte de ressources que cet endroit a à offrir.##
{src[7][descr][15]} = ##Les Gobelins découvrent les immenses canyons des profondeurs, dans lesquels vivent des créatures peu communes.##
{src[7][descr][16]} = ##Bien qu'ils ne nagent pas, les Gobelins ont presque atteint le centre de la terre lorsqu'ils découvrent ces immenses lacs souterrains infestés de BatraSogs.##
{src[7][descr][17]} = ##Les collecteurs ont trouvés le moyen de vous fournir du lichen de manière plus intensive!##
{src[7][descr][18]} = ##Ce général sera à la tête de votre armée et digne d'un chef de guerre!##
{src[7][descr][20]} = ##Créature destructrice gobeline, surpuissante et indomptable. Recrutée pour tuer, elle écrasera ce qui se trouve sur son chemin : hômmes bêtes et fortifications. ##
{src[7][descr][19]} = ##Vous pourrez compter sur vos héros pour défendre vos murs, et diriger vos troupes dans un seul but : Leur anhilation##
{src[7][descr][21]} = ##Obtenez la taupe, cette machine qui vous permettra de déménager.##

{comp[7][descr][1]} = ##Stratégie : Le héros humain déclame un discours plein d'espoir pour donner du courage et de la hargne à ses troupes, le c?ur vaillant et déterminé, l'armée du héros n'attend plus que d'en découdre. L'attaque unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[7][descr][2]} = ##Stratégie : Le héros humain place ses troupes en formation défensive pour encaisser l'attaque ennemie et lancer une riposte dévastatrice. La défense unité est augmentée de %1$d %% pendant %2$d tours.##
{comp[7][descr][4]} = ##Compétence : Le héros entraîne efficacement ses soldats et de ce fait, la légion voit sa vitalité augmentée. La vie des soldats est augmentée de %1$d %% pendant %2$d tours.##
{comp[7][descr][6]} = ##Stratégie: Le héros positionne les armes de sièges de l'armée de manière à ce que rien ne s'interpose entre elles et les défenses ennemies permettant ainsi d'exposer plus longtemps les bâtiments ennemis au déluge de coups et projectiles. L'attaque bâtiment est augmentée de %1$d %% pendant %2$d tours.##
{comp[7][descr][7]} = ##Compétence : Les chercheurs de votre village vous ont préparé une potion de soin très efficace, avec une seule de ces fioles le héros récupère ses forces plus vite. Pendant %2$d tours, le Héros récupère %1$d %% de vie supplémentaire par tour.##
{comp[7][descr][8]} = ##Compétence : Le héros a longuement étudié les savoirs magiques et il connait un sortilège puissant capable de téléporter instantannément ses troupes. Cette compétence ne dure que le temps d'une téléportation.##
{comp[7][descr][10]} = ##Compétence : Le héros ordonne à ses troupes de récupérer les blessés sur le champ de bataille pour qu'ils soient soignés et à nouveau aptes à se battre au plus vite. %1$d %% des pertes du combat se retrouve en vie dans la légion.##
{comp[7][descr][11]} = ##Compétence : Grâce à une prière difficile et longue, le Héros humain ne craint plus la mort : s'il est tué au combat, il ressuscite au village après sa mort. La prière le protège pendant %2$d tours.##
{comp[7][descr][13]} = ##Stratégie : Le héros humain ordonne aux tireurs de la légion de lancer plus de vagues successives de projectiles vers l'ennemi. Avant le début du combat, cette attaque à distance inflige une perte de %1$d %% aux rangs ennemis. Le sort dure %2$d tours.##
{comp[7][descr][14]} = ##Compétence : Le héros humain est très habile pour les négociations marchandes et il réalise avec brio les échanges. Pendant %2$d tours il obtient %1$d %% de ristourne sur les achats du marché.##
{comp[7][descr][16]} = ##Compétence : Le héros sait organiser la défense de son village, il est capable d'intégrer un allié dans son plan de défense de façon optimale. Pendant %2$d tours les alliés en défense dans son village bénéficient d'un bonus de %1$d %% qui compense en partie le malus de défense groupée.##
{comp[7][descr][19]} = ##Compétence : Le héros sait au mieux utiliser les ressources qui lui sont allouées. Il organise mieux le travail et optimise la production de son village. Pendant %2$d tours la production des ressources du village tourne à %1$d %%.##
{comp[7][descr][23]} = ##Compétence : Les gobelins sont alliés avec de nombreuses bêtes mystérieuses vivant sous terre, qui viennent renforcer leurs rangs en cas d'extrême urgence. Pendant %2$d tours la défense est augmentée de %1$d %%.##
{comp[7][descr][24]} = ##Compétence : Les savants gobelins sont surpris d'une intelligence super en cette période, ce qui améliore la performance des machines gobelins lors de la fabrication! Pendant %2$d tours le soutien est augmenté de %1$d %%.##

