@import url(../imports/base.css);

/*
* Design Général
*/
a{ 
	font-size: 11px;
}

a:link, a:visited, a:active {
	color: #F6EFE2; text-decoration: none;
}

a:hover {
	color: #FFFFFF; text-decoration: underline;
}

/* Lien bonus */
a.bonus{ 
	color: #DCDBC8; font-weight: bold;
}

/* Lien votes */
a.votes{ 
	color: #CC3300; font-weight: bold;
}

body {
	background-color: #000000;
	background-image: url(img/texture_centre.png);
	color: #E7D6B5;
	font-family: "DejaVu Sans", Verdana,Tahoma,Arial,sans-serif;
	font-size: 10px;
	margin: 0px;
	text-align: center;

}

/* Formulaires */
fieldset {
	padding: 5px;
}

input,select {
	background-color: #48402D;
	border: 1px solid #000000;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin: 2px;
}
textarea{
	background-color: #48402D;
	border: thin solid #000000;
	color: #000000;
	font-size: 13px;
}
textarea:focus,input:focus{ 
	background-color: #6E6145;
}

/* Titres */
h1 {
	color: #FFFFFF;
	font-size: 150%;
}
h2 {
	color: #FFFFFF;
	font-size: 150%;
}
h3, h4, h5, h6 {
	font-size: 110%;
}


hr {
	background-color: #060609;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	width: 50%;
}

/* Utilisé dans le manuel et les listes de bâtiments */
dt { font-weight: bold;}

dd{
	background-color: #352D21;
}
dd,dt{
	margin: 1px;
	padding: 2px;
}

dl li {
	margin: 3px;
	padding: 3px;
}

dt{
	margin-top: 10px;
	background-color: #453D31;
}

/* Tableaux */
tr {
	background-color: #352D21;
	text-align: left;
}
td {
	border: #000000 solid 1px;
	padding: 2px;
}
th {
	background-color: #332B19;
	border: #000000 solid 1px;
	font-weight: bold;
	text-align: center;
}


/* NiceTitles */
div#toolTip { 
	background-color: #555555; 
	border-color: #000000; 
	border-style: solid; 
	border-width: 1px; 
	color: #FFFFFF; 
	font-family: Garamond, Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	left: 0px;
	-moz-border-radius: 5%;
	padding: 4px;
	position: absolute;
	top: 0px;
	width: auto;
	z-index: 20;
}
div#toolTip p {
	margin: 0;
	padding: 0 3px;
}
div#toolTip p em { 
	display:block; 
	margin-top:3px;
	color:#f60;
	font-style:normal;
	font-weight:bold;
}

/* Tout ce qu'il y'a dans body */
#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	text-align: left;
	width: 1000px;
}

/* Logo en haut */
#logo {
	margin-bottom: 6px;
	width: 800px;
	padding: 10px 0px 8px 0px;
}

#logo h1
{
    padding: 60px 0px 0px 0px;
    margin: 0px;
    overflow: hidden;
    background-image: url(img/logo.png); 
    background-repeat: no-repeat;
	background-position: center left;
    height: 0px !important; /* for most browsers */
    height /**/:33px; /* for IE5.5's bad box model */
}

/* Y'a écrit "zordania" */
#text_logo{
	display: none;
	visibility: hidden;
}

/* Boite de pub */
#pub {
	float: left; 
	width: 528px;
	margin-top: -5px;
	text-align: right;
}

/* Boite de stats */
#stats {
	float: left;
	width: 222px;
}

/* Boite du menu */
#menu {
	float: left;
	width: 170px;
}
#stats .bas {
 	background-image: url(img/bas.png); 
	height: 5px; 
	margin-bottom: 5px;
 }
 
#stats .haut  {
 	background-image: url(img/haut.png);
	height: 5px; 	
 }

#stats .centre  {
    list-style-type: none; 
	background-color: #231E17; 
	background-image: url(img/gauche.png); 
	background-repeat: repeat-y; 
	padding-top:0px; 
	padding-left:6px;
}

#stats .contenu {
	background: url(img/droit.png) repeat-y right; 
	padding: 6px; 
	padding-top: 20px;
	padding-left: 10px;
	height: 100px;
}

#menu .bas {
 	background-image: url(img/bas.png); height: 6px; 
 }
 
#menu .haut {
 	background-image: url(img/haut.png); height: 6px;
 }

#menu .centre {
	background-color: #231E17; background-image: url(img/gauche.png); background-repeat: repeat-y;
}

#menu .contenu {
	background: url(img/droit.png) repeat-y right; padding-left: 6px; 
}

#logo .bas {
 	background-image: url(img/bas.png); height: 6px; 
 }
 
#logo .haut {
 	background-image: url(img/haut.png); height: 6px;
 }

#logo .centre {
	background-color: #231E17; background-image: url(img/gauche.png); background-repeat: repeat-y;
}

#logo .contenu {
	background: url(img/droit.png) repeat-y right; padding-left: 6px; 
}


#stats ul, #stats li {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

/* Espace entre les stats et la pub */
#espace_stats_pub {
	float: left;
	visibility: hidden;
	width: 47px;
}

/* Div entre le menu et le centre, permet de les espacer */
#espace_menu_centre {
	float: left;
	visibility: hidden;
	width: 10px;
}

/* Donjon */
#donjon{ 
	margin: 0px;
	width: 100%;
	list-style-position: inside;
	list-style-type: none;
}
#donjon tr {
	background-color: #352D21;
}
#donjon td {
	border: #000000 solid 1px;
	padding: 2px;
}
#donjon th {
	background-color: #332B19;
	border: #000000 solid 1px;
}
#donjon ul{
	list-style-type: none;
	padding:0;
	margin: 0;
}
#donjon li{
	list-style-type: none;
	padding:0 0 0 10px;
	margin: 0;
}

/* Div qui contient le contenu du centre */
#module li {
	margin: 5px;
}

#module {
	background-color: #231E17;
	background-image: url(img/texture_fond.png);
	float: left;
	left: 10px;
	width: 610px;
	margin-left: 10px;
	margin-top: -10px;
}

#module .bas {
	background-image: url(img/bas.png);
	background-repeat: repeat-x;
	height: 6px; 
}
#module .haut {
	background-image: url(img/haut.png);
	background-repeat: repeat-x;
	height: 6px;
}

#module .centre {
	background-image: url(img/gauche.png); background-repeat: repeat-y;
}

#module .contenu {
	background-image: url(img/droit.png); background-position: right; background-repeat: repeat-y; padding: 5px 25px 5px 25px;
}



/* Bas .. pubs, etc */
#footer {
	color: #666666;
	font-size: 9px;
	text-align: center;
}
#footer img {
	border: #000000 1px solid;
}
#footer li {
	display: inline;
	margin: 2px;
}
#footer ul{
	list-style-type: none;
	width: 100%;
}

/* Copyright et Stats en bas */
#copy_and_stats {
	color: #FFFFFF;
}




/* Boite de menu */
.menu_gauche{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 20px;
	width: 165px;
}

.menu_gauche h2{
	background-image: url(img/texture_fond.png);
	color: #E7D6B5;
	color: #FFFFFF;
	display: table-cell;
	font-size: 13px;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	height: 25px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 165px;
}
.menu_gauche li{
	margin-left: 22px;
}
.menu_gauche ul{
	background-color: #231E17;
	list-style-position: inside; 
	list-style-type: none; 
	margin: 0; 
	padding: 5px;  }

.menu_gauche ul li ul li
{ 
	margin: 0px; 
	padding: 2px !important; 
	padding: 1px;
	padding-bottom: 2px;
}


.menu_gauche ul li ul 
{ 
	margin-left: 0px;
	list-style-position: inside;
	list-style-type: disc;
} 

#actbar {
	float: right;
	margin-top: -55px;
	margin-bottom: 5px;
	margin-right: 200px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 5px;
	border-color: #000000;
	border-style: solid; 
	border-width: 1px; 
	Background-color: #231E17;
	background-repeat: repeat-y ;
	height: 35px;
	}
 
#actbar li {
padding-left: 5px;
padding-right: 5px;
padding-top: 15px;
padding-bottom: 5px;
margin: 2px;
}

/* News */
.news {
	background-color: #352D21;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	padding: 5px; 
	margin-bottom: 10px;
}

.news h3 {
	font-size: 130%;
	text-align: center;
}

.comment { 	background-color: #352D21;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 5px; }

/* Block de debug mysql */
.mysql{
	background-color: #DDDDDD;
	border: 1px #AAAAAA solid;
	color: #000000;
	text-align: left;
}


/* Signature dans le forum, fiche membre, etc .. */
.signature {
	max-height: 15px;
	overflow: hidden;
	background-color: #504436;
	margin-bottom: 2px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Listes (membres, alliances, etc) */
.liste { 
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.liste tr:hover {
	background-color: #463D32;
	border-color: #111111;
}

/* Quand c'est un alliée dans une liste */
.allie td, .allie tr {
	background-color: #463D32;
	border-color: #111111;
}

/* Mini logo dans la liste ou sur le forum */
.mini_al_logo{
	height: 20px;
	width: 20px;
}

.perte{
	color:#99232C;
}
.gain{
	color:#237199;
}
.victoire,.defaite { 
	border-style: solid; 
	border-width: 1px;
	font-size: 1.1em;
	margin: 3px;
	padding: 2px;
	text-align: center;
}
.legion, .attaque {
	background-color: #060609;
	border: #666666 solid 1px;
	margin: 10px;
	padding: 5px;
}

.defaite{
	background-color: #CCCCCC; border-color: #FF0000; color: #FF0000;
}
.victoire{
	background-color: #CCCCCC; border-color: #226622; color: #226622;
}


/* Stats */
.barre_rouge,.barre_verte,.barre_grisec,.barre_grisef {
	background-repeat: repeat-x;
	color: #CCCCCC;
	float: left;
	height: 12px;
}
.barre_grisec{
	background-image: url(img/grisec.png);
}
.barre_grisef{
	background-image: url(img/grisef.png);
}
.barre_rouge{
	background-image: url(img/red.png);
}

.barre_verte{
	background-image: url(img/green.png);
}
.barres_grandes {
	width: 300px;
}
.barres_moyennes {
	width: 200px;
}
.barres_petites {
	width: 100px;
}
.barres_grandes,.barres_moyennes,.barres_petites {
	height: 0px;
	text-align: center;
}


/* Quelque chose de désactivé */
.disabled{ background-color: #101010; }



/* Block a metre en valeur */
.block {
	background-color: #352D21;
	border: #000000 solid 1px;
	padding: 5px;
}

/* Infos / Error / OK */
.error,.infos,.ok {
    border: 1px solid #666666;
    background: #A9A9A9;
    font-weight:bold;
}

#pub .ok {
    border-color: #666666;
    color: #226622;
	background: #A9A9A9;
    font-weight:bold;
	width: 360px;
	margin-top: -120px;
}

/* Pour le forum, mais pas seulement */
.quote {
	-moz-border-radius: 1%;
	background-image: url(img/quote1.png)
	width:90%;
	text-align:left;
	background-color: #332B19;
	font-style: italic;
	border:none;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 5px;
	margin:10px;
}
.code {
	width:90%;
	text-align:left;
	background-color: #332B19;
	font-style: italic;
	border: none;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 5px;
	margin:10px;
	overflow:auto;
}

/* Batiment sur la page "Village" */
.batiment {
	width: 28%; 
	background-color: #352D21;
	border: #000000 solid 1px;
	float: left;
	margin: 5px;
	padding: 5px;
}


/* Permet de faire des espaces, utilisé sur la page des bâtiments et sur l'index */
.blason{ float: right; }

/*Forums*/

.forum {
	background-color: #352D21;
	background-image : url(img/forum.png);	
	background-repeat: no-repeat ;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	padding: 5px;
	margin-top: 10px;
}

.block_forum {
	background-color: #352D21;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	color: #E7D6B5;
	padding: 5px;
	margin-top: 10px;
	}
	
.block_forum  a , .block_forum  a:hover{ 
	color: #E7D6B5 ;
	text-decoration: none;
}
	
.block_forum  a:link, .block_forum  a:visited{
color: #ffffff;
}
	
.titre {
	text-decoration: underline;
    font-weight: bold;
	font-size: 13px;
	padding-left: 8px;
	color: #ffffff;
}

.forum h4 a{
	background-image: none;
	Color: #B5B6B0;
	font-family: Papyrus,Tahoma,Arial,sans-serif;
	border: none;
	text-decoration: none;
	font-size: 17px;
}

.desc {
	font-style: italic;
	text-indent: 25px;
}

.stat {
	/*background-color: #19120d;*/
	text-align: right;
	padding: 2px;
	width: 400px;
	margin-left: 156px;
	margin-top: 5px;
	margin-bottom: -5px;
	/*border-top: 1px #615f5f solid;
	border-left: 1px #615f5f solid;*/
}

.block_forum  {
	overflow: hidden;
	background-color: #352D21;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.signature {
	overflow: hidden;
	background-color: #5A5B51;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.post 
{
min-height: 50px;
}



