@import url(../imports/base.css);

/*
* Design G?n?ral
*/
a{
	font-size: 11px;
}
a:link, a:visited, a:active {
	 color: rgb(246, 239, 226); 
	text-decoration: none;
}
a:hover {
	color: rgb(255, 255, 255); 
text-decoration: underline;
}

/* Lien bonus */
a.bonus {
	 color: rgb(220, 219, 200); 
 font-weight: bold; 
}

/* Lien votes */
a.votes{ 
	color: #CC3300; font-weight: bold;
}

body { 
	background-color: rgb(0, 0, 0); 
	background-image: url(img/bg1.png); 
	color: rgb(231, 214, 181);
	font-family: Verdana,Tahoma,Arial,sans-serif; 
	font-size: 10px; 
	margin: 0px; 
	text-align: center;
}

/* Formulaires */
fieldset {
	padding: 5px; 
}

input,select { background-color: #48402D; 
border: 1px solid #000; 
color: #000;
 font-size: 11px; 
 font-weight: bold; 
 margin: 2px; }
 
textarea{ background-color: #48402D; 
border: thin solid #000; 
color: #000; 
font-size: 13px; }

textarea:focus,input:focus{  background-color: #6E6145; }


/* Titres */
h1 { 
color: #FFFFFF; 
font-size: 150%;
 }
h2 { 
color: #CCCCCC; 
font-size: 125%;
}
h3, h4, h5, h6 { 
font-size: 110%;
}

hr { 
 background-color: #060609;
 border-color: #666666;
 border-style: solid; 
 border-width: 1px; 
 width: 50%; 
}

/* Utilis? dans le manuel et les listes de b?timents */
dt { 
 margin-top: 10px; 
 background-color: #453d31;
}
dd{ 
 background-color: #352d21; 
 }
dd,dt{
 margin: 1px; 
 padding: 2px; 
}
dl li {
margin: 3px; 
padding: 3px;
 }
dt{ 
 margin-top: 10px; 
 background-color: #453d31;
 }


/* Tableaux */
tr {
	background-color: #352D21;
	text-align: left;	
}
td {
	border-color: #000000; border-style: solid; border-width: 1px; padding: 2px;	
}
th {
	background-color: #332B19; border-color: #000000; border-style: solid; border-width: 1px;
}


/* NiceTitles */
div#toolTip {
 background-color: #3f3627;
 border-color: #000000;
 border-style: solid; 
 border-width: 1px; 
 color: white;  
 font-family: Verdana, Helvetica, Arial, sans-serif; 
 font-size: 9px; 
 font-weight: bold; 
 left: 0px; -moz-border-radius: 5%;
 padding: 4px; 
 position: absolute; 
 top: 0px;
 width: auto;
 z-index: 20;
}
div#toolTip p {margin: 0;
 padding: 0 3px; }
div#toolTip p em { display:block;
  margin-top:3px;  
  color:#f60;
  font-style:normal; 
  font-weight:bold; }


/* Tout ce qu'il y'a dans body */
#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	width: 1000px;
}

/* Logo en haut */
#logo { margin-bottom: 10px; width: 800px; }
#logo h1 { 
	padding: 33px 0px 0px 0px;
    margin: 0px;
    overflow: hidden;
    background-image: url(img/logo.png); 
    background-repeat: no-repeat;
    height: 0px !important; /* for most browsers */
    height /**/:33px; /* for IE5.5's bad box model */
	}


/* Y'a ?crit "zordania" */
#text_logo{
	display: none;
	visibility: hidden;
}

/* Boite de pub */
#pub {
	float: left; 
	width: 510x;
	margin-top: -10px;
}

/* Boite de stats */
#stats {
	float: left;
	width: 240px;
}

/* Boite du menu */
#menu {
	float: left;
	width: 180px;
}

#menu .bas, #stats .bas, #logo .bas {
background-image: url(img/centre_hor.png);
 height: 15px;

 }
 
 #menu .haut, #stats .haut, #logo .haut {
 background-color: #231e17; 
 background-image: url(img/centre_hor.png);
 background-repeat: repeat-x;  height: 15px;

 }

 #menu .centre, #stats .centre, #logo .centre  {
 	 background-color: #231e17; 
 background-image: url(img/centre_vert.png); 
 background-repeat: repeat-y; 	 
 background-position: left;

}

#menu .contenu, #logo .contenu{

	 background-image: url(img/centre_vert.png) ; 
	 background-repeat: repeat-y; 
	 background-position: right;
	 padding: 6px;
	 padding-left: 20px;
	 
}

#stats .contenu {
	 background-image: url(img/centre_vert.png) ; 
	 background-repeat: repeat-y; 
	 background-position: right;
	 padding: 6px;
	 padding-left: 20px;
	 min-height:100px;
}

#stats ul, #stats li {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

/* Espace entre les stats et la pub */
#espace_stats_pub {
float: left; visibility: hidden; width: 47px;
}

/* Div entre le menu et le centre, permet de les espacer */
#espace_menu_centre { float: left; visibility: hidden; width: 5px; }

/* Div qui contient le contenu du centre */
#module li {
	margin: 5px;
}

#module { background-color: #231e17; float: left; left: 10px; width: 620px; margin-top: -15px; }

#module .bas {
background-image: url(img/centre_hor.png);
 height: 15px;
}
#module .haut {
 background-color: #231e17; 
 background-image: url(img/centre_hor.png);
 background-repeat: repeat-x;  height: 15px;
}

#module .centre {
 	 background-color: #231e17; 
 background-image: url(img/centre_vert.png); 
 background-repeat: repeat-y; 	 
 background-position: left;
	
}

#module .contenu {
	 background-image: url(img/centre_vert.png) ; 
	 background-repeat: repeat-y; 
	 background-position: right;
	 padding: 6px;
	 padding-left: 20px;
	 padding-right: 20px;
	 
}



/* Bas .. pubs, etc */
#footer { color: #666666; font-size: 9px; text-align: center; }
#footer img { border: #000 1px solid; }
#footer li { display: inline; margin: 2px; }
#footer ul{ list-style-type: none; width: 100%; }


/* Copyright et Stats en bas */
#copy_and_stats { color: #FFF; }

/* Donjon */
#donjon{ margin: 0px; width: 100%; }
#donjon tr { background-color: #352D21; }
#donjon td {  border-color: #000000; border-style: solid; border-width: 1px; padding: 2px; }
#donjon th { background-color: #C1A79B; border-color: #000000; border-style: solid; border-width: 1px; }
#donjon ul{ list-style-position: inside; list-style-type: none; padding:0; margin: 0;}
#donjon li{ list-style-position: inside; list-style-type: none; padding:0 0 0 10px; margin: 0;}

/* Classes */

/* Boite de menu */
.menu_gauche{ border-color: #000; 
border-style: solid; 
border-width: 1px;
 margin-bottom: 20px;
width: 160px; }
 
.menu_gauche h2{  
background-color: rgb(0, 0, 0); 
 background-image: url(img/tile_sub.png);
 border-bottom: 1px #000 solid; 
 color: white;
 color: rgb(231, 214, 181);
 display: table-cell; 
 font-size: 120%;
 height: 25px; 
 margin: 0;
 text-align: center;
 vertical-align: middle;
 width: 160px; }

.menu_gauche li{ 

	margin-left: 15px 
}

.menu_gauche ul{ background-color: #231e17; 
	list-style-position: inside; 
	list-style-type: none; 
	margin: 0; 
	padding: 5px;  }

.menu_gauche ul li ul li
{ 
	margin: 0px; 
	padding: 2px !important; 
	padding: 1px;
	padding-bottom: 2px;
}


.menu_gauche ul li ul 
{ 
	margin-left: 0px;
	list-style-position: inside;
	list-style-type: disc;
} 

/* act-bar*/

#actbar {
	float: right;
	margin-top: -40px;
	margin-bottom: 5px;
	margin-right: 200px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 5px;
	border-color: #000000;
	border-style: solid; 
	border-width: 1px; 
	Background-color: #231e17;
	background-repeat: repeat-y ;
	height: 35px;
	}
 
#actbar li {
padding-left: 4px;
padding-right: 4px;
padding-top: 15px;
padding-bottom: 5px;
margin: 2px;
}


/*Forums*/

.forum {
	background-color: #231e17;
	background-image : url(img/forum.png);	
	background-repeat: no-repeat ;
	background-position: right top;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	color: rgb(231, 214, 181);
	padding: 5px;
	margin-top: 10px;
}

.block_forum {
	background-color: #231e17;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	color: rgb(231, 214, 181);
	padding: 5px;
	margin-top: 10px;
	}
	
.block_forum  a , .block_forum  a:link, .block_forum  a:hover, .block_forum  a:visited{ 
	color: rgb(231, 214, 181) ;
	text-decoration: none;
}
	
.titre {
	text-decoration: underline;
    font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	color: silver;
}

.forum h4 a{
	background-image: none;
	Color: rgb(231, 214, 181);
	font-family: Papyrus,Tahoma,Arial,sans-serif;
	border: none;
	text-decoration: none;
	font-size: 17px;
}

.desc {
	font-style: italic;
	text-indent: 25px;
}

.stat {
	/*background-color: #19120d;*/
	text-align: right;
	padding: 2px;
	width: 400px;
	margin-left: 169px;
	margin-top: 5px;
	margin-bottom: -5px;
	/*border-top: 1px #615f5f solid;
	border-left: 1px #615f5f solid;*/
}

.block_forum .signature {
	overflow: hidden;
	background-color: #504436;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.post 
{
min-height: 50px;
}

/* News */
.news, .forum, .block_forum { background-color: #352d21; border-color: #000; border-style: solid; border-width: 1px; color: #FFF; padding: 5px; margin-bottom: 10px; }

.comment { background-color: #352d21; border-color: #000000; border-style: solid; border-width: 1px; color: #FFF; margin-top: 5px; }

/* Signature dans le forum, fiche membre, etc .. */
.signature {  max-height: 15px; overflow: hidden; background-color: #504436; margin-bottom: 2px; margin-top: 5px; padding-left: 5px; padding-right: 5px; }

/* Listes (membres, alliances, etc) */
.liste { 
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.liste tr:hover {
	background-color: #463D32; border-color: #111111; 
}

/* Quand c'est un alli?e dans une liste */
.allie td, .allie tr {
background-color: #332b19; border-color: #111111;
}

/* Mini logo dans la liste ou sur le forum */
.mini_al_logo{
	height: 20px;
	width: 20px;
}

.perte{
	color:#99232C;
}
.gain{
	color:#237199;
}
.victoire,.defaite { 
	border-style: solid; 
	border-width: 1px;
	font-size: 1.1em;
	margin: 3px;
	padding: 2px;
	text-align: center;
}
.legion, .attaque { background-color: #6D6045; border-color: #000000; border-style: solid; border-width: 1px; margin: 10px; padding: 5px; }

.defaite{
	background-color: #CCCCCC; border-color: #FF0000; color: #FF0000;
}
.victoire{
	background-color: #CCCCCC; border-color: #226622; color: #226622;
}


/* Stats */
.barre_rouge,.barre_verte,.barre_grisec,.barre_grisef {
	background-repeat: repeat-x;
	color: #CCCCCC;
	float: left;
	height: 12px;
}
.barre_grisec{
	background-image: url(img/grisec.png);
}
.barre_grisef{
	background-image: url(img/grisef.png);
}
.barre_rouge{
	background-image: url(img/red.png);
}

.barre_verte{
	background-image: url(img/green.png);
}
.barres_grandes {
	width: 300px;
}
.barres_moyennes {
	width: 200px;
}
.barres_petites {
	width: 100px;
}
.barres_grandes,.barres_moyennes,.barres_petites {
	height: 0px;
	text-align: center;
}

/* Quelque chose de d?sactiv? */
.disabled{ background-color: #BCB29F; }

/* Block a metre en valeur */
.block {
background-color: #352d21; border-color: #000; border-style: solid; border-width: 1px; padding: 5px;
}

/* Pour le forum, mais pas seulement */
.quote { -moz-border-radius: 1%; width:90%; text-align:left; background-color: #4A3E23;font-style: italic; border:none; font-family: Verdana, Arial; font-size: 11px; padding: 5px;  margin:10px; }
.code {  width:90%; text-align:left; background-color: #4A3E23;  font-style: italic;  border: none;  font-family: Verdana, Arial;  font-size: 11px; padding: 5px;  margin:10px 0; }

/* Block de debug */
.debug{
	text-align: left;
	background-color: #000000;
	color: #fff;
	border: #ffffff solid 1px;
	padding: 5px;
}
.mysql{
	background-color: #DDDDDD;
	border: 1px #AAAAAA solid;
	color: #000000;
	text-align: left;
	padding: 5px;
	margin: 10px 0;
}

/* Batiment sur la page "Village" */
.batiment { width: 28%; background-color: #463D32; border-color: #000000; border-style: solid; border-width: 1px; float: left; margin: 5px; padding: 5px; }


/* Permet de faire des espaces, utilis? sur la page des b?timents et sur l'index */
.blason{ float: right; }


/* rosace pour la carte */
div#map{
  background: transparent url(img/rosace.png) no-repeat top center;
}
