@import url(../imports/base.css);

/*
* Design Général
*/
a{
	color: #3F4C66; font-size: 1em;
}
a:link, a:visited, a:active {
	color: #3F4C66; text-decoration: none;
}
a:hover {
	color: #4C5C7B; text-decoration: underline;
}

/* Lien bonus */
a.bonus {
	color: #3F4C66; font-weight: bold;
}

/* Lien votes */
a.votes{ 
	color: #CC3300; font-weight: bold;
}

body { background-color: #DFD9CD; background-image: none; color: #000000; font-family: Dejavu, Verdana,Tahoma,Arial,sans-serif; font-size: 80%; margin: 0px; text-align: center; }

/* Formulaires */
fieldset {
	padding: 5px;
}

input,select { background-color: #DFD9CD; border: thin solid #000000; color: #000000;  margin: 2px; }
textarea{ background-color: #DFD9CD; border: thin solid #000000; color: #000000; }
textarea:focus,input:focus{ background-color: #E8E1D3; }


/* Titres */
h1 { color: #222222; font-size: 1.5em; }
h2 { color: #333333; font-size: 1.25em; }
h3, h4, h5, h6 { font-size: 1.1em; }

hr { background-color: #060609; border-color: #666666; border-style: solid; border-width: 1px; width: 50%; }

/* Utilisé dans le manuel et les listes de bâtiments */
dd,dt{ margin: 1px; padding: 2px; }
dl li { margin: 3px; padding: 3px; }
dt{ margin-top:10px;  background-color: #BCB29F; }
dt { font-weight: bold; border: 1px #000 solid; margin-bottom: 0px;}
dd{ background-color: #CCC2AF; border: 1px #000 solid;  margin-top: -1px; }


/* Tableaux */
tr {
	background-color: #C0BCAE;
	text-align: left;
}
td {
	border: #000000 solid 1px;
	padding: 2px;
}
th {
	background-color: #B0B5A8;
	border: #000000 solid 1px;
	font-weight: bold;
	text-align: center;
}


/* NiceTitles */
div#toolTip { background-color: #CCC2AF; border-color: #000000; border-style: solid; border-width: 1px; color: #222222;  font-size: 0.8em; font-weight: bold; left: 0px; -moz-border-radius: 5%; padding: 4px; position: absolute; top: 0px; width: auto; z-index: 20; }
div#toolTip p { margin: 0; padding: 0 3px; }
div#toolTip p em {  display:block;  margin-top:3px;  color:#f60;  font-style:normal;  font-weight:bold; }


/* Tout ce qu'il y'a dans body */
#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	width: 980px;
}

/* Logo en haut */
#logo { margin-bottom: 6px; }

#logo .haut, #logo .bas { 
	display: none;
	visibility: hidden;
}

#logo h1 { 
	background-image: url("img/logo.png"); 
	background-repeat: no-repeat; height: 0px !important; /* for most browsers */ 
	height: 40px; /* for IE5.5's bad box model */ 
	margin: 0px; 
	overflow: hidden; 
	padding: 60px 0px 0px 0px;
	background-position: center left;
	}


/* Y'a écrit "zordania" */
#text_logo{
	display: none;
	visibility: hidden;
}

/* Boite de pub */
#pub {
	float: right; 
}
#pub .haut, #pub .bas { 
	display: none;
	visibility: hidden;
}

/* Boite de stats */
#stats {
	float: left;
	width: 260px;
}
#stats .haut, #stats .bas { 
	display: none;
	visibility: hidden;
}

/* Boite du menu */
#menu {
	float: left;
	width: 170px;
}

#stats .bas {
	margin-bottom: 5px;
 }
 
#stats .haut  {

 }

#stats .centre  {
    list-style-type: none; 
	background-color: #D4CCBB; 
	padding-top:0px; 
	padding-left:6px;
	border: #000000 1px solid;
}

#stats .contenu {
	padding: 6px; 
	padding-top: 20px;
	padding-left: 10px;
	min-height: 100px;
}

#menu .bas {

 }
 
#menu .haut {
 
 }

#menu .centre {
	background-color: #D4CCBB;
	border: #000000 1px solid;
}

#menu .contenu {

}

#logo .bas {

 }
 
#logo .haut {

 }

#logo .centre {
	background-color: #D4CCBB;
	border: #000000 1px solid;
}

#logo .contenu {
 
}

#stats ul, #stats li {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

/* Espace entre les stats et la pub */
#espace_stats_pub {
	float: left;
	visibility: hidden;
	width: 47px;
}

/* Div entre le menu et le centre, permet de les espacer */
#espace_menu_centre { float: left; visibility: hidden; width: 10px; }

/* Div qui contient le contenu du centre */
#module li {
	margin: 5px;
}

#module {
 background-color: #D4CCBB;
 background-image: none;
 float: left;
 left: 10px;
 width: 620px;
 margin-top: -10px;
}

#module .bas {
height:0px;
}
#module .haut {
height:0px;
}

#module .centre {

}

#module .contenu {
	background-color: #D4CCBB; background-image: none; border: 1px solid #000000; padding: 5px 25px 5px 25px;
}

#skyscraper {
 padding-right: 0px;
 margin-top: -10px;
 border: 1px solid #000000;
}

/* Bas .. pubs, etc */
#footer { color: #666666; font-size: 0.8em; text-align: center; }
#footer img { border: #000000 1px solid; }
#footer li { display: inline; margin: 2px; }
#footer ul{ list-style-type: none; width: 100%; }


/* Copyright et Stats en bas */
#copy_and_stats { color: #000000; }


/* Donjon */
#donjon{ margin: 0px; width: 100%; }
#donjon tr { background-color: #C0BCAE; }
#donjon td {  border-color: #000000; border-style: solid; border-width: 1px; padding: 2px; }
#donjon th { background-color: #B0B5A8; border-color: #000000; border-style: solid; border-width: 1px; }
#donjon ul{ list-style-position: inside; list-style-type: none; padding:0; margin: 0;}
#donjon li{ list-style-position: inside; list-style-type: none; padding:0 0 0 10px; margin: 0;}

/* Boite de menu */
.menu_gauche{ border-color: #000000; border-style: solid; border-width: 1px; margin-bottom: 20px; }
.menu_gauche h2{ background: #3D4A61; color: #FFFFFF; display: table-cell; font-size: 1.2em; height: 25px; margin: 0; text-align: center; vertical-align: middle; width: 168px; padding:0px; }
.menu_gauche li{ margin-left: 15px; }
.menu_gauche ul{ background-color: #D4CCBB; list-style-position: inside; list-style-type: none; margin: 0; padding: 5px; }
.menu_gauche ul li ul
{
	margin-left: 5px;
	list-style-position: outside;
	list-style-type: disc;
}

/* News */
.news { background-color: #CCC2AF; border-color: #000000; border-style: solid; border-width: 1px; color: #333333; margin-top:5px; padding: 5px; }
.news h3 { text-align: center; }
.comment { background-color: #CCC2AF; border-color: #000000; border-style: solid; border-width: 1px; color: #333333; margin-top: 5px; }

/* Signature dans le forum, fiche membre, etc .. */
.signature { border-left:1px solid #B0B5A8; max-height: 25px; overflow: hidden; background-color: #CCC2AF; margin-bottom: 2px; margin-top: 5px; padding-left: 5px; padding-right: 5px; }

/* Listes (membres, alliances, etc) */
.liste { 
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.liste tr:hover {
	background-color: #B0B5A8; border-color: #111111; 
}

/* Quand c'est un alliée dans une liste */
.allie td, .allie tr {
	background-color: #B0B5A8;
	border-color: #111111;
}

/* Mini logo dans la liste ou sur le forum */
.mini_al_logo{
	height: 20px;
	width: 20px;
}

.perte{
	color:#99232C;
}
.gain{
	color:#237199;
}

.legion, .attaque { background-color: #CCC2AF; border-color: #000000; border-style: solid; border-width: 1px; margin: 10px; padding: 5px; }


/* Stats */
.barre_rouge,.barre_verte,.barre_grisec,.barre_grisef {
	background-repeat: repeat-x;
	color: #CCCCCC;
	float: left;
	height: 12px;
}
.barre_grisec{
	background-image: url(img/grisec.png);
}
.barre_grisef{
	background-image: url(img/grisef.png);
}
.barre_rouge{
	background-image: url(img/red.png);
}

.barre_verte{
	background-image: url(img/green.png);
}
.barres_grandes {
	width: 300px;
}
.barres_moyennes {
	width: 200px;
}
.barres_petites {
	width: 100px;
}
.barres_grandes,.barres_moyennes,.barres_petites {
	height: 0px;
	text-align: center;
}

.ok {
    border-color: #226622;
    color: #226622;
	background: #D4CCBB;
    font-weight:bold;
	width: 455px;
}

/*#pub .ok{ // pifou 18 09 2009 : voir si c'est encore utile 
	margin-top: -150px;
}*/

/* Quelque chose de désactivé */
.disabled{ background-color: #BCB29F; }

/* Block a metre en valeur */
.block {
	background-color: #CCC2AF;
	border: #000000 solid 1px;
	padding: 5px;
}

/* Pour le forum, mais pas seulement */
.quote { color: #000; -moz-border-radius: 1%; width:90%; text-align:left; background-color: #BDAA87;font-style: italic; border:none;  padding: 5px;  margin:10px; }
.code {  color: #000; width:95%; text-align:left; background-color: #BDAA87;  font-style: italic;  border: none; padding: 5px;  margin: 10px 0; overflow: auto; }

/* Block de debug */
.debug{
	text-align: left;
	background-color: #CCC2AF;
	color: #000;
	border: #ffffff solid 1px;
	padding: 5px;
}
.mysql{
	background-color: #DDDDDD;
	border: 1px #AAAAAA solid;
	color: #000000;
	text-align: left;
	padding: 5px;
	margin: 10px 0;
}

/* Batiment sur la page "Village" */
.batiment { width: 28%; background-color: #CCC2AF; border-color: #000000; border-style: solid; border-width: 1px; float: left; margin: 5px; padding: 5px; }

.blason{ float: right; }

#actbar {
	float: right;
	margin-top: -41px;
	margin-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 5px;
	border-color: #000000;
	border-style: solid; 
	border-width: 1px; 
	Background-color: #D4CCBB;
	background-repeat: repeat-y ;
	height: 35px;
	}
 
#actbar li {
padding-left: 5px;
padding-right: 5px;
padding-top: 15px;
padding-bottom: 5px;
margin: 2px;
}

/*Forums*/

.forum {
	background-color: #CCC2AF;
	background-repeat: no-repeat ;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	padding: 5px;
	margin-top: 10px;
}

.block_forum {
	background-color: #CCC2AF;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	padding: 5px;
	margin-top: 10px;
	}
	
.block_forum  a , .block_forum  a:hover{ 
	color: #000000 ;
	text-decoration: none;
}
	
.block_forum  a:link, .block_forum  a:visited{
color: #000000;
}
	
.titre {
	text-decoration: underline;
    font-weight: bold;
	font-size: 13px;
	padding-left: 8px;
	color: #000000;
}

.forum h4 a{
	background-image: none;
	color: #3D4A61;
	font-family: Papyrus,Tahoma,Arial,sans-serif;
	border: none;
	text-decoration: none;
	font-size: 17px;
}

.desc {
	font-style: italic;
	text-indent: 25px;
}

.stat {
	/*background-color: #19120d;*/
	text-align: right;
	padding: 2px;
	width: 400px;
	margin-left: 156px;
	margin-top: 5px;
	margin-bottom: -5px;
	/*border-top: 1px #615f5f solid;
	border-left: 1px #615f5f solid;*/
}

.block_forum  {
	overflow: hidden;
	background-color: #CCC2AF;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.signature {
	overflow: hidden;
	background-color: #5A5B51;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.post 
{
min-height: 50px;
}

