{res[1][alt][1]} = ##Or##
{res[1][alt][2]} = ##Bois##
{res[1][alt][3]} = ##Pierres##
{res[1][alt][4]} = ##Nourriture##
{res[1][alt][5]} = ##Fer##
{res[1][alt][6]} = ##Charbon##
{res[1][alt][7]} = ##Chevaux##
{res[1][alt][8]} = ##Acier##
{res[1][alt][9]} = ##Mithril##
{res[1][alt][10]} = ##Bouclier En Bois##
{res[1][alt][11]} = ##Bouclier En Acier##
{res[1][alt][12]} = ##Epée##
{res[1][alt][13]} = ##Epée Longue##
{res[1][alt][14]} = ##Arc##
{res[1][alt][15]} = ##Arbalète##
{res[1][alt][16]} = ##Cotte de Mailles##
{res[1][alt][17]} = ##Cotte de mithril##
{res[1][alt][18]} = ##Forêt##
{res[1][alt][19]} = ##Gisement de Fer##
{res[1][alt][20]} = ##Gisement de Charbon##
{res[1][alt][21]} = ##Filon d'Or##
{res[1][alt][22]} = ##Population##
{res[1][alt][23]} = ##Montagne##

{btc[1][alt][1]} = ##Donjon##
{btc[1][alt][2]} = ##Carrière##
{btc[1][alt][3]} = ##Scierie##
{btc[1][alt][4]} = ##Maison##
{btc[1][alt][5]} = ##Ferme##
{btc[1][alt][6]} = ##Caserne##
{btc[1][alt][7]} = ##Mine d'Or##
{btc[1][alt][8]} = ##Marché##
{btc[1][alt][9]} = ##Armurerie##
{btc[1][alt][10]} = ##Laboratoire##
{btc[1][alt][11]} = ##Mine de Charbon##
{btc[1][alt][12]} = ##Mine de fer##
{btc[1][alt][13]} = ##Fonderie##
{btc[1][alt][14]} = ##Atelier##
{btc[1][alt][15]} = ##Ecurie##
{btc[1][alt][16]} = ##Tours##
{btc[1][alt][17]} = ##Ferme Améliorée##
{btc[1][alt][18]} = ##Eglise##
{btc[1][alt][19]} = ##Poudrière##
{btc[1][alt][20]} = ##Ecole de magie##
{btc[1][alt][21]} = ##Forteresse##

{btcact[1][title][1][unt]} = ##Former##
{btcact[1][title][1][src]} = ##Recherches##
{btcact[1][title][6][unt]} = ##Entraîner##
{btcact[1][title][8][ach]} = ##Commerce##
{btcact[1][title][9][res]} = ##Armurerie##
{btcact[1][title][14][unt]} = ##Atelier##
{btcact[1][title][15][res]} = ##Dressage##
{btcact[1][title][18][unt]} = ##Religion##
{btcact[1][title][20][unt]} = ##Magie##

{btcopt[1][1][unt]} = ##Former##
{btcopt[1][1][unt_unt]} = ##Unités en Formation##
{btcopt[1][1][unt_type]} = ##Unité##

{btcopt[1][1][src]} = ##Recherches##

{btcopt[1][6][unt]} = ##Entraîner##
{btcopt[1][6][unt_unt]} = ##Unités en Formation##
{btcopt[1][6][unt_type]} = ##Unité##

{btcopt[1][9][res]} = ##Fabriquer##
{btcopt[1][9][res_enc]} = ##Armes en Fabrication##
{btcopt[1][9][res_type]} = ##Armes##

{btcopt[1][10][src]} = ##Recherches##

{btcopt[1][14][unt]} = ##Fabriquer##
{btcopt[1][14][unt_enc]} = ##Machines en Fabrication##
{btcopt[1][14][unt_type]} = ##Machines##

{btcopt[1][15][res]} = ##Dresser##
{btcopt[1][15][res_enc]} = ##Chevaux en dressage##
{btcopt[1][15][res_type]} = ##Chevaux##

{btcopt[1][18][unt]} = ##Entraîner##
{btcopt[1][18][unt_unt]} = ##Unités en Formation##
{btcopt[1][18][unt_type]} = ##Unité##

{btcopt[1][20][unt]} = ##Entraîner##
{btcopt[1][20][unt_unt]} = ##Unités en Formation##
{btcopt[1][20][unt_type]} = ##Unité##

{btcopt[1][21][unt]} = ##Former##
{btcopt[1][21][unt_unt]} = ##Unités en Formation##
{btcopt[1][21][unt_type]} = ##Unité##

{btcopt[1][21][src]} = ##Recherches##



{unt[1][alt][1]} = ##Travailleur##
{unt[1][alt][2]} = ##Fermier##
{unt[1][alt][3]} = ##Forgeron##
{unt[1][alt][4]} = ##Bûcheron##
{unt[1][alt][5]} = ##Mineur##
{unt[1][alt][6]} = ##Chercheur##
{unt[1][alt][7]} = ##Recrue##
{unt[1][alt][8]} = ##Milicien##
{unt[1][alt][9]} = ##Archer##
{unt[1][alt][10]} = ##Arbalétrier##
{unt[1][alt][11]} = ##Fantassin##
{unt[1][alt][12]} = ##Fantassin Expérimenté##
{unt[1][alt][13]} = ##Chevalier##
{unt[1][alt][14]} = ##Chevalier Expérimenté##
{unt[1][alt][15]} = ##Catapulte##
{unt[1][alt][16]} = ##Bélier##
{unt[1][alt][17]} = ##Moine##
{unt[1][alt][18]} = ##Prêtre##
{unt[1][alt][19]} = ##Canon##
{unt[1][alt][20]} = ##Magicien##
{unt[1][alt][21]} = ##Sorcier##
{unt[1][alt][22]} = ##Trebuchet##
{unt[1][alt][23]} = ##Paladin##

{src[1][alt][1]} = ##Armes Niveau 1##
{src[1][alt][2]} = ##Armes Niveau 2##
{src[1][alt][3]} = ##Armes Niveau 3##
{src[1][alt][4]} = ##Défense Niveau 1##
{src[1][alt][5]} = ##Défense Niveau 2##
{src[1][alt][6]} = ##Défense Niveau 3##
{src[1][alt][7]} = ##Acier##
{src[1][alt][8]} = ##Elevage##
{src[1][alt][9]} = ##Commerce Niveau 1##
{src[1][alt][10]} = ##Commerce Niveau 2##
{src[1][alt][11]} = ##Commerce Niveau 3##
{src[1][alt][12]} = ##Armée Niveau 1##
{src[1][alt][13]} = ##Armée Niveau 2##
{src[1][alt][14]} = ##Armée Niveau 3##
{src[1][alt][15]} = ##Mine Niveau 1##
{src[1][alt][16]} = ##Mine Niveau 2##
{src[1][alt][17]} = ##Attelage##
{src[1][alt][18]} = ##Moine##
{src[1][alt][19]} = ##Prêtre##
{src[1][alt][20]} = ##Poudre##
{src[1][alt][21]} = ##Magie Blanche##
{src[1][alt][22]} = ##Magie Noire##