{res[1][descr][1]} = ##L'Or est la ressource principale du jeu.##
{res[1][descr][2]} = ##Le Bois permet de frabriquer des bâtiments ou des armes.##
{res[1][descr][3]} = ##Les pierres sont utilisées dans la construction des bâtiments et par les catapultes.##
{res[1][descr][4]} = ##La Nourriture est nécessaire à vos unités pour survivre.##
{res[1][descr][5]} = ##Le Fer permet de produire des armes.##
{res[1][descr][6]} = ##Le Charbon permet de faire de l'acier si on l'utilise dans une fonderie.##
{res[1][descr][7]} = ##Les Chevaux permettent de former des chevaliers.##
{res[1][descr][8]} = ##L'Acier est la base de toute bonne épée.##
{res[1][descr][9]} = ##Le mithril est plus précieux que l'or et plus résistant que l'acier.##
{res[1][descr][10]} = ##Les Bouclier En Bois protègent vos unités.##
{res[1][descr][11]} = ##Les Bouclier En Acier protègent mieux vos unités.##
{res[1][descr][12]} = ##L'Epée est l'arme de base du fantassin.##
{res[1][descr][13]} = ##L'Epée Longue est l'arme favorite des soldats experimentés.##
{res[1][descr][14]} = ##L'Arc permet de lancer des attaques à distance.##
{res[1][descr][15]} = ##L'Arbalette est plus précise et destructrice que l'arc ...##
{res[1][descr][16]} = ##La Cote de Maille protègera vos soldats.##
{res[1][descr][17]} = ##La cotte de mithril est extrêment légère et résistante.##
{res[1][descr][18]} = ##La Forêt permet de produire du Bois.##
{res[1][descr][19]} = ##Le fer est extrait des Gisements de Fer à l'aide de Mines de Fer.##
{res[1][descr][20]} = ##Le charbon est extrait des Gisements de Charbon à l'aide de Mines de Charbon.##
{res[1][descr][21]} = ##L'Or est extrait des Filons d'Or à l'aide de Mines d'Or.##
{res[1][descr][22]} = ##La place disponible pour vos unités.##
{res[1][descr][23]} = ##Les Montagnes permettent de produire des blocs de pierre.##

{btc[1][descr][1]} = ##Bâtiment Principal, permet d'effectuer des recherches et de former des unités civiles.##
{btc[1][descr][2]} = ##Produit des blocs de Pierre.##
{btc[1][descr][3]} = ##Produit du Bois.##
{btc[1][descr][4]} = ##Les Maisons servent à héberger les unités.##
{btc[1][descr][5]} = ##Produit la Nourriture nécessaire à vos unités.##
{btc[1][descr][6]} = ##La Caserne est le lieu de formation de vos soldats.##
{btc[1][descr][7]} = ##Produit de L'Or.##
{btc[1][descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs.##
{btc[1][descr][9]} = ##L'Armurerie permet de fabriquer des armes pour votre armée.##
{btc[1][descr][10]} = ##Le Laboratoire permet d'effectuer les recherches plus rapidement.##
{btc[1][descr][11]} = ##Produit du charbon.##
{btc[1][descr][12]} = ##Produit du fer.##
{btc[1][descr][13]} = ##Mélange le Charbon et le Fer pour Produire de L'Acier. A besoin de la recherche « Acier » pour fonctionner.##
{btc[1][descr][14]} = ##Permet de fabriquer des machines de guerre.##
{btc[1][descr][15]} = ##Elève les montures des chevalier. A besoin de la recherche « élevage » pour élever les chevaux.##
{btc[1][descr][16]} = ##Les Tours protègent votre village.##
{btc[1][descr][17]} = ##La Ferme améliorée produit plus que la ferme normale et peut héberger des personnes##
{btc[1][descr][18]} = ##L'Eglise permet de former des moines ou des prêtres##
{btc[1][descr][19]} = ##La Poudrière premet de fabriquer la poudre pour les canons.##
{btc[1][descr][20]} = ##L'Ecole de magie permet d'entraîner des magiciens ou des sorciers.##
{btc[1][descr][21]} = ##La Forteresse est la défense ultime pour votre village.##

{btcact[1][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[1][descr][1][src]} = ##Acquérir de nouvelles technologies ..##
{btcact[1][descr][6][unt]} = ##Entraîner des nouveaux soldats..##
{btcact[1][descr][8][ach]} = ##Acheter, Vendre, ...##
{btcact[1][descr][9][res]} = ##Construction d'armes pour les soldats.##
{btcact[1][descr][14][unt]} = ##Constructions d'engins de guerre.##
{btcact[1][descr][15][res]} = ##Dressage de chevaux.##
{btcact[1][descr][18][unt]} = ##Former des unités religieuses.##
{btcact[1][descr][20][unt]} = ##Former des unités magiques.##

{unt[1][descr][1]} = ##Le Travailleur construit et répare les bâtiments.##
{unt[1][descr][2]} = ##Le Fermier travaille dans les fermes pour produire de la nourriture.##
{unt[1][descr][3]} = ##Le Forgeron produit l'acier et fabrique les armes pour votre armée.##
{unt[1][descr][4]} = ##Le Bûcheron coupe le bois dont vous avez besoin.##
{unt[1][descr][5]} = ##Le Mineur travaille dans les différentes mines ou dans la carrière.##
{unt[1][descr][6]} = ##Le Chercheur accélère les recherches (uniquement dans le laboratoire).##
{unt[1][descr][7]} = ##La Recrue permet de former des soldats.##
{unt[1][descr][8]} = ##Le Milicien est le soldat de base.##
{unt[1][descr][9]} = ##L'Archer tue ses ennemis à distance.##
{unt[1][descr][10]} = ##L'arbalétrier est une version améliorée de l'archer.##
{unt[1][descr][11]} = ##Le Fantassin c'est cool.##
{unt[1][descr][12]} = ##Le Fantassin expérimenté est plus expérimenté que le fantassin tout court.##
{unt[1][descr][13]} = ##Le Chevalier joue à "la derniere croisade".##
{unt[1][descr][14]} = ##Le Chevalier Expérimenté est plus mieux que le Chevalier pas beau.##
{unt[1][descr][15]} = ##La Catapulte sert à catapulter des trucs.##
{unt[1][descr][16]} = ##Le Bélier il pète tout les murs qu'il voit !##
{unt[1][descr][17]} = ##Le Moine donne un bonus d'attaque à vos unités.##
{unt[1][descr][18]} = ##Le Prêtre donne un bonus de défense à vos unités.##
{unt[1][descr][19]} = ##Le Canon c'est comme la catapulte, mais en plus mieux.##
{unt[1][descr][20]} = ##Le Magicien est une unité magique défensive.##
{unt[1][descr][21]} = ##Sorcier est une unité magique offensive.##
{unt[1][descr][22]} = ##Le Trebuchet il fait très très bobo aux autres.##
{unt[1][descr][23]} = ##Il défend la justice et l'honneur au péril de sa vie.##

{src[1][descr][1]} = ##Donne accès aux armes de base (arc et épée).##
{src[1][descr][2]} = ##Permet de faire des armes plus solides/puissantes (Arbalète et épée longue)##
{src[1][descr][3]} = ##Permet de construire de véritables machines de guerre.##
{src[1][descr][4]} = ##Donne accès aux boucliers en bois.##
{src[1][descr][5]} = ##Permet de construire des boucliers en Acier.##
{src[1][descr][6]} = ##Permet de construire des tours de défense pour votre village.##
{src[1][descr][7]} = ##Le savoir nécessaire à la réalisation de l'acier.##
{src[1][descr][8]} = ##L'art d'élever des chevaux.##
{src[1][descr][9]} = ##Permet de vendre/acheter 50 ressources maximum au marché.##
{src[1][descr][10]} = ##Permet de vendre/acheter 500 ressources maximum au marché.##
{src[1][descr][11]} = ##Permet de vendre/acheter 5000 ressources maximum au marché.##
{src[1][descr][12]} = ##Permet de construire une caserne et des unités de base pour votre armée.##
{src[1][descr][13]} = ##Donne accès à l'armurerie et aux unités plus puissantes.##
{src[1][descr][14]} = ##Donne accès aux meilleurs unités de guerre.##
{src[1][descr][15]} = ##Permet de construire les mines de base.##
{src[1][descr][16]} = ##Donne accès aux mines de charbon et de fer (permet la fabrication de l'acier).##
{src[1][descr][17]} = ##L'Attelage permet d'augmenter la production de vos fermes grace aux fermes améliorées.##
{src[1][descr][18]} = ##Permet d'entrainer des Moines##
{src[1][descr][19]} = ##Permet d'entrainer des Prêtre##
{src[1][descr][20]} = ##Permet de faire des canons.##
{src[1][descr][21]} = ##Les secrets de la Magie Blanche##
{src[1][descr][22]} = ##Le pouvoir de la Magie Noire##
