{res[3][descr][1]} = ##L'or est la ressource tant convoitée par les nains.##
{res[3][descr][2]} = ##Le bois ne peut être acquis que par le commerce avec d'autres races.##
{res[3][descr][3]} = ##Les pierres sont très utilisées dans la construction des bâtiments.##
{res[3][descr][4]} = ##Les champignons sont la principale source de nourriture souterraine.##
{res[3][descr][5]} = ##Le fer permet de produire des armes et de l'acier.##
{res[3][descr][6]} = ##Le charbon permet de faire de l'acier lorsqu'on le fond avec du fer.##
{res[3][descr][7]} = ##Les chevaux servent peu aux nains et doivent aussi être achetés.##
{res[3][descr][8]} = ##L'acier est un alliage résistant très utilisé par les nains.##
{res[3][descr][9]} = ##Le mithril est plus précieux que l'or et plus résistant que l'acier.##
{res[3][descr][10]} = ##La massue est une arme traditionnelle des nains.##
{res[3][descr][11]} = ##Le marteau de combat est une version adaptée aux combats de la massue.##
{res[3][descr][12]} = ##La hache a de multiples usages chez les nains.##
{res[3][descr][13]} = ##La hache de guerre est l'instrument des meilleurs guerriers.##
{res[3][descr][14]} = ##La hache de combat tranche les gorges aussi vite que le souffle du dragon.##
{res[3][descr][15]} = ##Le marteau de guerre fait des ravages dans les rangs des assaillants.##
{res[3][descr][16]} = ##La cotte de maille protègera vos soldats.##
{res[3][descr][17]} = ##La cotte de mithril est extrêment légère et résistante.##
{res[3][descr][18]} = ##Les nains ne s'aventurent guère dans les forêts.##
{res[3][descr][19]} = ##Le fer est extrait des gisements de fer à l'aide de mines de fer.##
{res[3][descr][20]} = ##Le charbon est extrait des gisements de charbon à l'aide de mines de charbon.##
{res[3][descr][21]} = ##L'or est extrait des filons d'or en y creusant des mines.##
{res[3][descr][22]} = ##La place disponible pour vos unités.##
{res[3][descr][23]} = ##Les carrières permettent de produire des blocs de pierre.##


{btc[3][descr][1]} = ##Bâtiment principal, il permet d'effectuer des recherches et de former des unités civiles.##
{btc[3][descr][2]} = ##Permet d'héberger nos frères nains.##
{btc[3][descr][3]} = ##Permet de cultiver des champignons pour nous nourrir.##
{btc[3][descr][4]} = ##De beaux blocs de pierre sortiront de nos carrières!##
{btc[3][descr][5]} = ##C'est ici que nous récoltons le charbon.##
{btc[3][descr][6]} = ##Cette mine permet de récolter du fer.##
{btc[3][descr][7]} = ##Cette mine est sous bonne garde : on y trouve de l'or.##
{btc[3][descr][8]} = ##L'échoppe est un lieu de négoce où tout s'achète, pourvu qu'on y mette le prix!##
{btc[3][descr][9]} = ##C'est la première zone de fonte de l'acier.##
{btc[3][descr][10]} = ##La caserne permet de former de puissants guerriers nains.##
{btc[3][descr][11]} = ##L'école militaire donne une formation plus poussée aux troupes fraîches.##
{btc[3][descr][12]} = ##Le haut fourneau est une extension à la fonderie, qui permet de fondre des lingots d'acier supplémentaires. Il permet aussi d'augmenter notre rythme de recherche.##
{btc[3][descr][13]} = ##La fonderie de mithril est gourmande en ressources, mais produit le plus précieux des métaux.##
{btc[3][descr][14]} = ##Lorsque la forge gronde, de nouvelles armes sont fondues pour votre armée!##
{btc[3][descr][15]} = ##Permet de fabriquer des machines de guerre qui restent simplistes pour des nains.##
{btc[3][descr][16]} = ##La fabrique naine regroupe tout le savoir faire de nos Maîtres Artisans.##
{btc[3][descr][17]} = ##Les tours protègent la montagne et ceux qu'elle abrite.##
{btc[3][descr][18]} = ##Le Temple est un lieu de culte pour tous les nains.##
{btc[3][descr][19]} = ##L'ecole runique forme les nains versés dans les mystères des runes protectrices.##
{btc[3][descr][20]} = ##La citadelle protégera le peuple nain envers et contre tout!##


{btcact[3][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[3][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[3][descr][8][ach]} = ##Commercer pour obtenir de nouvelles denrées.##
{btcact[3][descr][10][unt]} = ##Entraîner de nouveaux soldats.##
{btcact[3][descr][11][unt]} = ##Former des recrues d'élite.##
{btcact[3][descr][14][res]} = ##Forger des armes pour vos soldats.##
{btcact[3][descr][15][unt]} = ##Construction d'engins de guerre simples.##
{btcact[3][descr][16][unt]} = ##Construction d'engins de guerre complexes.##
{btcact[3][descr][18][unt]} = ##Former des prètres.##
{btcact[3][descr][19][unt]} = ##Former des Maîtres des runes.##


{unt[3][descr][1]} = ##Le bâtisseur construit et répare les bâtiments.##
{unt[3][descr][2]} = ##Le cueilleur cultive et récolte les champignons.##
{unt[3][descr][3]} = ##Le mineur travaille dans les différentes mines.##
{unt[3][descr][4]} = ##Le Maître Forgeron travaille le métal comme personne.##
{unt[3][descr][5]} = ##Le Maître Artisan est spécialisé dans le montage de mécanismes.##
{unt[3][descr][6]} = ##L'ingénieur invente de nouveaux concepts et vérifie la bonne application de ceux-ci.##
{unt[3][descr][7]} = ##La recrue deviendra un jour un soldat.##
{unt[3][descr][8]} = ##Le vétéran est une recrue mieux formée.##
{unt[3][descr][9]} = ##Le héros est une recrue qui a reçu une formation exemplaire.##
{unt[3][descr][10]} = ##L'éclaireur s'infiltre dans les armées ennemies.##
{unt[3][descr][11]} = ##Le milicien veille à la sécurité.##
{unt[3][descr][12]} = ##Le combattant nain est un soldat aguerri.##
{unt[3][descr][13]} = ##Le défenseur nain protège les abords de la cité.##
{unt[3][descr][14]} = ##Le guerrier nain est le fleuron de l'infanterie naine.##
{unt[3][descr][15]} = ##Le protecteur nain se bat corps et âme pour la défense de la citadelle.##
{unt[3][descr][16]} = ##Le prêtre de Dumathoin se bat en l'honneur de son dieu protecteur.##
{unt[3][descr][17]} = ##Le prêtre de Moradin est fidèle au plus grand des dieux nains.##
{unt[3][descr][18]} = ##Le graveur de runes couvre les boucliers de runes défensives.##
{unt[3][descr][19]} = ##Le lanceur de runes grave des runes offensives sur les haches et les marteaux.##
{unt[3][descr][20]} = ##La catapulte attelée détruit les bâtiments avec plus de facilité que l'infanterie.##
{unt[3][descr][21]} = ##Le bélier attelé vous ouvrira une brèche dans les remparts ennemis.##
{unt[3][descr][22]} = ##Le bélier Tête-de-mort est la bête noire des défenses ennemies.##
{unt[3][descr][23]} = ##La baliste épaulera vos troupes contre l'infanterie ennemie.##
{unt[3][descr][24]} = ##Le transport de troupes amène vos soldats plus rapidement sur le champ de bataille.##


{src[3][descr][1]} = ##Permet de construire les mines de base.##
{src[3][descr][2]} = ##Donne accès aux mines d'or, indispensables pour tout nain qui se respecte.##
{src[3][descr][3]} = ##Permet de vendre/acheter 50 ressources maximum au marché.##
{src[3][descr][4]} = ##Permet de vendre/acheter 500 ressources maximum au marché.##
{src[3][descr][5]} = ##Permet de vendre/acheter 5000 ressources maximum au marché.##
{src[3][descr][6]} = ##Le savoir nécessaire à la réalisation de l'acier.##
{src[3][descr][7]} = ##Enrichi vos connaissance sur le travail de l'acier.##
{src[3][descr][8]} = ##Vous permet de fondre le précieux mithril.##
{src[3][descr][9]} = ##Vous permet de réaliser des machines de guerre simples.##
{src[3][descr][10]} = ##Vous permet de réaliser des machines de guerre complexes.##
{src[3][descr][11]} = ##Vous apprend les secrets des fortifications.##
{src[3][descr][12]} = ##Permet à votre peuple d'apprendre les secrets des runes offensives.##
{src[3][descr][13]} = ##Permet à votre peuple d'apprendre les secrets des runes défensives.##
{src[3][descr][14]} = ##Donne accès aux troupes de base.##
{src[3][descr][15]} = ##Donne accès à l'infanterie expérimentée.##
{src[3][descr][16]} = ##Donne accès aux meilleures unités d'infanterie.##
{src[3][descr][17]} = ##Permet de réaliser des armes de qualité pour vos combattants.##
{src[3][descr][18]} = ##Permet de créer des armes puissantes pour vos guerriers.##
{src[3][descr][19]} = ##Permet de créer des cottes de maille en acier.##
{src[3][descr][20]} = ##Permet de créer des cottes de maille de mithril.##
{src[3][descr][21]} = ##Permet la construction de machine de guerre connues de tous les nains.##
{src[3][descr][22]} = ##Permet la construction de machines de guerre plus complexes.##
{src[3][descr][23]} = ##Permet la construction des meilleures machines de guerre.##
{src[3][descr][24]} = ##Défini clairement votre allégeance à Moradin, dieu de la guerre.##
{src[3][descr][25]} = ##Renforce vos liens avec Dumathoïn, dieu de la protection.##