{res[5][descr][1]} = ##L'or est la monnaie utilisée sur le marché, et est récoltée grâce aux bardes dans les troupes et théâtres.##
{res[5][descr][2]} = ##Le bois est la ressource principale pour la construction chez les elfes, et est produit en grand quantité.##
{res[5][descr][3]} = ##La pierre n'est utilisée que pour la construction des bâtiments les plus importants, et n'est pas produite chez les elfes.##
{res[5][descr][4]} = ##Fruit de la cueillette, les baies forment la nourriture principale des elfes.##
{res[5][descr][5]} = ##Le bois d'if est, entre autres, parfait pour la confection des arcs elfiques.##
{res[5][descr][6]} = ##Le cuir sert pour la confection de bien des objets, tels qu'épées, bâtons, arcs et armures.##
{res[5][descr][7]} = ##Les chevaux elfiques sont des plus majestueux. Attelés et montés, ils permettent à certaines unités de combat d'augmenter leur rapidité et leur puissance.##
{res[5][descr][8]} = ##Issu d'une seconde fonte de l'acier usagé récupéré par les comptoirs elfiques, l'acier neuf est un alliage résistant utilisé pour la forge.##
{res[5][descr][9]} = ##Le mithril est plus précieux que l'or et plus résistant que l'acier, seuls les Nains le produisent.##
{res[5][descr][10]} = ##La rondache est le bouclier de base. Elle accroit la protection des unités de combat qui s'en servent.##
{res[5][descr][11]} = ##Le pavois est un bouclier haut et résistant. Il optimise la protection des unités de combat qui s'en servent.##
{res[5][descr][12]} = ##La lame est utilisée par de nombreuses unités de combat elfiques.##
{res[5][descr][13]} = ##La pique est une arme redoutable pour qui sait la manier. Elle est utilisée par certaines unités de combat elfiques.##
{res[5][descr][14]} = ##Le plus jeune elfe est capable de manier l'arc court, qui est utilisé par les archers communs.##
{res[5][descr][15]} = ##L'arc composite est une arme de qualité et très esthétique. Les archers les plus honorables l'utilisent avec une précision déconcertante.##
{res[5][descr][16]} = ##L'armure de cuir cloutée est une défense à la portée des unités de combat communes.##
{res[5][descr][17]} = ##Le harnois de mithril est une armure de haute qualité, et la preuve de toute la grandeur artistique du peuple elfique.##
{res[5][descr][18]} = ##Les forêts, coeur des secrets et de la magie elfiques, sont pour eux une source de bois.##
{res[5][descr][19]} = ##Des forêts d'if est extrait le bois du même nom.##
{res[5][descr][20]} = ##Les zones de chasse sont les endroits rêvés pour s'approvisionner en cuir.##
{res[5][descr][21]} = ##Les montagnes ne sont pas exploitables par les elfes.##
{res[5][descr][22]} = ##La place disponible pour vos unités.##
{res[5][descr][23]} = ##Les bourgades alentours accueillent avec plaisir les troupes et les théâtres des bardes elfiques.##


{btc[5][descr][1]} = ##Bâtiment principal, il permet d'effectuer des recherches et de former des unités civiles.##
{btc[5][descr][2]} = ##Permet d'extraire le bois des forêts.##
{btc[5][descr][3]} = ##Les maisons peuvent accueillir jusqu'à 5 elfes.##
{btc[5][descr][4]} = ##Relais des cueuilleurs, ce bâtiment sert à stocker les baies récoltées.##
{btc[5][descr][5]} = ##La troupe théâtrale se déplace dans les villages pour amasser l'or.##
{btc[5][descr][6]} = ##C'est ici qu'est travaillée la peau animale pour donner un cuir de la meilleure qualité qui soit.##
{btc[5][descr][7]} = ##Permet d'extraire le bois d'if des forêts du même nom.##
{btc[5][descr][8]} = ##C'est ici que s'entrainent les combattants de base.##
{btc[5][descr][9]} = ##Le marché permet de commercer avec les autres seigneurs zordaniens.##
{btc[5][descr][10]} = ##Ce bâtiment sert à fondre l'acier. Contrairement aux autres races zordaniennes, l'acier ne necessite pas ici de charbon ou de fer. Il s'agit d'acier usagé, fondu une nouvelle fois pour une seconde utilisation.##
{btc[5][descr][11]} = ##C'est ici que sont confectionnés les arcs elfiques.##
{btc[5][descr][12]} = ##C'est ici que sont forgées les armes elfiques.##
{btc[5][descr][13]} = ##La tour sert à protéger et à veiller sur la cité.##
{btc[5][descr][14]} = ##Dans la caserne sont entrainées les unités de combat intermédiaires.##
{btc[5][descr][15]} = ##Les chevaux sont élevés et dressés dans ces écuries.##
{btc[5][descr][16]} = ##Lorsqu'un village apprécie suffisement une troupe de barde, celle-ci peut enfin être remplacée par un théâtre permanent, qui rapportera plus d'or.##
{btc[5][descr][17]} = ##Antichambre du mystérieux savoir elfique, la bibliothèque attirera dans votre cité les elfes les plus nobles.##
{btc[5][descr][18]} = ##Les demeures peuvent accueillir jusqu'à 10 elfes.##
{btc[5][descr][19]} = ##Repaire des druides, le bosquet habite bien des créatures mystérieuses.##
{btc[5][descr][20]} = ##Les bosquets les plus paisibles accueillent quelques fois les vénérables, qui habitent dans ces antres.##
{btc[5][descr][21]} = ##Très fermée, l'école de magie forme avec rigueur les elfes les plus nobles jusqu'à en faire de redoutables gens de magie.##
{btc[5][descr][22]} = ##Ici sont entrainées les unités de combats les plus prestigieuses et les plus enviées.##
{btc[5][descr][23]} = ##Elevé à la gloire de votre divinité, le temple est le lieu de recueillement. C'est également ici que vous accueillerez l'avatar de votre guide divin.##
{btc[5][descr][24]} = ##Apogée architecturale de votre royaume, la cité sylvestre est un formidable assemblage d'organisation de défense pour votre peuple.##


{btcact[5][descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[5][descr][1][src]} = ##Acquérir de nouvelles technologies.##
{btcact[5][descr][8][unt]} = ##Entraîner des nouveaux combattants.##
{btcact[5][descr][9][ach]} = ##Commercer pour obtenir de nouvelles denrées ou matériaux.##
{btcact[5][descr][11][res]} = ##Confectionner les arcs elfiques.##
{btcact[5][descr][12][res]} = ##Forger les armes elfiques.##
{btcact[5][descr][14][unt]} = ##Entraîner des nouveaux combattants.##
{btcact[5][descr][15][res]} = ##Dresser les chevaux elfiques.##
{btcact[5][descr][19][unt]} = ##Convoquer de nouvelles créatures.##
{btcact[5][descr][20][unt]} = ##Convoquer de nouvelles créatures.##
{btcact[5][descr][21][unt]} = ##Lieu de formation des elfes mages.##
{btcact[5][descr][22][unt]} = ##Lieu de formation des chefs de guerre elfes.##
{btcact[5][descr][23][unt]} = ##Invoquer l'avatar de votre divinité.##


{unt[5][descr][1]} = ##Le serviteur réalise les tâches diverses nécessaires au bon fonctionnement de la cité.##
{unt[5][descr][2]} = ##Le cueilleur récolte les baies pour nourrir votre population.##
{unt[5][descr][3]} = ##Le forestier récolte le bois nécessaire au développement de votre royaume.##
{unt[5][descr][4]} = ##Le forgeron travaille l'acier et le mithril pour fabriquer les armes.##
{unt[5][descr][5]} = ##L'acolyte est voué à une carrière de combattant.##
{unt[5][descr][6]} = ##Le barde maitrise les arts musicaux et dramatiques. Il parcoure les villages pour partager ces arts et amasser l'or.##
{unt[5][descr][7]} = ##Le noble est voué à une carrière de haut combattant ou de mage.##
{unt[5][descr][8]} = ##L'éclaireur est l'unité de combat de base.##
{unt[5][descr][9]} = ##Le patrouilleur est l'unité de défense de base. ##
{unt[5][descr][10]} = ##Le rôdeur connaît mieux que personne la nature sauvage et ses secrets, et s'y déplace avec rapidité.##
{unt[5][descr][11]} = ##Le lancier est un combattant efficace.##
{unt[5][descr][12]} = ##L'archer manie l'arc court avec précision.##
{unt[5][descr][13]} = ##L'épéiste, comme le rôdeur, parcoure rapidement les plus longues distances, et est mieux équipé.##
{unt[5][descr][14]} = ##Le piquier est un combattant efficace et mieux équipé que le lancier.##
{unt[5][descr][15]} = ##Le garde manie l'arc composite, et défendra votre cité loyalement.##
{unt[5][descr][16]} = ##Le druide habite le bosquet, et y convoquera les créatures les plus étonnantes.##
{unt[5][descr][17]} = ##Dotée d'un mystérieux aura de beauté, la nymphe saura charmer vos ennemis jusqu'à les rendre fous.##
{unt[5][descr][18]} = ##Créature des temps anciens, le vénérable est aussi imposant que sage. Sa taille gigantesque s'avère être un atout majeur face aux constructions ennemies.##
{unt[5][descr][19]} = ##Le commandant est un chef de guerre hors pair. Il augmente le pouvoir offensif de votre armée de 1% (limité à 30% / incompatible avec le garde d'élite / condition : recherche "Maitrise offensive").##
{unt[5][descr][20]} = ##Le garde d'élite organise la défense de votre cité comme personne. Il augmente le pouvoir défensif de votre armée de 1% (limité à 30% / incompatible avec le commandant / condition : recherche "Maitrise défensive").##
{unt[5][descr][21]} = ##Le mage tire du savoir elfique un pouvoir occulte offensif redoutable.##
{unt[5][descr][22]} = ##Le gardien tire du savoir elfique un pouvoir occulte défensif très efficace.## 
{unt[5][descr][23]} = ##L'avatar de Corellon Larethian est la représentation terrestre de cette divinité. Il confère à ses compagnons d'arme une plus grande vitalité (incompatible avec l'avatar de Aerdrie Faenya / condition : recherche "Fidélité à Corellon Larethian"). En attendant que le système ne le permette, cette unité possède un bonus identique que pour les dieux drows.##
{unt[5][descr][24]} = ##L'avatar de Aerdrie Faenya est la représentation terrestre de cette divinité. Il confère à ses compagnons d'arme une plus grande rapidité de déplacement (incompatible avec l'avatar de Corellon Larethian / condition : "Fidélité à Aerdrie Faenya"). En attendant que le système ne le permette, cette unité possède un bonus identique que pour les dieux drows.##


{src[5][descr][1]} = ##Confère aux bardes la maitrise des arts musicaux.##
{src[5][descr][2]} = ##Permet la confection des armes de base.##
{src[5][descr][3]} = ##Permet la confection des armes les plus redoutables.##
{src[5][descr][4]} = ##Permet la confection des armures de cuir cloutées.##
{src[5][descr][5]} = ##Permet la confection des harnois de mithril.##
{src[5][descr][6]} = ##Permet la construction des tours pour défendre la cité.##
{src[5][descr][7]} = ##Savoir nécessaire au commandement d'une armée de base.##
{src[5][descr][8]} = ##Savoir nécessaire au commandement d'une armée d'élite.##
{src[5][descr][9]} = ##Permet de construire le marché et d'acheter/vendre des ressources pour 50 unités max.##
{src[5][descr][10]} = ##Permet d'acheter/vendre des ressources pour 500 unités max.##
{src[5][descr][11]} = ##Permet d'acheter/vendre des ressources pour 5000 unités max.##
{src[5][descr][12]} = ##Savoir nécessaire à la fonte de l'acier.##
{src[5][descr][13]} = ##Permet à certaines unités de combat de monter des chevaux.##
{src[5][descr][14]} = ##Confère aux bardes la maitrise des arts dramatiques.##
{src[5][descr][15]} = ##Confère à votre peuple les savoirs traditionnels elfiques.##
{src[5][descr][16]} = ##Confère à votre peuple les savoirs occultes elfiques.##
{src[5][descr][17]} = ##Confère à votre peuple les savoirs druidiques de base.##
{src[5][descr][18]} = ##Confère à votre peuple les savoirs druidiques les plus secrets.##
{src[5][descr][19]} = ##Donne accès au garde d'élite (incompatible avec "Maitrise offensive").##
{src[5][descr][20]} = ##Donne accès au commandant (incompatible avec "Maitrise défensive").##
{src[5][descr][21]} = ##Permet d'accueillir l'avatar de Aerdrie Faenya (incompatible avec "Fidélité en Corellon Larethian").##
{src[5][descr][22]} = ##Permet d'accueillir l'avatar de Corellon Larethian (incompatible avec "Fidélité en Aerdrie Faenya").##
