{css[1][1]} = ##Marron##
{css[2][1]} = ##Metal##
{css[3][1]} = ##Classik##
{css[4][1]} = ##Xeon##
{css[5][1]} = ##Karnage##
{css[6][1]} = ##Gore##
{css[7][1]} = ##Batards##
{css[8][1]} = ##Dark##
{css[9][1]} = ##Involution##
{css[10][1]} = ##ElficNight##
{css[11][1]} = ##Elf Power##
{css[12][1]} = ##Winterfell##
{css[13][1]} = ##Vide##

{css[1][0]} = ##marron##
{css[2][0]} = ##metal##
{css[3][0]} = ##classik##
{css[4][0]} = ##xeon##
{css[5][0]} = ##karnage##
{css[6][0]} = ##gore##
{css[7][0]} = ##batards##
{css[8][0]} = ##dark##
{css[9][0]} = ##involution##
{css[10][0]} = ##ElficNight##
{css[11][0]} = ##elfpower##
{css[12][0]} = ##winterfell##
{css[13][0]} = ##rien##

{race[1]} = ##Humains##
{race[2]} = ##Orcs##
{race[3]} = ##Nains##
{race[4]} = ##Drows##
{race[5]} = ##Elfes##

{leg[0]} = ##Au village##
{leg[1]} = ##Se dirige vers l'ennemi##
{leg[2]} = ##Retour au village##
{leg[3]} = ##En attente d'ordres.##

{pages[404]} = ##404##
{pages[a_propos]} = ##A Propos##
{pages[admin]} = ##Administration##
{pages[alliances]} = ##Alliances##
{pages[bonus]} = ##Bonus##
{pages[btc]} = ##Bâtiments##
{pages[class]} = ##TOP 50##
{pages[faq]} = ##FAQ##
{pages[gen]} = ##Donjon##
{pages[irc]} = ##Chat##
{pages[leg]} = ##Légions##
{pages[manual]} = ##Manuel##
{pages[member]} = ##Membres##
{pages[msg]} = ##Messagerie##
{pages[news]} = ##News##
{pages[prio]} = ##Priorités##
{pages[res]} = ##Ressources##
{pages[session]} = ##Sessions##
{pages[stats]} = ##Statistiques##
{pages[stat]} = ##Statistiques##
{pages[unt]} = ##Population##
{pages[war]} = ##Armée##
{pages[carte]} = ##Carte##
{pages[src]} = ##Recherches##
{pages[zzz]} = ##Mise en veille##
{pages[forum]} = ##Forums##
{pages[notes]} = ##Notes##
{pages[histo]} = ##Historique##

{groupes[1]} = ##Visiteur##
{groupes[2]} = ##Exilé##
{groupes[3]} = ##Joueur##
{groupes[4]} = ##Noble##
{groupes[5]} = ##Garde##
{groupes[6]} = ##Prêtre##
{groupes[7]} = ##Demi-Dieu##
{groupes[8]} = ##Dieu##

{recompense[1]} = ##Colons##
{recompense[2]} = ##Explorateur##
{recompense[3]} = ##Explorateur de Renom##
{recompense[4]} = ##Explorateur de Grand Renom##
{recompense[5]} = ##Bâtisseur##
{recompense[6]} = ##Dague de Tournois##
{recompense[7]} = ##Scribe##

{etat[1]} = ##Actif##
{etat[2]} = ##Validation##
{etat[3]} = ##ZzZzZ##

{carte[alt][1][0]} = ##Lac glacé##
{carte[alt][1][1]} = ##Montagne##
{carte[alt][1][2]} = ##Forêt enneigée##
{carte[alt][1][3]} = ##Emplacement Libre##
{carte[alt][1][4]} = ##Neige##
{carte[alt][1][5]} = ##Village##

{carte[alt][2][0]} = ##Lac##
{carte[alt][2][1]} = ##Montagne##
{carte[alt][2][2]} = ##Forêt##
{carte[alt][2][3]} = ##Emplacement Libre##
{carte[alt][2][4]} = ##Herbe##
{carte[alt][2][5]} = ##Village##

{carte[alt][3][0]} = ##Oasis##
{carte[alt][3][1]} = ##Dune de sable##
{carte[alt][3][2]} = ##Forêt##
{carte[alt][3][3]} = ##Emplacement Libre##
{carte[alt][3][4]} = ##Sable##
{carte[alt][3][5]} = ##Village##

{forum[etats][1][1]} = ##Post-it##
{forum[etats][1][0]} = ##Post-it Fermé##
{forum[etats][2][1]} = ##Annonce##
{forum[etats][2][0]} = ##Anonnce Fermée##
{forum[etats][3][1]} = ##Message##
{forum[etats][3][0]} = ##Fermé##

{vldacts[new]} = ##Nouveau##
{vldacts[del]} = ##Effacer##
{vldacts[edit]}= ##Editer##
{vldacts[res]}= ##Recommencer##

{lang[fr]} = ##Français##

{btc_etat[0]} = ##Actif##
{btc_etat[1]} = ##<span class="infos">Réparation</span>##
{btc_etat[2]} = ##<span class="infos">Inactif</span>##

{prios[0]}    = ##0 Aucune##
{prios[1]}    = ##1 Faible##
{prios[2]}    = ##2 Normal##
{prios[3]}    = ##3 Important##
{prios[4]}    = ##4 Vital##

{import[0]}    = ##<span style="color:darkgreen">Aucune</span>##
{import[1]}    = ##<span style="color:green">Faible</span>##
{import[2]}    = ##<span style="color:yellow">Normal</span>##
{import[3]}    = ##<span style="color:darkred">Important</span>##
{import[4]}    = ##<span style="color:red">Vital</span>##

{types[1]}	= ##Civil##
{types[2]}	= ##Infanterie##
{types[3]}	= ##Machine##
{types[4]}	= ##Créature##

{roles[1]}	= ##Mélée##
{roles[2]}	= ##Infanterie##
{roles[3]}	= ##Montée##
{roles[4]}	= ##Distance##
{roles[5]}	= ##Siège##

{atq_result[0][css][0]} = ##infos##
{atq_result[0][css][1]} = ##infos##
{atq_result[1][css][0]} = ##defaite##
{atq_result[1][css][1]} = ##victoire##
{atq_result[2][css][0]} = ##infos##
{atq_result[2][css][1]} = ##infos##
{atq_result[3][css][0]} = ##victoire##
{atq_result[3][css][1]} = ##defaite##

{atq_result[0][text][0]} = ##?????##
{atq_result[0][text][1]} = ##?????##
{atq_result[1][text][0]} = ##Votre défaite fait honte à votre race!##
{atq_result[1][text][1]} = ##Vos soldats sont fiers de vous avoir apporté la victoire!##
{atq_result[2][text][0]} = ##Malgré un combat acharné, aucune armée ne s'est distinguée...##
{atq_result[2][text][1]} = ##Malgré un combat acharné, aucune armée ne s'est distinguée...##
{atq_result[3][text][0]} = ##Vos soldats sont fiers de vous avoir apporté la victoire!##
{atq_result[3][text][1]} = ##Votre défaite fait honte à votre race!##

{news_cat[1]} = ##Nouveautées##
{news_cat[2]} = ##Commerce##
{news_cat[3]} = ##Blabla##
