/*******************
*	GENERAL
********************/

a
	{
	color:#712b2e;
	font-size:11px;
	text-decoration:none;
	}
	
a:hover
	{
	color:#F5F5F5;
	text-decoration:underline;
	}
	
a.bonus,a.evidence
	{
	font-weight:bold;
	}
	
body
	{
	background-color:#FFFFFF;
	background-image:url(../img/wis/back.png);
	color:#712b2e;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-size:10px;
	margin:0px;
	text-align:center;
	}

dd
	{
	background-color:#d0ae8d;
	margin:1px;
	}
	
dt
	{
	margin:1px;
	padding:2px;
	}

/* Nicetitle */
div.nicetitle
	{
	background:#d0ae8d;
	border:#000000 solid 1px;
	color:#222222;
	filter:Alpha( Opacity=75, Style=0); 
	font-family:Verdana, Helvetica, Arial, sans-serif; 
	font-size:9px; 
	left:0px; 
	-moz-border-radius:5%; 
	-moz-opacity:0.80;
	padding:4px; 
	position:absolute; 
	top:0px; 
	width:auto;
	}
	
div.nicetitle p
	{
	filter:Alpha( Opacity=100, Style=0); 
	margin:0; 
	-moz-opacity:1; 
	padding:0 3px;
	}
	
dl li
	{
	margin:3px;
	padding:3px;
	}
	
dt
	{
	margin-top:10px;
	background-color:#BCB29F;
	}
	
#div_page li
	{
	margin:5px;
	}
	
fieldset,#forums
	{
	padding:5px;
	}
	
h1
	{
	color:#FFFFFF;
	font-size:150%;
	}
	
h2
	{
	color:#FFFFFF;
	font-size:125%;
	}
	
h3:first-letter
	{
	font-weight:bold;
	font-size:1.2em;
	color:#b5703c;
	}
	
h3,h4,h5,h6
	{
	font-size:110%;
	text-indent:20px;
	}
	
hr
	{
	background-color:#060609;
	border:#666666 1px solid;
	width:50%;
	}


/*******************
*	COMMUN
********************/

img
	{
	border:0px;
	}
	
input,select
	{
	background-color:#baa586;
	border:1px solid #000000;
	color:#000000;
	font-size:11px;
	margin:2px;
	}
	
textarea
	{
	background-color:#baa586;
	border:1px solid #000000;
	color:#000000;
	font-size:13px;
	}
	
textarea:focus,input:focus
	{
	background-color:#cfb386;
	}
	
th
	{
	font-weight:bold;
	text-align:center;
	}
	
.allie td,tr
	{
	background-color:#dadcde;
	border-color:#111111;
	}
	
.barre_grisec
	{ 
	background:url(../img/wis/grisec.png); 
	}
	
.barre_grisef
	{ 
	background:url(../img/wis/grisef.png); 
	}
	
.barre_rouge
	{ 
	background:url(../img/stats/red.png); 
	}

.barre_rouge,.barre_verte,.barre_grisec,.barre_grisef 
	{ 
	background-repeat:repeat-x; 
	color:#CCCCCC; 
	float:left; 
	height:12px; 
	}
	
.barre_verte
	{ 
	background:url(../img/stats/green.png); 
	}
	
.barres_grandes 
	{ 
	width: 300px; 
	}
	
.barres_grandes,.barres_moyennes,.barres_petites 
	{ 
	height:0px; 
	text-align:center; 
	}
	
.barres_moyennes 
	{ 
	width:200px; 
	}
	
.barres_petites 
	{ 
	width:100px; 
	}
	
.block_1,#forums .forum
	{
	background-color:#ccc2af;
	background:url(../img/wis/list_univ.png);
	border:#000000 solid 1px;
	padding:5px;
	color:#333333; 
	}
	
.block_carte
	{
	height:500px;
	width:500px;
	}
	

/***********************************
*	DESIGN & POSITIONNEMENT
************************************/

#contenu
	{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	text-align:left;
	width:800px;
	background-color:#FFFFFF;
	background-image:url(../img/wis/back.png);
	}
	
#copy_and_stats
	{
	color:#712b2e;
	}
	
#div_page
	{
	background-color:#231E17;
	background-image:url(../img/wis/texture_fond.png);
	float:right;
	left:10px;
	width:620px;
	}
	
#espace_menu_centre
	{
	float:left;
	visibility:hidden;
	width:10px;
	}
	
#espace_stats_pub
	{
	float:left;
	visibility:hidden;
	width:47px;
	}
	
#footer
	{
	color:#712b2e;
	font-size:9px;
	text-align:center;
	}
		
#footer li
	{
	display:inline;
	margin:2px;
	}
	
#footer ul
	{
	list-style-type:none;
	width:100%;
	}
	
#forums .infos_pst 
	{ 
	background-color:#d6c6a4; 
	margin-bottom:2px; 
	margin-top:5px; 
	padding-left:5px; 
	padding-right:5px; 
	}
	
#forums .pst
	{ 
	background-color:#ccc2af; 
	border-color:#000000; 
	border-style:solid; 
	border-width:1px; 
	margin:5px; 
	margin-bottom:0px; 
	padding:6px;
	}
	
#forums .topic
	{ 
	background-color:#ccc2af; 
	border-color:#000000;
	border-style:solid; 
	border-width:1px;
	margin:5px; 
	padding:6px; 
	}
	
#forums .topic:hover
	{ 
	background-color:#d6c6a4; 
	border-color:#111111; 
	}
	
.signature 
	{ 
	max-height:15px;
	overflow:hidden; 
	background-color:#9d4e3c; 
	margin-bottom:2px;
	margin-top:5px; 
	padding-left:5px; 
	padding-right:5px; 
	}
	
#logo
	{
	margin-top:5px;
	width:800px;
	height:200px;
	}
	
#logo h1
	{
	padding:33px 0px 0px 0px;
	margin:0px;
    overflow:hidden;
    background:url(../img/wis/logo.png) no-repeat; 
    /*height: 0px !important; /* for most browsers */
    height /**/:118px; /* for IE5.5's bad box model */
	text-decoration:none;
	}
	
#logo a
	{
	visibility:hidden;
	}
	
#menu
	{
	float:left;
	width:170px;
	}
	
#stats
	{
	float:left;
	width:250px;
	height:150px;
	margin-top:12px;
	background:url(../img/wis/texture_fond.png);	
	margin-bottom:30px;
	}
	
#stats .contenu
	{
	height:126px;
	}
	
#pub .contenu
	{
	height:56px;
	}
	
#pub
	{
	float:right;
	width:500px;
	height:79px;
	margin-right:10px;
	background:url(../img/wis/texture_fond.png);
	}
	
#text_logo
	{
	display:none; 
	visibility:hidden;
	}
	
#amour
	{
	background-color:#352D21;
	color:#ffffff;
	padding:6px;
	border:2px solid #666666;
	}
	
	

/*******************
*	CONTENU
********************/

.border1 
	{ 
	margin-left:5%; 
	margin-right:5%; 
	width:90%; 
	}
	
.border1 tr 
	{ 
	background:url(../img/wis/list_univ.png);
	}
	
.border1 td 
	{  
	border-color:#000000; 
	border-style:solid; 
	border-width:1px; 
	padding:2px;
	}
	
.border1 th 
	{ 
	background-color:#9d4e3c; 
	border-color:#000000; 
	border-style:solid; 
	border-width:1px; 
	}
	
.border1 tr 
	{ 
	text-align: left; 
	}
	
.border1 tr:hover 
	{ 
	background-color:#d6c6a4; 
	border-color:#111111; 
	}
		
.cleaner 
	{ 
	clear:both;
	height:10px; 
	visibility:hidden; 
	}
	
.close_popup 
	{ 
	bottom:0em; 
	left:2px; 
	position:fixed; 
	text-align:center; 
	width:97%; 
	}
	
.contenu 
	{ 
	padding-left:6px; 
	height:156px;
	}	
	
.contenu2 
	{ 
	padding:5px 25px 5px 25px; 
	}
	
.defaite
	{ 
	background-color:#CCCCCC; 
	border-color:#FF0000; 
	color:#FF0000; 
	}
	
.disabled
	{ 
	background-color:#101010; 
	}
	
.error 
	{ 
	border-color:#FF0000; 
	color: #FF0000; 
	}
	
.error,.ok,.infos 
	{ 
	background-color:#A9A9A9; 
	border-style:solid; 
	border-width:1px;
	margin:3px;
	padding:2px; 
	-moz-opacity:0.50; 
	}
	
.gras
	{ 
	font-weight:bold;
	}

#stats .haut,#pub .haut
	{ 
	background:url(../img/wis/haut.png); 
	height:12px; 
	}
	
.haut2 
	{ 
	background:url(../img/wis/haut.png) repeat-x; 
	height:12px; 
	}
	
#stats .bas ,#pub .bas
	{ 
	background:url(../img/wis/bas.png); 
	height: 12px; 
	}
	
.bas2 
	{ 
	background:url(../img/wis/bas.png) repeat-x;
	height:12px; 
	}
	
.img_right
	{ 
	float:right; 
	}
	
.infos 
	{ 
	border-color:#666666; 
	color:#000000; 
	}
	
.italique
	{ 
	font-style:italic; 
	}
	
.list_univ 
	{ 
	background:url(../img/wis/list_univ.png);
	border:1px solid #666666; 
	margin:10px; 
	padding:5px; 
	}
	
.list_univ h2
	{ 
	float:left; 
	margin:10px; 
	margin-bottom:20px;
	margin-top:20px; 
	}
	
.list30 
	{ 
	width:28%; 
	}
	
.list30,.list50 
	{ 
	background-color:#352D21;
	border-color:#000000;
	border-style:solid; 
	border-width:1px;
	float:left; 
	margin:5px; 
	padding:5px; 
	}
	
.list50 
	{ 
	width: 45%; 
	}
	
.menu_gauche
	{ 
	margin-bottom:20px; 
	}
	
.menu_gauche h1
	{ 
	background:url(../img/wis/title.png);
	color:#E1B897; 
	display:table-cell; 
	font-size:120%; 
	height:25px; 
	padding-right:15px;
	text-align:center; 
	vertical-align:middle; 
	width:153px; 
	-moz-border-radius-topright:10%; 
	-moz-border-radius-bottomright:4%;
	}
	
.menu_gauche li
	{ 
	margin-left:30px; 
	}
	
.menu_gauche ul
	{ 
	background:url(../img/wis/menu.png) repeat-y; 
	list-style-position:inside; 
	list-style-type:none; 
	margin:0; 
	padding:5px; 
	}
	
.menu_gauche ul li ul li
	{ 
	margin:0px; 
	padding:0px; 
	}
	
.menu_gauche ul li ul li:before
	{ 
	content:"# "; 
	}
	
	
/*******************
*	DIVERS
********************/

.mysql
	{ 
	background-color:#DDDDDD; 
	border:1px #AAAAAA solid; 
	color:#000000; 
	text-align:left; 
	}
	
.news 
	{ 
	background-color:#CCC2AF; 
	border:1px solid #000000;
	color:#333333; 
	padding:5px; 
	}
	
.ok 
	{ 
	border-color:#226622; 
	color:#226622; 
	}
	
.overflow
	{ 
	overflow:auto;
	}
	
.quote,.code 
	{ 
	width:90%;
	background-color:#DADCDE; 
	color:#465584; 
	font-family:papyrus,Verdana, Arial; 
	font-size:11px; 
	padding-bottom:2px; 
	padding-left:10px; 
	padding-right:10px; 
	padding-top:2px; 
	text-align:left; 
	white-space:normal; 
	-moz-border-radius:5%; 
	}
	
.red
	{ 
	color:#FF0000; 
	}
	
.souligne
	{ 
	text-decoration:underline; 
	}
	
.titre_module,.retour_module,.center,.titre_news 
	{ 
	margin-left:auto; 
	margin-right:auto; 
	text-align:center; 
	}

.menu_module 
	{
	text-align:center;
	}

.victoire
	{ 
	background-color:#CCCCCC; 
	border-color:#226622; 
	color:#226622; 
	}
	
.victoire,.defaite 
	{ 
	border-style:solid; 
	border-width:1px; 
	font-size:1.1em; 
	margin:3px; 
	padding:2px; 
	text-align:center; 
	}

.village
	{ 
	background:#352D21; 
	border:dotted #642F0F 2px; 
	margin:2px; 
	padding:2px; 
	}
	
.vue_generale
	{ 
	margin:0px; 
	width:100%; 
	border-collapse:collapse;
	}
	
.vue_generale tr 
	{ 
	background:url(../img/wis/list_univ.png);
	}
	
.vue_generale td 
	{
	padding:0px; 
	}
	
.vue_generale th 
	{ 
	background-color:#b0b5a8; 
	border:1px #000000 solid;
	}
	
.vue_generale ul
	{ 
	list-style-position:inside; 
	list-style-type:none; 
	padding:0; 
	margin: 0;
	}
	
.vue_generale li
	{ 
	list-style-position:inside; 
	list-style-type:none; 
	padding:0 0 0 10px; 
	margin:0;
	}

.width100 
	{ 
	width:100%; 
	}
	
.zoom_1 img
	{ 
	height:50px; 
	width:50px; 
	}
	
.zoom_2 img
	{ 
	height:25px; 
	width:25px; 
	}
	
.zoom_2 img,.zoom_1 img, .img_left 
	{ 
	float:left; 
	}

.mini_al_logo
	{ 
	height:20px;
	width:20px; 
	}
	
.perte
	{ 
	color:#99232C; 
	}
	
.gain
	{ 
	color:#237199; 
	}