@import url(../imports/base.css);

/*
* Design Général
*/
a{ 
	font-size: 10px;
}

a:link, a:visited, a:active {
	color: silver; text-decoration: none;
}

a:hover {
	color: #4D5E7F; text-decoration: underline;
}

/* Lien bonus */
a.bonus{ 
	color: #6f8c3d; font-weight: bold;
}

/* Lien votes */
a.votes{ 
	color: #CC3300; font-weight: bold;
}

body {
	background-color: #000000 ;
    background-image: url(img/fond.png); 
    color: silver; 
	font-family: Verdana,Tahoma,Arial,sans-serif;
    font-size: 12px; 
    margin: 0px; 
    text-align: center;

}

/* Formulaires */
fieldset {
	padding: 5px;
}

input,select { 
background-color: #37373e; 
border: 1px solid #4D5E7F; 
color: #000000;
 font-size: 11px; 
 font-weight: bold;
 margin: 2px; 
 }
textarea{
    background-color: #37373e;
    border: thin solid #4D5E7F;
   color: #000000;
   font-size: 13px; 
}
textarea:focus,input:focus{ 
   background-color: #5c5c76;
}

/* Titres */
h1 
{ 
color: #FFFFFF; 
font-size: 150%; 
}

h2 
{
 color: #CCCCCC;
 font-size: 125%; 
 }
 
h3, h4, h5, h6 
{
 font-size: 110%; 
 }
 
/*** juste un hr :p ***/

hr 
{ 
background-color: #060609; 
border-color: #666666;
 border-style: solid;
 border-width: 1px; 
 width: 50%; 
 }

/* Utilisé dans le manuel et les listes de bâtiments */
dd
{ 
background-color: #000000;
}

dd,dt
{ 
margin: 1px; 
padding: 2px;
 }

dl li 
{
 margin: 2px; 
 padding: 2px; 
 }
 
dt
{ 
margin-top: 10px; 
background-color: #453D31;
 }

/* Tableaux */
tr {
	background-color: #2F2E26;
	text-align: left;
}
td {
	border: #000000 solid 1px;
	padding: 2px;
}
th {
	background-color: #49463A;
	border: #000000 solid 1px;
	font-weight: bold;
	text-align: center;
}


/* NiceTitles */
div#toolTip { 
    background-color: #555555;
    border-color: #000000; 
    border-style: solid;
    border-width: 0px;
    color: #FFFFFF; 
    filter: Alpha( Opacity=75, Style=0);
    font-family: Verdana, 
    Arial, sans-serif; 
    font-size: 10px; 
    font-weight: bold; 
    left: 0px; -moz-border-radius: 5%; -moz-opacity: 0.75; 
    padding: 5px;
    position: absolute;
    top: 0px; 
    width: auto;
    z-index: 20;
}
div#toolTip p {
	margin: 0;
	padding: 0 3px;
}
div#toolTip p em { 
	display:block; 
	margin-top:3px;
	color:#f60;
	font-style:normal;
	font-weight:bold;
}

/* Tout ce qu'il y'a dans body */
#contenu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	width: 1100px;
	position: relative;
}

/* Logo en haut */
#logo {
	width: 900px;
}
#logo .haut, #logo .bas {
	height: 2px;
}

#logo h1
{
    padding: 150px 0px 0px 0px;
    overflow: hidden;
    background-image: url(img/banniere.png); 
    background-repeat: no-repeat;
    height: 0px !important; /* for most browsers */
    height /**/:33px; /* for IE5.5's bad box model */
}

/* Y'a écrit "zordania" */
#text_logo{
	display: none;
	visibility: hidden;
}

/* Boite de pub */
#pub {
	margin-left: 50px;
	float: left; 
	width: 450px;
	filter:alpha(opacity=60); -moz-opacity:0.6; opacity: 0.6;
}
#pub .haut {
	height: 30px;
}

/* Boite de stats */
#stats {
	background-color:#000000;
	filter:alpha(opacity=70); -moz-opacity:0.9; opacity: 0.7;
	float: left;
	width: 250px;
}

#comptearebour, #date_rebour
{
color: #ffffff;
}

/* Boite du menu */
#menu {
	float: left;
	width: 160px;
	padding-right: 10px;
}
#menu .bas, #stats .bas {
 	background-image: url(img/bordhorizontal.png); height: 3px; 
 }
 
 #menu .haut, #stats .haut  {
 	background-image: url(img/bordhorizontal.png); height: 3px;
 }

 #menu .centre, #stats .centre  {
	background-color: #000000; background-image: url(img/bordvertical.png); background-repeat: repeat-y;
}

#menu .contenu, #stats .contenu {
	background: url(img/bordvertical.png) repeat-y right; 
	padding: 6px; 
	padding-left: 15px;
}

#stats .contenu  {
	min-height: 100px;
}

#stats ul, #stats li {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

/* Espace entre les stats et la pub */
#espace_stats_pub {
	float: left;
	visibility: hidden;
	width: 55px;
}

/* Div entre le menu et le centre, permet de les espacer */
#espace_menu_centre {
	float: left;
	visibility: hidden;
	width: 30px;
}

/* Div qui contient le contenu du centre */
#module li {
	margin: 5px;
}

#module {
	background-color: #000000;
	filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7;
	float: left;
	width: 690px; 
}

#module .bas {
	background-image: url(img/bordhorizontal.png);
	background-repeat: repeat-x;
	height: 3px; 
}
#module .haut {
	background-image: url(img/bordhorizontal.png);
	background-repeat: repeat-x;
	height: 3px;
}

#module .centre {
	background-image: url(img/bordvertical.png); 
	background-repeat: repeat-y;
}

#module .contenu {
	background-image: url(img/bordvertical.png); 
	background-position: right; 
	background-repeat: repeat-y; 
	padding: 40px 25px 5px 25px;
}

#actbar {
    position: absolute;
    top: 312px;
    height: 40px;
    text-align: right;
    left: 230px;
    z-index: 15;
}
#actbar ul {
    margin: 0px;
    background-image: url(img/bordhorizontal.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 4px;
}
#actbar a {
    margin: 0 5px 2px 5px;
}

#actbar li {
padding-left: 6px;
padding-right: 6px;
padding-top: 15px;
padding-bottom: 5px;
margin: 2px;
}

/* Bas .. pubs, etc */
#footer {
	color: #666666;
	font-size: 9px;
	text-align: center;
}
#footer img {
	border: #000000 1px solid;
}
#footer li {
	display: inline;
	margin: 2px;
}
#footer ul{
	list-style-type: none;
	width: 100%;
}

/* Copyright et Stats en bas */
#copy_and_stats {
	color: #FFFFFF;
}

/* Donjon */
#donjon
{ 
margin: 0px; 
width: 100%; 
}

#donjon tr 
{
 background-color: #000000;
 }
 
#donjon td
 {
 border-color: #979797;
 border-style: solid;
 border-width: 1px;
 padding: 2px; 
 }
 
#donjon th 
{ 
background-color: #191a33;
 border-color: #4D5E7F;
 border-style: solid;
 border-width: 1px; 
 }
 
#donjon ul
{
 list-style-position: inside;
 list-style-type: none;
 padding:0;
 margin: 0;
 }
 
#donjon li
{ 
list-style-position: inside;
 list-style-type: none;
 padding:0 0 0 10px; 
 margin: 0;
 }

/* Boite de menu */

.menu_gauche
{
 border-color: #4D5E7F;
 border-style: solid; 
 border-width: 1px; 
 margin-bottom: 20px;
 Background-color: #000000;
 filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7;
 background-repeat: repeat-y ;
 }
 
.menu_gauche h2
{ 
  color: #ffffff; 
   background-image : url(img/menu.png);	
  	filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7;
 display: table-cell;
 font-size: 120%;
 height: 20px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle;
 width: 168px;
 }
 
.menu_gauche li
{
 margin-left: 15px; 
 	padding-bottom: 2px;
 }
 
.menu_gauche ul
{ 
 list-style-position: inside;
 list-style-type: none;
 margin: 0;
 padding: 0px; 
 padding-top: 3px;
 padding-bottom: 3px;
 }
 
.menu_gauche ul li ul 
{ 
	margin-left: 5px;
	list-style-position: outside;
	list-style-type: disc;
} 

/*Forums*/

.forum {
	background-color: #151515;
	background-image : url(img/forum.png);	
	background-repeat: no-repeat ;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	padding: 5px;
	margin-top: 10px;
}

.block_forum {
	background-color: #151515;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	padding: 5px;
	margin-top: 10px;
	}
	
.block_forum  a , .block_forum  a:link, .block_forum  a:hover, .block_forum  a:visited{ 
	color: silver ;
	text-decoration: none;
}
	
.titre {
	text-decoration: underline;
    font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	color: silver;
}

.forum h4 a{
	background-image: none;
	Color: #11171e;
	font-family: Papyrus,Tahoma,Arial,sans-serif;
	border: none;
	text-decoration: none;
	font-size: 17px;
}

.desc {
	font-style: italic;
	text-indent: 25px;
}

.stat {
	/*background-color: #19120d;*/
	text-align: right;
	padding: 2px;
	width: 400px;
	margin-left: 218px;
	margin-top: 5px;
	margin-bottom: -5px;
	/*border-top: 1px #615f5f solid;
	border-left: 1px #615f5f solid;*/
}

.block_forum .signature {
	overflow: hidden;
	background-color: #303030;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.post 
{
min-height: 50px;
}


/* News */
.news{
	background-color: #000000;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 5px;
}


.news h3 {
	text-align: center;
	text-decoration: underline; 
	font-size: 17px;
	font-weight: lighter;
	font-style: italic;	
}

.comment 
{ 
	background-color: #000000; 
	border-color: silver; 
	border-style: solid; 
	border-width: 1px; 
	color: #ffffff; 
	margin-top: 5px; 
	padding-left: 5px;
}

/* Signature dans le forum, fiche membre, etc .. */
.signature {
	background-color: #303030;
	margin-bottom: 2px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Listes (membres, alliances, etc) */
.liste 
{ 
margin-left: 5%; 
margin-right: 5%; 
width: 90%; 
}

.liste tr:hover
 {
 background-color: #353535; 
 border-color: #111111; 
 }

/* Quand c'est un alliée dans une liste */
.allie td, .allie tr {

background-color: #00000f;
 border-color: #111111;
 
 }

/* Mini logo dans la liste ou sur le forum */
.mini_al_logo{
	height: 20px;
	width: 20px;
}

.perte{
	color:#99232C;
}
.gain{
	color:#237199;
}
.victoire,.defaite { 
	border-style: solid; 
	border-width: 1px;
	font-size: 1.1em;
	margin: 3px;
	padding: 2px;
	text-align: center;
}
.legion, .attaque {
	background-color: #060609;
	border: #666666 solid 1px;
	margin: 10px;
	padding: 5px;
}

.defaite{
	background-color: #CCCCCC; border-color: #FF0000; color: #FF0000;
}
.victoire{
	background-color: #CCCCCC; border-color: #226622; color: #226622;
}


/* Stats */
.barre_rouge,.barre_verte,.barre_grisec,.barre_grisef {
	background-repeat: repeat-x;
	color: #CCCCCC;
	float: left;
	height: 12px;
}
.barre_grisec{
	background-image: url(img/grisec.png);
}
.barre_grisef{
	background-image: url(img/grisef.png);
}
.barre_rouge{
	background-image: url(img/red.png);
}

.barre_verte{
	background-image: url(img/green.png);
}
.barres_grandes {
	width: 300px;
}
.barres_moyennes {
	width: 200px;
}
.barres_petites {
	width: 100px;
}
.barres_grandes,.barres_moyennes,.barres_petites {
	height: 0px;
	text-align: center;
}


.disabled{ background-color: #101010; }

/* Infos / Error / OK */
.error,.ok,.infos {
	background-color: #A9A9A9;
	border-style: solid;
	border-width: 1px;
	margin: 3px;
	padding: 2px;
}

/* Block a metre en valeur */
.block {
	background-color: #000000;
	color: #fff;
	border: #ffffff solid 1px;
	padding: 5px;
}

.block dl dt {
	background-color: silver;
	color: #000;
	}

/* Pour le forum, mais pas seulement */
.quote {
	-moz-border-radius: 1%;
	width: 90%;
	text-align: left;
	background-color: #4D5E7F;
	font-style: italic;
	border: none;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 5px;
	margin: 10px;
}
.code {
	width: 90%;
	text-align: left;
	background-color: #4D5E7F;
	font-style: italic;
	border: none;
	font-family: Verdana, Arial;
	font-size: 11px;
	padding: 5px;
	margin: 10px 0;
	overflow: auto;
}

/* Block de debug */
.debug{
	text-align: left;
	background-color: #000000;
	color: #fff;
	border: #ffffff solid 1px;
	padding: 5px;
}
.mysql{
	background-color: #DDDDDD;
	border: 1px #AAAAAA solid;
	color: #000000;
	text-align: left;
	padding: 5px;
	margin: 10px 0;
}

/* Batiment sur la page "Village" */
.batiment {
	width: 28%; 
	background-color: #352D21;
	border: silver solid 1px;
	float: left;
	margin: 5px;
	padding: 5px;
}


/* Permet de faire des espaces, utilisé sur la page des bâtiments et sur l'index */
.blason{ float: right; }

/* rosace pour la carte */
div#map{
  background: transparent url(img/rosace.png) no-repeat top center;
}
