{res[alt][1]} = ##Or##
{res[alt][2]} = ##Bois##
{res[alt][3]} = ##Pierres##
{res[alt][4]} = ##Nourriture##
{res[alt][5]} = ##Fer##
{res[alt][6]} = ##Charbon##
{res[alt][7]} = ##Chevaux##
{res[alt][8]} = ##Acier##
{res[alt][9]} = ##Bouclier En Bois##
{res[alt][10]} = ##Bouclier En Acier##
{res[alt][11]} = ##Epée##
{res[alt][12]} = ##Epée Longue##
{res[alt][13]} = ##Arc##
{res[alt][14]} = ##Arbalette##
{res[alt][15]} = ##Cote de Maille##
{res[alt][16]} = ##Forêt##
{res[alt][17]} = ##Gisement de Fer##
{res[alt][18]} = ##Gisement de Charbon##
{res[alt][19]} = ##Filon d'Or##
{res[alt][20]} = ##Population##
{res[alt][21]} = ##Montagne##

{btc[alt][1]} = ##Donjon##
{btc[alt][2]} = ##Carrière##
{btc[alt][3]} = ##Scierie##
{btc[alt][4]} = ##Maison##
{btc[alt][5]} = ##Ferme##
{btc[alt][6]} = ##Caserne##
{btc[alt][7]} = ##Mine d’or##
{btc[alt][8]} = ##Marché##
{btc[alt][9]} = ##Armurerie##
{btc[alt][10]} = ##Laboratoire##
{btc[alt][11]} = ##Mine de Charbon##
{btc[alt][12]} = ##Mine de fer##
{btc[alt][13]} = ##Fonderie##
{btc[alt][14]} = ##Atelier##
{btc[alt][15]} = ##Ecurie##
{btc[alt][16]} = ##Tours##
{btc[alt][17]} = ##Ferme Améliorée##
{btc[alt][18]} = ##Eglise##
{btc[alt][19]} = ##Poudrière##
{btc[alt][20]} = ##Ecole de magie##
{btc[alt][21]} = ##Forteresse##

{btcact[title][1][unt]} = ##Former##
{btcact[title][1][src]} = ##Recherches##
{btcact[title][6][unt]} = ##Entraîner##
{btcact[title][8][ach]} = ##Commerce##
{btcact[title][9][res]} = ##Armurerie##
{btcact[title][14][unt]} = ##Atelier##
{btcact[title][15][res]} = ##Dressage##
{btcact[title][18][unt]} = ##Religion##
{btcact[title][20][unt]} = ##Magie##

{unt[alt][1]} = ##Travailleur##
{unt[alt][2]} = ##Fermier##
{unt[alt][3]} = ##Forgeron##
{unt[alt][4]} = ##Bûcheron##
{unt[alt][5]} = ##Mineur##
{unt[alt][6]} = ##Chercheur##
{unt[alt][7]} = ##Recrue##
{unt[alt][8]} = ##Milicien##
{unt[alt][9]} = ##Archer##
{unt[alt][10]} = ##Arbalestier##
{unt[alt][11]} = ##Fantassin##
{unt[alt][12]} = ##Fantassin Expérimenté##
{unt[alt][13]} = ##Chevalier##
{unt[alt][14]} = ##Chevalier Expérimenté##
{unt[alt][15]} = ##Catapulte##
{unt[alt][16]} = ##Bélier##
{unt[alt][17]} = ##Moine##
{unt[alt][18]} = ##Prêtre##
{unt[alt][19]} = ##Canon##
{unt[alt][20]} = ##Magicien##
{unt[alt][21]} = ##Sorcier##
{unt[alt][22]} = ##Trebuchet##

{src[alt][1]} = ##Armes Niveau 1##
{src[alt][2]} = ##Armes Niveau 2##
{src[alt][3]} = ##Armes Niveau 3##
{src[alt][4]} = ##Défense Niveau 1##
{src[alt][5]} = ##Défense Niveau 2##
{src[alt][6]} = ##Défense Niveau 3##
{src[alt][7]} = ##Acier##
{src[alt][8]} = ##Elevage##
{src[alt][9]} = ##Commerce Niveau 1##
{src[alt][10]} = ##Commerce Niveau 2##
{src[alt][11]} = ##Commerce Niveau 3##
{src[alt][12]} = ##Armée Niveau 1##
{src[alt][13]} = ##Armée Niveau 2##
{src[alt][14]} = ##Armée Niveau 3##
{src[alt][15]} = ##Mine Niveau 1##
{src[alt][16]} = ##Mine Niveau 2##
{src[alt][17]} = ##Attelage##
{src[alt][18]} = ##Moine##
{src[alt][19]} = ##Prêtre##
{src[alt][20]} = ##Poudre##
{src[alt][21]} = ##Magie Blanche##
{src[alt][22]} = ##Magie Noire##