{res[descr][1]} = ##L'Or est la ressource principale du jeu.##
{res[descr][2]} = ##Le Bois permet de frabriquer des bâtiments ou des armes.##
{res[descr][3]} = ##Les Pierre sont utilisée dans la construction des bâtiments et part les catapultes.##
{res[descr][4]} = ##La Nourriture est nécessaire à vos unités pour survivre.##
{res[descr][5]} = ##Le Fer permet de produire des armes.##
{res[descr][6]} = ##Le Charbon permet de faire de l'acier si on l'utilise dans une fonderie.##
{res[descr][7]} = ##Les Chevaux permettent de former des chevaliers.##
{res[descr][8]} = ##L'Acier est la base de toute bonne épée.##
{res[descr][9]} = ##Les Bouclier En Bois protègent vos unités.##
{res[descr][10]} = ##Les Bouclier En Acier protègent mieux vos unités.##
{res[descr][11]} = ##L'Epée est l'arme de base du fantassin.##
{res[descr][12]} = ##L'Epée Longue est l'arme favorite des soldats experimentés.##
{res[descr][13]} = ##L'Arc permet de lancer des attaques à distance.##
{res[descr][14]} = ##L'Arbalette est plus précise et destructrice que l'arc ...##
{res[descr][15]} = ##La Cote de Maille protègera vos soldats.##
{res[descr][16]} = ##La Forêt permet de produire du Bois.##
{res[descr][17]} = ##Le fer est extrait des Gisements de Fer à l'aide de Mines de Fer.##
{res[descr][18]} = ##Le charbon est extrait des Gisements de Charbon à l'aide de Mines de Charbon.##
{res[descr][19]} = ##L'Or est extrait des Filons d'Or à l'aide de Mines d'Or.##
{res[descr][20]} = ##La place disponible pour vos unités.##
{res[descr][21]} = ##Les Montagnes permettent de produire des blocs de pierre.##

{btc[descr][1]} = ##Bâtiment Principal, permet d'effectuer des recherches et de former des unités civiles.##
{btc[descr][2]} = ##Produit des blocs de Pierre.##
{btc[descr][3]} = ##Produit du Bois.##
{btc[descr][4]} = ##Les Maisons servent a héberger les unités.##
{btc[descr][5]} = ##Produit la Nourriture nécessaire à vos unités.##
{btc[descr][6]} = ##La Caserne est le lieu de formation de vos soldats.##
{btc[descr][7]} = ##Produit de L'Or.##
{btc[descr][8]} = ##Le Marché permet de faire du commerce avec les autres joueurs.##
{btc[descr][9]} = ##L'Armurerie permet de fabriquer des armes pour votre armée.##
{btc[descr][10]} = ##Le Laboratoire permet d'effectuer les recherches plus rapidement.##
{btc[descr][11]} = ##Produit du charbon.##
{btc[descr][12]} = ##Produit du fer.##
{btc[descr][13]} = ##Mélange le Charbon et le Fer pour Produire de L'Acier. A besoin de la recherche « Acier » pour fonctionner.##
{btc[descr][14]} = ##Permet de fabriquer des machines de guerre.##
{btc[descr][15]} = ##Elève les montures des chevalier. A besoin de la recherche « élevage » pour élever les chevaux.##
{btc[descr][16]} = ##Les Tours protègent votre village.##
{btc[descr][17]} = ##La Ferme améliorée produit plus et peut héberger des personnes##
{btc[descr][18]} = ##L'Eglise permet de former des moines ou des prêtres##
{btc[descr][19]} = ##La Poudrière premet de fabriquer la poudre pour les canons.##
{btc[descr][20]} = ##L'Ecole de magie permet d'entraîner des magiciens ou des sorciers.##
{btc[descr][21]} = ##La Forteresse est la défense ultime pour votre village.##

{btcact[descr][1][unt]} = ##Former de nouvelles unités civiles.##
{btcact[descr][1][src]} = ##Acquérir de nouvelles technologies ..##
{btcact[descr][6][unt]} = ##Entraîner des nouveaux soldats..##
{btcact[descr][8][ach]} = ##Acheter, Vendre, ...##
{btcact[descr][9][res]} = ##Construction d'armes pour les soldats.##
{btcact[descr][14][unt]} = ##Constructions d'engins de guerre.##
{btcact[descr][15][res]} = ##Dressage de chevaux.##
{btcact[descr][18][unt]} = ##Former des unités religieuses.##
{btcact[descr][20][unt]} = ##Former des unités magiques.##

{unt[descr][1]} = ##Le Travailleur construit et répare les bâtiments.##
{unt[descr][2]} = ##Le Fermier travaille dans les fermes pour produire de la nourriture.##
{unt[descr][3]} = ##Le Forgeron produit l'acier et fabrique les armes pour votre armée.##
{unt[descr][4]} = ##Le Bûcheron coupe le bois dont vous avez besoin.##
{unt[descr][5]} = ##Le Mineur travaille dans les différentes mines ou dans la carrière.##
{unt[descr][6]} = ##Le Chercheur accélère les recherches (uniquement dans le laboratoire).##
{unt[descr][7]} = ##La Recrue permet de former des soldats.##
{unt[descr][8]} = ##Le Milicien est le soldat de base.##
{unt[descr][9]} = ##L'Archer tue ses ennemis a distance.##
{unt[descr][10]} = ##L'Arbalestier est une version améliorée de l'archer.##
{unt[descr][11]} = ##Le Fantassin c'est cool.##
{unt[descr][12]} = ##Le Fantassin expérimenté est plus expérimenté que le fantassin tout court.##
{unt[descr][13]} = ##Le Chevalier joue à "la derniere croisade".##
{unt[descr][14]} = ##Le Chevalier Expérimenté est plus mieux que le Chevalier pas beau.##
{unt[descr][15]} = ##La Catapulte sert à catapulter des trucs.##
{unt[descr][16]} = ##Le Bélier il pète tout les murs qu'il voit !##
{unt[descr][17]} = ##Le Moine donne un bonus d'attaque à vos unités.##
{unt[descr][18]} = ##Le Prêtre donne un bonus de défense à vos unités.##
{unt[descr][19]} = ##Le Canon c'est comme la catapulte, mais en plus mieux.##
{unt[descr][20]} = ##Le Magicien est une unité magique défensive.##
{unt[descr][21]} = ##Sorcier est une unité magique offensive.##
{unt[descr][22]} = ##Le Trebuchet il fait très très bobo aux autres.##


{src[descr][1]} = ##Donne accès aux armes de base (arc et épée).##
{src[descr][2]} = ##Permet de faire des armes plus solides/puissantes (Arbalète et épée longue)##
{src[descr][3]} = ##Permet de construire de véritables machines de guerre.##
{src[descr][4]} = ##Donne accès aux boucliers en bois.##
{src[descr][5]} = ##Permet de construire des boucliers en Acier.##
{src[descr][6]} = ##Permet de construire des tours de défense pour votre village.##
{src[descr][7]} = ##Le savoir nécessaire à la réalisation de l'acier.##
{src[descr][8]} = ##L'art d'élever des chevaux.##
{src[descr][9]} = ##Permet de vendre/acheter 50 ressources maximum au marché.##
{src[descr][10]} = ##Permet de vendre/acheter 500 ressources maximum au marché.##
{src[descr][11]} = ##Permet de vendre/acheter 5000 ressources maximum au marché.##
{src[descr][12]} = ##Permet de construire une caserne et des unités de base pour votre armée.##
{src[descr][13]} = ##Donne accès à l'armurerie et aux unités plus puissantes.##
{src[descr][14]} = ##Donne accès aux meilleurs unités de guerre.##
{src[descr][15]} = ##Permet de construire les mines de base.##
{src[descr][16]} = ##Donne accès aux mines de charbon et de fer (permet la fabrication de l'acier).##
{src[descr][17]} = ##L'Attelage permet d'augmenter la production de vos fermes grace aux fermes améliorées.##
{src[descr][18]} = ##Permet d'entrainer des Moines##
{src[descr][19]} = ##Permet d'entrainer des Prêtre##
{src[descr][20]} = ##Permet de faire des canons.##
{src[descr][21]} = ##Les secrets de la Magie Blanche##
{src[descr][22]} = ##Le pouvoir de la Magie Noire##
