{res[alt][1]} = ##Or##
{res[alt][2]} = ##Bois##
{res[alt][3]} = ##Pierres##
{res[alt][4]} = ##Viande##
{res[alt][5]} = ##Fer##
{res[alt][6]} = ##Charbon##
{res[alt][7]} = ##Loups géants##
{res[alt][8]} = ##Acier##
{res[alt][9]} = ##Armure en cuir##
{res[alt][10]} = ##Armure cloutée##
{res[alt][11]} = ##Epée##
{res[alt][12]} = ##Hache##
{res[alt][13]} = ##Arc##
{res[alt][14]} = ##Lance##
{res[alt][15]} = ##Armure en acier##
{res[alt][16]} = ##Forêt##
{res[alt][17]} = ##Gisement de Fer##
{res[alt][18]} = ##Gisement de Charbon##
{res[alt][19]} = ##Filon d'Or##
{res[alt][20]} = ##Population##
{res[alt][21]} = ##Montagne##

{btc[alt][1]} = ##Repaire##
{btc[alt][2]} = ##Carrière##
{btc[alt][3]} = ##Scierie##
{btc[alt][4]} = ##Hutte##
{btc[alt][5]} = ##Cabane de chasseur##
{btc[alt][6]} = ##Aire d'entrainement##
{btc[alt][7]} = ##Mine d’or##
{btc[alt][8]} = ##Marché##
{btc[alt][9]} = ##Forge##
{btc[alt][10]} = ##Mine de Charbon##
{btc[alt][11]} = ##Mine de fer##
{btc[alt][12]} = ##Fonderie##
{btc[alt][13]} = ##Atelier##
{btc[alt][14]} = ##Tannière des loups##
{btc[alt][15]} = ##Tours##
{btc[alt][16]} = ##Temple##
{btc[alt][17]} = ##Portail##
{btc[alt][18]} = ##Fortin##

{btcact[title][1][unt]} = ##Former##
{btcact[title][1][src]} = ##Recherches##
{btcact[title][6][unt]} = ##Entraîner##
{btcact[title][8][ach]} = ##Commerce##
{btcact[title][9][res]} = ##Armures##
{btcact[title][13][unt]} = ##Atelier##
{btcact[title][14][res]} = ##Dressage##
{btcact[title][16][unt]} = ##Magie##
{btcact[title][17][unt]} = ##Portail##

{unt[alt][1]} = ##Gobelin##
{unt[alt][2]} = ##Gobelin Chasseur##
{unt[alt][3]} = ##Gobelin Forgeron##
{unt[alt][4]} = ##Gobelin Bûcheron##
{unt[alt][5]} = ##Gobelin Creuseur##
{unt[alt][6]} = ##Orc##
{unt[alt][7]} = ##Soldat Orc##
{unt[alt][8]} = ##Soldat épée##
{unt[alt][9]} = ##Guerrier épée##
{unt[alt][10]} = ##Grand Guerrier épée##
{unt[alt][11]} = ##Soldat arc##
{unt[alt][12]} = ##Guerrier arc##
{unt[alt][13]} = ##Grand Guerrier arc##
{unt[alt][14]} = ##Soldat lance##
{unt[alt][15]} = ##Guerrier lance##
{unt[alt][16]} = ##Grand Guerrier lance##
{unt[alt][17]} = ##Soldat hache##
{unt[alt][18]} = ##Guerrier hache##
{unt[alt][19]} = ##Grand Guerrier hache##
{unt[alt][20]} = ##Dresseur de loup##
{unt[alt][21]} = ##Chevaucheur de loup##
{unt[alt][22]} = ##Grand chevaucheur de loup##
{unt[alt][23]} = ##Catapulte##
{unt[alt][24]} = ##Baliste##
{unt[alt][25]} = ##Belier##
{unt[alt][26]} = ##Gros Belier##
{unt[alt][27]} = ##Guerisseur##
{unt[alt][28]} = ##Shaman##
{unt[alt][29]} = ##Troll##
{unt[alt][30]} = ##Berseker##


{src[alt][1]} = ##Epées##
{src[alt][2]} = ##Haches##
{src[alt][3]} = ##Arcs##
{src[alt][4]} = ##Lances##
{src[alt][5]} = ##Défense Niveau 1##
{src[alt][6]} = ##Défense Niveau 2##
{src[alt][7]} = ##Défense Niveau 3##
{src[alt][8]} = ##Acier##
{src[alt][9]} = ##Elevage##
{src[alt][10]} = ##Commerce Niveau 1##
{src[alt][11]} = ##Commerce Niveau 2##
{src[alt][12]} = ##Armée Niveau 1##
{src[alt][13]} = ##Armée Niveau 2##
{src[alt][14]} = ##Armée Niveau 3##
{src[alt][15]} = ##Mine Niveau 1##
{src[alt][16]} = ##Mine Niveau 2##
{src[alt][17]} = ##Guerisseurs##
{src[alt][18]} = ##Shamans##
{src[alt][19]} = ##Trolls##
{src[alt][20]} = ##Berserker##
{src[alt][21]} = ##Machines##